@import "compass/css3";
@import "compass/css3/pie";

$pie-behavior: url("/static/css/PIE.htc");
$pie-base-class: ie8;

.ie8, .ie7 {
  @include pie-element(relative);
}

$blue: #0F6187;
$orange: #FA981D;
$red: #D1071D;
$brown: #511606;

body {
    padding-top: 0px;
    font-family: 'Karla', sans-serif;
}

a {
    text-decoration: none!important;
}

a:before {
    margin-right: 5px;
    content: ">";
}

header {
    background: url(../img/header.png) no-repeat;
}

#header-logo {
    margin-top: 12px;
    width: 219px;
    height: 143px;
}

#header-logo h1 {
    margin: 0;
}

#header-legend {
    margin-top: 57px;
    margin-left: 219px;
    padding: 5px 5px 5px 10px;
    width: 530px;
    height: 88px;
    background-color: $blue;
    color: #fff;
    font-size: 0.88em;
}

#header-legend p {
    margin: 5px 0 0 0;
}

#header-legend h1 {
    margin: 0;
    font-size: 2.1em;
    line-height: 1.1;
}

.lt-ie9 #header-legend h1 {
    font-size: 2em;
}

#header-garnish {
    margin-top: 57px;
    width: 176px;
    height: 98px;
    background: url(../img/header-garnish.png) no-repeat;
}

#header-photo {
    margin: 10px 0;
    padding: 25px 10px;
    height: 185px;
    background: url(../img/photo.png) no-repeat;
}

#header-photo h2{
    color: #FBC001;
    font-size: 2.7em;
}

nav {
    height: 20px;
}

#nav-first {
    width: 210px;
    background-color: $red;
}

#nav-second {
    width: 513px;
    background-color: $blue;
}

#nav-second li a:before{
    margin: 0;
    content: "";
}

nav ul {
    margin: 0;
}

nav li {
    display: inline-block;
    padding: 0 10px;
    padding: 0 12px 0 8px;
    border-right: 2px solid #fff;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 0.8em;
    line-height: 12px;
}

.lt-ie8 #nav-second li {
    float: left;
    margin: 5px 0;
    height: 15px;
}

.lt-ie8 nav .dropdown-button li {
    margin-top: 2px;
    height: 11px;
}

nav li:before {
    display: none;
}

nav li.last {
    border-right: 0;
}

nav li a, nav li a:focus, nav li a:hover, nav li a:visited {
    display: block;
    color: #fff;
    text-decoration: none;
}

nav .dropdown li {
    border-right: 0;
    font-size: 1.1em;
}

nav li.dropdown a:before {
    float: left;
    margin-right: 5px;
    color: #fff;
    content: ">";
}

nav .dropdown-menu {
    @include opacity(0.95);
    @include box-shadow(2px 2px 5px rgba(0,0,0,0.2));
    margin: 0;
    min-width: 210px;
    border: 0;
    background-color: $red;
    @include border-radius(0);
}

nav .dropdown-menu li {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0.9em;
}

nav .dropdown-menu li a, nav .dropdown-menu li a:visited {
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 0;
    padding-left: 0;
    border-bottom: 1px dotted #fff;
    color: #fff;
    font-weight: bolder;
}
nav .dropdown-menu li:last-child a, nav .dropdown-menu li:last-child a:visited {
    border-bottom: 0;
}

nav .dropdown-menu li a:hover, nav .dropdown-menu li a:focus {
    background: none!important;
    background-color: $red!important;
}

nav .dropdown-menu li a:before {
    display: none;
    content: 0;
}

#nav-garnish {
    width: 217px;
    height: 20px;
    background: url(../img/nav-garnish.png) no-repeat;
}

[class*="span"] {
    position: relative;
}

.ie7 #main {
    margin-top: 10px;
}

#main .block {
    @include box-shadow(4px 4px 7px #bbb);
    @include pie;
    margin: 20px 0;
    background-color: #fff;
}

#main .block h3 {
    margin: 5px 0;
    margin-top: 0;
    padding-left: 15px;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.1em;
    line-height: 20px;
}

#main .block h3:before {
    margin-right: 5px;
    content: ">";
}

#main .block.blue h3 {
    background-color: $blue;
}

#main .block.orange h3 {
    background-color: $orange;
}

#main .block.red h3 {
    background-color: $red;
}

#main .block.brown h3 {
    background-color: $brown;
}

#main .block h4 {
    margin: 0;
    padding-left: 5px;
    font-size: 1em;
}

#main .block.blue h4 {
    border-left: 2px solid $blue;
    color: $blue;
}

#main .block.orange h4 {
    border-left: 2px solid $orange;
    color: $orange;
}


#main .block.red h4 {
    border-left: 2px solid $red;
    color: $red;
}

#main .block.brown h4 {
    border-left: 2px solid $brown;
    color: $brown;
}

#main .block article {
    padding: 5px 15px;
}

#main .block article p {
    padding: 5px;
}

#main .block.red article p {
    border-left: 2px solid $red;
}

#main .block .more {
    text-transform: uppercase;
    font-weight: bolder;
}

#main .block.blue a {
    color: $blue;
}

#main .block.orange a {
    color: $orange;
}

#main .block.red a {
    color: $red;
}

#main .block.brown a {
    color: $brown;
}

#calendar {
    text-align: center;
}

#calendar a {
    font-weight: bolder;
}

#theme {
    height: 94px;
    background: url(../img/theme-map.png) no-repeat 0 20px;
}

#theme li {
    list-style: none;
}

#theme li {
    font-weight: bolder;
}

footer {
    height: 217px;
    background: url(../img/footer.png) no-repeat;
}

#footer-logo {
    width: 220px;
    height: 67px;
}

#footer-logo address {
    margin-left: 10px;
    color: #58585a;
    font-weight: bolder;
    font-size: 0.6em;
    line-height: 15px;
}

#footer-logo address a {
    color: #58585a;
}

#footer-logo address a:before {
    display: none;
    content: "";
}

#footer-social {
    margin-left: 220px;
    width: 504px;
    height: 68px;
    background-color: $blue;
    color: #fff;
}

#footer-social img {
    margin: 20px 0 0 10px;
}

.ie8 #footer-social img {
    margin: 20px 0 0 8px;
}

#footer-social a:before {
    display: none;
    content: "";
}

#footer-social nav {
    margin-top: 25px;
    margin-right: 10px;
    font-size: 0.9em;
}

#footer-social nav li {
    padding: 0 5px;
    border: 0;
}

#footer-social a{
    display: inline-block;
}

.lt-ie8 #footer-social nav ul {
    //@extend clearfix
}

.lt-ie8 #footer-social nav li {
    float: left;
}

#footer-garnish {
    width: 216px;
    height: 68px;
    background: url(../img/footer-garnish.png) no-repeat;
}

/* I D E N T I F I E R */
.pic {
    margin-top: 4px;    
}

.pic p, .caption {
    margin: 4px 0 10px;
    color: #666;
    font-size: 11px;
    font-family: Verdana, Arial, sans-serif;
    line-height: 16px;
}
/* P L A C E M E N T */
.pic.left {
    float: left;
    margin-right: 20px;
}
.pic.right {
    float: right;
    margin-left: 20px;
}
.pic.right.inset {
    margin: 0 120px 0 20px;
}
/* img floated right within text */
.pic.left.inset {
    margin-left: 230px;
}
/* img floated left within text */
/* S I Z E */
.one {
    width: 10%;
}
.two {
    width: 20%;
}
.three {
    width: 30%;
}
.four {
    width: 40%;
}
.five {
    width: 50%;
}
.six {
    width: 60%;
}
.seven {
    width: 70%;
}
.eight {
    width: 80%;
}
/* A D D I T I O N S */
.frame {
    border: 10px solid #fff;
    -webkit-box-shadow: 0 1px 5px #000;
    -moz-box-shadow: 0 1px 5px #000;
    box-shadow: 0 1px 5px #000;
}
.solo img {
    margin-bottom: 20px;
}


.right {
    float: right;
}

.left {
    float: left;
}
