
{% load thumbnail %}
{% load i18n %}
{% for item in items %}
<table cellpadding="0" cellspacing="0" border="0" class="newsletter-item">
    <tr>
        {% comment %}
        {% if item.logo %}
            {% thumbnail item.logo "80x80" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
             {% endthumbnail %}
        {% endif %}
        {% endcomment %}
        <td class="item-content" valign="top">
            <h4><a href="http://www.eadsi-auvergne.fr{{item.get_absolute_url}}">{{item.label}}</a>
            {% if item.expiration_date %}<br/>Date limite : {{ item.expiration_date|date:"j F Y" }}{% endif %}
            </h4>
            {% if item.description %}
            <span class="summary">
                {{ item.summary|striptags|safe|truncatewords:30 }}
                <a class="read-more" href="http://www.eadsi-auvergne.fr{{item.get_absolute_url}}">Lire la suite</a>
            </span>
            {% endif %}
        </td>{% if item.logo %}<td valign="top" align="center" width="90">
            {% thumbnail item.logo "80x80" as im %}
                <img src="http://www.eadsi-auvergne.fr{{ im.url }}" class="article-logo" width="{{ im.width }}" height="{{ im.height }}">
             {% endthumbnail %}
        </td>{% endif %}
    </tr>
</table>
{% if not forloop.last %}<br>{% endif %}
{% endfor %}