{% load url from future %}
{% load i18n thumbnail %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{LANG}}" xml:lang="{{LANG}}">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <title>{{newsletter.subject}}</title>
    <link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <style type="text/css">
        /* Based on The MailChimp Reset INLINE: Yes. */  
        /* Client-specific Styles */
        #outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
        body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;} 
        /* Prevent Webkit and Windows Mobile platforms from changing default font sizes.*/ 
        .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */  
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
        /* Forces Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */ 
        #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
        /* End reset */

        /* Some sensible defaults for images
        Bring inline: Yes. */
        img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;} 
        a img {border:none;} 
        .image_fix {display:block;}

        /* Yahoo paragraph fix
        Bring inline: Yes. */
        p {margin: 1em 0;}


        /* Outlook 07, 10 Padding issue fix
        Bring inline: No.*/
        table td {border-collapse: collapse;}

        /* Remove spacing around Outlook 07, 10 tables
        Bring inline: Yes */
        table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }

        /* Styling your links has become much simpler with the new Yahoo.  In fact, it falls in line with the main credo of styling in email and make sure to bring your styles inline.  Your link colors will be uniform across clients when brought inline.
        Bring inline: Yes. */
        a {color: orange;}


        /***************************************************
        ****************************************************
        MOBILE TARGETING
        ****************************************************
        ***************************************************/
        @media only screen and (max-device-width: 480px) {
            /* Part one of controlling phone number linking for mobile. */
            a[href^="tel"], a[href^="sms"] {
                        text-decoration: none;
                        color: blue; /* or whatever your want */
                        pointer-events: none;
                        cursor: default;
                    }

            .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
                        text-decoration: default;
                        color: orange !important;
                        pointer-events: auto;
                        cursor: default;
                    }

        }

        /* More Specific Targeting */

        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        /* You guessed it, ipad (tablets, smaller screens, etc) */
            /* repeating for the ipad */
            a[href^="tel"], a[href^="sms"] {
                        text-decoration: none;
                        color: blue; /* or whatever your want */
                        pointer-events: none;
                        cursor: default;
                    }

            .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
                        text-decoration: default;
                        color: orange !important;
                        pointer-events: auto;
                        cursor: default;
                    }
        }

        @media only screen and (-webkit-min-device-pixel-ratio: 2) {
        /* Put your iPhone 4g styles in here */ 
        }

        /* Android targeting */
        @media only screen and (-webkit-device-pixel-ratio:.75){
        /* Put CSS for low density (ldpi) Android layouts in here */
        }
        @media only screen and (-webkit-device-pixel-ratio:1){
        /* Put CSS for medium density (mdpi) Android layouts in here */
        }
        @media only screen and (-webkit-device-pixel-ratio:1.5){
        /* Put CSS for high density (hdpi) Android layouts in here */
        }
        /* end Android targeting */

/* @override 
    http://debian2/static/css/newsletter-ead.css
*/


#backgroundTable{
    background: #eee;
    color: #4e404f;
    font: 14px 'Karla', sans-serif;
}

#textonly {
    text-align: center;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    font-size: 12px;
}

#newsletter {
    width: 600px;
    background: #fff;
    border: solid thin #ccc;
    margin: 10px auto auto;
}

#logo-cerapcoop{
    float: right;
}

p.sitetitle{
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
    padding: 0;
    margin-bottom: 0;
    margin-top: 17px;
    color: #aa1e39;
    width: 380px;
    text-align: right;
    line-height: 1.2;
}

hr#hrtitle{
    clear: both;
    padding-bottom: 9px;
    border-color: #aa1e39;
    border-width: 3px;
    text-align: right;
    margin-left: 41px;
    width: 357px;
}

#date_envoi{
    color: #000;
    font-weight: bold;
    text-align: right;
}

a, #toc{
    color: #ff8100;
}

a:hover{
    color: #c50027;
    text-decoration: underline;
}

#toc{
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
}

h2{
    color: #d1181e;
    text-align: center;
    background: url(/static/img/degrade.jpg) repeat-x;
    padding-top: 13px;
    font-size: 20px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

h3{
    color: #d11226;
    margin-top: 30px;
    clear: both;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    font-variant: small-caps;
    margin-bottom: 15px;
    padding-bottom: 6px;
}

.car{
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 0;
    margin-left: 4px;
}

h3 .car2{
    margin-right: 7px;
}

.car1{
    background-color: #841732;
}

.car2{
    background-color: #c50222;
}

.car3{
    background-color: #f19234;
}

h4{
    font-size: 13px;
    margin: 0 0 5px;
    line-height: 15px;
}

h4 a{
    text-decoration: none;
}

.logo img{
    padding: 0;
    float: left;
    margin-left: 26px;
}



.item-content .summary {
    font-size: 13px;
    padding-left: 10px;
    line-height: 18px;
    display: inline-block;
}

.newsletter-item{
    min-height: 80px;
}

.newsletter-item img {
    max-height: 90px;
    margin-bottom: 10px;
}

.newsletter-item .item-content {
    clear: both;
}

#sitelink{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

hr{
    border: none;
    border-bottom: 1px solid #b1b1b1;
}

#footer_wrapper{
    width: 600px;
    background: #fff;
    border: solid thin #ccc;
    margin: 10px auto auto;
}



#address {
        text-align: center;
    float: right;
    font-size: 0.65rem;
    line-height: 1.1em;
    width: 159px;
    text-align: left;
    float: left;
    text-transform: capitalize;
    line-height: 16px;
}

#legal{
    width: 600px;
    font-size: 12px;
    text-align: center;
    line-height: 8px;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
}

/* @group attachements */


.detail_block{
    border: 2px none #c6bfb4;
    clear: both;
    padding: 5px 10px 3px;
    margin-bottom: 10px;
    border-top: 1px dotted #bc002a;
    border-bottom: 1px dotted #bc002a;
    font-size: 12px;
    background-color: #e6e9e2;
}


.external_link{
    margin-bottom: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 10px;
}

.external_link a{
    color: #bc002a;
}
.external_link span{
    margin-right: 10px;
}

.external_link span:before{
    content: "➔";
    font-weight: normal;
    font-style: normal;
    margin-right: 17px;
}

/* @end */

    </style>

    <!-- Targeting Windows Mobile -->
    <!--[if IEMobile 7]>
    <style type="text/css">
    
    </style>
    <![endif]-->   

    <!-- ***********************************************
    ****************************************************
    END MOBILE TARGETING
    ****************************************************
    ************************************************ -->

    <!--[if gte mso 9]>
        <style>
        /* Target Outlook 2007 and 2010 */
        </style>
    <![endif]-->

    <link rel="stylesheet" href="{{ STATIC_URL }}css/newsletter-ead.css">


</head>
<body id="outlook" class="ExternalClass">
<table id="backgroundTable" cellpadding="0" cellspacing="0" border="0">
<tr><td valign="top">


{#     {% if by_email %}{% block email_only_header %}#}
       <table cellpadding="15" cellspacing="0" border="0" id="textonly">
            <tr>
                <td>
                    Si l'affichage semble incorrect , 
                    <a href="http://www.eadsi-auvergne.fr/{% url 'coop_view_newsletter' newsletter.id %}">
                    cliquez ici pour une version web de la lettre
                </td>
            </tr>
        </table>
{#     {% endblock %}{% endif %}#}

    <table cellpadding="20" cellspacing="0" border="0" id="newsletter">
        <tr>
            <td id="newscontent">

                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td>
                            <a href="http://www.eadsi-auvergne.fr/"><img src="http://www.eadsi-auvergne.fr/{{ STATIC_URL }}img/logo-ead-80.png" width="75" height="80" alt="EAD-SI Auvergne" /></a>
                        </td><td>
                            <p class="sitetitle">
                                &Eacute;duquer Au D&eacute;veloppement et <br>&agrave; la Solidarit&eacute; Internationale en Auvergne
                                <hr id="hrtitle">
                            </p> 
                        </td><td width="10">
                            &nbsp;
                        </td><td>
                            <a href="http://www.Cerapcoop.org/"><img src="http://www.eadsi-auvergne.fr/{{ STATIC_URL }}img/logo-vertical.png" id="logo-cerapcoop"></a>

                        </td>
                    </tr>
                </table>

                {% block newsletter %}

                <p id="date_envoi"><span class="car car1"></span><span class="car car2"></span><span class="car car3"></span>
                    {% now "j F o" %}</p>

                <h2 id="title" style="background: url(http://www.eadsi-auvergne.fr/{{ STATIC_URL }}img/degrade.jpg) repeat-x;">{{ newsletter.subject }}</h2>

            

                <table cellpadding="0" cellspacing="0" border="0" id="content">
                    <tr>
                    {% if newsletter.logo %}<td width="180" valign="top" align="left">
                    {% thumbnail newsletter.logo "160x160" as im %}
                        <img src="http://www.eadsi-auvergne.fr/{{ im.url }}" class="article-logo" width="{{ im.width }}" height="{{ im.height }}">
                     {% endthumbnail %}
                        </td>{% endif %}
                        <td>
                            {{ newsletter.content|safe }}
                        </td>
                    </tr>
                </table>

               {% if newsletter.attachments.all or newsletter.external_links.all %} 
                <br/>
                <table cellpadding="0" cellspacing="0" border="0" id="external" width="100%">
                    <tr>
                        <td>
                        {% for doc in newsletter.attachments.all %}
                        <div class="detail_block external_link">
                            <span>Document : </span>
                            <a href="http://www.eadsi-auvergne.fr{{ doc.file.url }}">
                                {% if not doc.title %}{{ doc.name }}{% else %}{{ doc.title }}{% endif %}
                            </a>
                        </div>
                        {% endfor %}
                        {% for link in newsletter.external_links.all %}
                        <div class="detail_block external_link">
                            <span>Lien Internet : </span>
                            <a href="{{ link.object_uri }}">
                                {% if not link.object_label %}{{ link.object_uri }}{% else %}{{ link.object_label }}{% endif %}
                            </a>
                        </div>
                        {% endfor %}
                </table>
                {% endif %}

                <h3><span class="car car2"></span>Sommaire</h3>


                <ul id="toc">
                {% if newsletter.news_actus.exists %}<li><a href="#news_actus">Actualités</a></li>{% endif %}
                {% if newsletter.news_agenda_ead %}<li><a href="#news_agenda">Agenda / Evènements</a></li>{% endif %}

                {% if newsletter.news_project.exists or newsletter.news_org.exists %}<li><a href="#news_projects">Acteurs et projets</a></li>{% endif %}

                {% if newsletter.news_formations %}<li><a href="#news_formations">Formations</a></li>{% endif %}
                {% if newsletter.news_grants.exists %}<li><a href="#news_grant">Financements</a></li>{% endif %}

                {% if newsletter.news_outils.exists %}<li><a href="#news_outils">Outils méthodologiques</a></li>{% endif %}
                {% if newsletter.news_publications.exists %}<li><a href="#news_publications">Information, publications</a></li>{% endif %}


                {% if newsletter.news_films.exists %}<li><a href="#news_films">Films, documentaires</a></li>{% endif %}
                {% if newsletter.news_web.exists %}<li><a href="#news_web">Sites Web</a></li>{% endif %}
                {% if newsletter.news_mob.exists %}<li><a href="#news_mob">Mobilisation citoyenne</a></li>{% endif %}
                </ul>

                {% if newsletter.news_actus.exists %}
                    <a name="news_actus"></a><h3><span class="car car2"></span>Actualités</h3>
                   {% include "mailing/_newsletter_articles.html" with items=newsletter.news_actus.all %}
                {% endif %}

                {% if newsletter.news_agenda_ead %}
                    <a name="news_agenda"></a><h3><span class="car car2"></span>Agenda / Evènements</h3>
                   {% include "mailing/_newsletter_articles.html" with items=newsletter.news_agenda_ead %}
                {% endif %}


                {% if newsletter.news_project.exists or newsletter.news_org.exists%}
                    <a name="news_projets"></a><h3><span class="car car2"></span>Acteurs et projets</h3>
                   {% include "mailing/_newsletter_org_projects.html" with org=newsletter.news_organization.all projects=newsletter.news_project.all %}
                {% endif %}


                {% if newsletter.news_formations %}
                    <a name="news_formations"></a><h3><span class="car car2"></span>Formations</h3>
                   {% include "mailing/_newsletter_articles.html" with items=newsletter.news_formations %}
                {% endif %}

                {% if newsletter.news_grants.exists %}
                    <a name="news_grant"></a><h3><span class="car car2"></span>Financements</h3>
                   {% include "mailing/_newsletter_grants.html" with items=newsletter.news_grants.all %}
                {% endif %}

                {% if newsletter.news_outils.exists %}
                    <a name="news_outils"></a><h3><span class="car car2"></span>Outils méthodologiques</h3>
                   {% include "mailing/_newsletter_docs.html" with items=newsletter.news_outils %}
                {% endif %}

                {% if newsletter.news_publications.exists %}
                    <a name="news_publications"><h3></a><span class="car car2"></span>Information, publications</h3>
                   {% include "mailing/_newsletter_docs.html" with items=newsletter.news_publications %}
                {% endif %}
                {% if newsletter.news_films.exists %}
                    <a name="news_films"></a><h3><span class="car car2"></span>Films, documentaires</h3>
                   {% include "mailing/_newsletter_docs.html" with items=newsletter.news_films %}
                {% endif %}
                {% if newsletter.news_web.exists %}
                    <a name="news_web"></a><h3><span class="car car2"></span>Sites web</h3>
                   {% include "mailing/_newsletter_docs.html" with items=newsletter.news_web %}
                {% endif %}

                {% if newsletter.news_mob.exists %}
                    <a name="news_mob"></a><h3><span class="car car2"></span>Mobilisation citoyenne</h3>
                   {% include "mailing/_newsletter_articles.html" with items=newsletter.news_mob %}
                {% endif %}


                <br><br>
                <p id="sitelink">Retrouvez plus d’informations sur le site <a href="http://www.eadsi-auvergne.fr/">www.eadsi-auvergne.fr</a></p>
                <br>

                {% endblock %}

            </td>
        </tr>
    </table>
    <table cellpadding="20" cellspacing="0" border="0" id="footer_wrapper">
        <tr>
            <td>

                <table cellpadding="0" cellspacing="0" border="0" id="footer">
                    <tr>
                        <td>
                            <img src="http://www.eadsi-auvergne.fr{{ STATIC_URL }}img/ue.png" width="57" height="48" alt="Union Europ&eacute;enne" />
                        </td><td width="10">
                            &nbsp;
                        </td><td>
                            <img src="http://www.eadsi-auvergne.fr{{ STATIC_URL }}img/auvergne.png" width="93" height="48" alt="Auvergne" />
                        </td><td width="300">
                            &nbsp;
                        </td><td>
                            <img src="http://www.eadsi-auvergne.fr{{ STATIC_URL }}img/cerapcoop.png" width="46" height="46" alt="CERAPCOOP" />
                        </td><td width="10">
                            &nbsp;
                        </td><td id="address">
                            39 avenue des &Eacute;tats-Unis<br />
                            63000 Clermont-Ferrand<br />
                            T&eacute;l. : 04 73 35 20 65
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    {% block email_only_footer %}

    <table cellpadding="20" cellspacing="0" border="0" id="legal">
        <tr><td valign="top">
            Cette lettre d'information vous a été envoyée par le <a href="http://www.eadsi-auvergne.fr">Réseau EAD-SI Auvergne</a><br/>. <br/><a id="desabo" href="http://www.eadsi-auvergne.fr/newsletter/abonnement/{{dest.uuid}}/">Cliquez ici pour modifier votre abonnement.</a>.

        </td></tr>
    </table>

    {% endblock %}

</td></tr></table>
</body>
