{% extends "page.html" %}
{% load i18n thumbnail remote %}

{% block meta_title %}Liste des projets{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{STATIC_URL}}leaflet/leaflet.css"/>
    <!--[if lte IE 8]>
         <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
    <![endif]-->
    {{ block.super }}
{% endblock stylesheet %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{{STATIC_URL}}leaflet/leaflet.js"></script>
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.1.3"></script>
    <!--
    <script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>
    -->
{% endblock javascript %}


{% block article %}


    <h2 class="like-h1">Liste des projets</h2>

    <p>Vous trouverez ici tous les projets d'Education au développement portés par les membres du réseau.
        </p>


    <h3> Cartographie des structures membres </h3> 

    <div class="well" id="project_navlist">
    <ul class="nav nav-list">
        <li class="nav-header"></li>
        {% for item in projects %}
            <li><a class="title" href="#{{item.slug}}">{{ item.organization.label }}</a></li>
        {% endfor %}
    </ul>
    </div>


    <div id="map-projects_local" ></div>
    <div id="map_local" class="block" style="width: 320px; height: 320px"></div>

    <script>
        var map_local = new L.Map('map_local');
        var ailleurs = new L.LatLng(45.654827, 3.430401); // geographical point (longitude and latitude)
        // var noms = new L.StamenTileLayer("toner-labels");
        // var fond = new L.StamenTileLayer("watercolor");

        var cloudmadeUrl = 'http://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png',
            cloudmadeAttribution = '&copy; OpenCycleMap, <a href="http://openstreetmap.org">OpenStreetMap</a>',
            cloudmade = new L.tileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttribution});

        map_local.setView(ailleurs, 10).addLayer(cloudmade);
        var geojsonFeature = {{ region.polygon.geojson|safe }}
        L.geoJson(geojsonFeature).addTo(map_local);

        // map.addLayer(fond);
        // map.addLayer(noms);

        $(function(){

            $.getJSON('/geojson/project/', function(data) {

                var eadGeojsonLayer = new L.geoJson(data, {
                    // style for all vector layers (color, opacity, etc.), either function or object (optional)
                    style: function (feature) {
                            return feature.properties && feature.properties.style;
                    },
                    // function that gets called on every created feature layer (optional)
                    onEachFeature: function (feature, layer) {

                    if (feature.properties && feature.properties.popupContent) {
                             layer.bindPopup(feature.properties.popupContent);
                         }
                    }

                }).addTo(map_local);

                map_local.fitBounds(eadGeojsonLayer.getBounds());


             });

        });


    </script>


    <h3> Cartographie des pays partenaires </h3> 

    <div id="map-projects" ></div>
    <div id="map" class="block" style="width: 648px; height: 400px"></div>

    <script>
        var map = new L.Map('map');
        var ailleurs = new L.LatLng(45.654827, 3.430401); // geographical point (longitude and latitude)
        var noms = new L.StamenTileLayer("toner-labels");
        var fond = new L.StamenTileLayer("watercolor");

        var cloudmadeUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            cloudmadeAttribution = 'Map data &copy; 2011 OpenStreetMap',
            cloudmade = new L.tileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttribution});

        map.setView(ailleurs, 10).addLayer(cloudmade);

        // map.addLayer(fond);
        // map.addLayer(noms);

        $(function(){

            $.getJSON('/projets/map/', function(data) {

                var eadGeojsonLayer = new L.geoJson(data, {
                    // style for all vector layers (color, opacity, etc.), either function or object (optional)
                    style: function (feature) {
                            return feature.properties && feature.properties.style;
                    },
                    // function that gets called on every created feature layer (optional)
                    onEachFeature: function (feature, layer) {

                    if (feature.properties && feature.properties.popupContent) {
                             layer.bindPopup(feature.properties.popupContent);
                         }
                    }

                }).addTo(map);

                map.fitBounds(eadGeojsonLayer.getBounds());


             });

        });


    </script>
<!-- -->


{% for item in projects %}

    <div id="{{item.slug}}" class="list_item vcenter_container">

        <div class="vcenter_wrapper item-desc-wrapper">
            <div class="vcenter_content item-desc-content">
                {% thumbnail item.logo "180x180" as im %}
                <a class="title" href="{{item.get_absolute_url}}">
                   <img class="item-list-icon" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                </a>
                {% endthumbnail %}
                <a class="title" href="{{item.get_absolute_url}}">{{ item.title }}</a><br/>
                <p class="abbr_desc">{{ item.description|safe|truncatewords:30 }}</span>


   <div class="attr_table">

                {% if item.person or item.remote_person_label %}
                    <div class="metadata">
                    <div class="key">Auteur</div>
                    {% local_or_remote uri article person as author_uri %}
                    {% local_or_remote label article person as author_label %}
                    <div class="value">{% if author_uri %}<a href="{{author_uri}}">{% endif %}
                        {{ author_label }}
                        {% if author_uri %}</a>{% endif %}</div>
                    </div>
                {% endif %}

                {% if item.organization or item.remote_organization_label %}
                <div class="metadata">
                    <div class="key">Structure</div>
                    {% local_or_remote uri item organization as org_uri %}
                    {% local_or_remote label item organization as org_label %}
                    <div class="value">{% if org_uri %}<a href="{{org_uri}}">{% endif %}
                        {{ org_label }}
                        {% if org_uri %}</a>{% endif %}</div>
                    </div>
                {% endif %}


                {% if item.zone %}
                <div class="metadata">
                    <div class="key">Zone géographique</div>
                    <div class="value">{{ item.zone.label }}</div>
                    </div>
                {% endif %}

                {% if item.status %}
                <div class="metadata">
                    <div class="key">Statut</div>
                    <div class="value">{{ item.get_status_display }}</div>
                    </div>
                {% endif %}

                {% if item.ead_disciplines.all %}
                <div class="metadata">
                    <div class="key">Discipline associée</div>
                    <div class="value">{% for d in item.ead_disciplines.all %}
                        {{ d }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}</div>

                    </div>
                {% endif %}

                {% if item.tags.all %}
                <div class="metadata">
                    <div class="key">Mots-clés</div>
                    <div class="value">{% for tag in item.tags.all %}
                        <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}</div>
                    </div>
                {% endif %}

            </div>

            <a href="{{item.get_absolute_url}}" class="btn btn-warning btn-small proj"><i class="icon-plus icon-white"></i>En savoir plus sur ce projet</a>

            </div>
        </div>

    </div>

{% endfor%}

{% endblock article %}
