{% extends "page.html" %}
{% load i18n thumbnail remote coop_navigation %}

{% block meta_title %}{{item.label}}{% endblock %}

{% block article %}

{% if link %}
    <ul class="breadcrumb">
    <a href="/">Accueil</a> <span class="divider">/</span>
    {% navigation_breadcrumb link li_template="coop_cms/breadcrumb_li_template.html" tree="navigation_eadsi" %}
    </ul>
{% endif %}


<h4><a href="/annonces/">Annonces</a> / 
{% if item.annonce_category %}
<a href="/annonces/{{ item.annonce_category.slug }}/">{{ item.annonce_category }}</a> /
{% endif %}
</h4> 

{% if msg %}<div class="msg">{{msg}}</div>{% endif %}


<h3>"{{item.label}}"</h3>
                {% if item.expiration %}
                    <h4><em>Date limite : {{ item.expiration|date:"d F Y" }}<em></h4>
                {% endif %}       

    <p class="txt_annonce">
    {{ item.description|safe }}
    </p>

            <div class="attr_table">

                {% if item.web %}
                    <div class="metadata"><div class="key">Lien internet</div>
                    <div class="value"><a href="{{ item.web }}">{{ item.web|truncatechars:100 }}</a></div></div>
                {% endif %}

                {% if item.organization or item.remote_organization_label %}
                    <div class="metadata"><div class="key">Structure référente</div>
                    {% local_or_remote uri item organization as org_uri %}
                    {% local_or_remote label item organization as org_label %}
                    <div class="value">{% if org_uri %}<a href="{{org_uri}}">{% endif %}
                        {{ org_label }}
                        {% if org_uri %}</a>{% endif %}</div></div>
                {% endif %}

                {% if item.person or item.remote_person_label %}
                    <div class="metadata"><div class="key">Personne référente</div>
                    {% local_or_remote uri item person as author_uri %}
                    {% local_or_remote label item person as author_label %}
                    <div class="value">{% if author_uri %}<a href="{{author_uri}}">{% endif %}
                        {{ author_label }}
                        {% if author_uri %}</a>{% endif %}</div></div>
                {% endif %}

                {% if item.tel %}
                    <div class="metadata"><div class="key">Téléphone</div>
                    <div class="value">{{ item.tel }}</div></div>
                {% endif %}


                {% if item.annonce_category %}
                <div class="metadata"><div class="key">Catégorie</div>
                <div class="value"><a href="/annonces/{{ item.annonce_category.slug }}/">{{ item.annonce_category }}</a> </div> </div>
                {% endif %}

           


{% comment %}
                {% if item.zone.all %}
                    <div class="metadata"><div class="key">Zone{{ item.zone.all|pluralize }} ciblée{{ item.zone.all|pluralize }}</div>
                    <div class="value">{% for zone in item.zone.all %}{{ zone.label }}{% if forloop.last %}.{% else %}, {% endif %}{% endfor %}</div></div>
                {% endif %}
{% endcomment %}

                <div class="metadata"><div class="key">Dernière mise à jour</div>
                <div class="value">{{ item.maj|date:"j F Y" }}</div></div>


            </div>


{% if item.email %}

    <h4><a id="repondre" href="#">> Répondre par email</a></h4>

    <form id="form_reponse" class="form-horizontal" method="post"{% if not error %} style="display:none"{% endif %}>
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn" type="submit" value="Envoyer" />
    </form>

    <script type="text/javascript">
    $(function(){
        $("#repondre").click(function(){
            $("#form_reponse").slideToggle();
            return false;
        });

        $("input[type=submit]").hover(function(){
            $(this).addClass("btn-success")
        },function(){
            $(this).removeClass("btn-success")
        });
    });

    </script>

{% endif %}

{% endblock article %}
