{% extends "page.html" %}
{% load i18n thumbnail remote coop_navigation %}

{% block meta_title %}Annonces: {% if annonce_category %}{{ annonce_category }}{% endif %}{% endblock %}

{% block extra_head %}
{{ form.media }}
{% endblock %}

{% block article %}

{% if link %}
    <ul class="breadcrumb">
    <a href="/">Accueil</a> <span class="divider">/</span>
    {% navigation_breadcrumb link li_template="coop_cms/breadcrumb_li_template.html" tree="navigation_eadsi" %}
    </ul>
{% endif %}

<h3><a href="/annonces/">Annonces</a> / 
{% if annonce_category %}
{{ annonce_category }} /
{% endif %}
</h3> 


{% if cat_list %}

<h4> Catégories : {% for cat in cat_list %}<a href="/annonces/{{ cat.slug }}/">{{ cat.label }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</h4>

{% endif %}

{% if msg %}<div class="msg">{{msg}}</div>{% endif %}
{% if error %}<div class="error">{{error}}</div>{% endif %}

<table class="annonces" width="100%">
<thead>
    <th>Date</th>
    <th>Titre</th>
    <th>Auteur</th>

</thead>
<tbody>
{% for item in annonces %}

        <tr>


            </td>
            <td width="20%">
    {{ item.maj|date:"j F Y" }}

    </td>
            <td width="45%">
            <a class="title" href="{{ item.get_absolute_url }}">{{ item.label }}</a>
</td>
            <td width="35%">
 
                {% if item.organization %}
                    <a href="{{item.organization.get_absolute_url}}">{{ item.organization.label }}</a>
                {% elif item.remote_organization_label %}
                    {{ item.remote_organization_label }}
                {% elif item.person %}
                    {{ item.person.label }}
                {% elif item.remote_person_label %}    
                    {{ item.remote_person_label }}
                {% endif %}


</tr>
{% endfor %}
</tbody>
</table>
<br>
<br>
<h4><a id="poster" href="#">Poster une annonce</a></h4>

<form id="formannonce" class="form-horizontal" method="post"{% if not error %} style="display:none"{% endif %}>{% csrf_token %}
{{ form.as_p }}
<input class="btn" type="submit" value="Envoyer" />
</form>

<script type="text/javascript">
$(function(){
    $("#poster").click(function(){
        $("#formannonce").slideToggle();
        return false;
    });
    $("input[type=submit]").hover(function(){
        $(this).addClass("btn-success")
    },function(){
        $(this).removeClass("btn-success")
    });
});
</script>



{% endblock article %}


