{% load ml_form %}

{% if msg %}<p class="mailing_form_msg">{{ msg }}</p>{% endif %}

{% if  not mailing_form %}{% ml_form as mailing_form%}{% endif %}

          <form id="mailing_form" action="/inscription-mailing/" method="post">
            {% csrf_token %}
            {{ mailing_form.as_p }}
            <input type="submit" class="btn btn-small btn-success" value="Valider l'inscription"><br>
            <span class="disclaimer">Nous ne revendons pas vos coordonnées.</span>
          </form>

<script type="text/javascript">

$(function(){


  $('#mailing_form #id_adresse').parent('p:not(.error)').addClass('visuallyhidden');
  $('#mailing_form #id_code_postal').parent('p:not(.error)').addClass('visuallyhidden');
  $('#mailing_form #id_ville').parent('p:not(.error)').addClass('visuallyhidden');
  {% if not mailing_form.errors %}
  $('#mailing_form #id_first_name').parent('p:not(.error)').addClass('visuallyhidden');
  $('#mailing_form #id_name').parent('p:not(.error)').addClass('visuallyhidden');
  $('#mailing_form #id_structure').parent('p:not(.error)').addClass('visuallyhidden');
  $('#mailing_form .btn').addClass('visuallyhidden');
  $('#mailing_form .disclaimer').addClass('visuallyhidden');{% endif %}

  $('#mailing_form #id_email').focus(function(){
        $('#mailing_form').css('width','100%');
        $('#mailing_form #id_first_name').parent('p').removeClass('visuallyhidden');
        $('#mailing_form #id_name').parent('p').removeClass('visuallyhidden');
        $('#mailing_form #id_structure').parent('p').removeClass('visuallyhidden');
        $('#mailing_form .btn').removeClass('visuallyhidden');
        $('#mailing_form .disclaimer').removeClass('visuallyhidden')
    });
  $('#mailing_form #id_structure').focus(function(){
        $('#mailing_form #id_adresse').parent('p').removeClass('visuallyhidden');
        $('#mailing_form #id_code_postal').parent('p').removeClass('visuallyhidden');
        $('#mailing_form #id_ville').parent('p').removeClass('visuallyhidden');
    });



  $('#mailing_form').on('submit', function(e){
           form = $(this);
             $.ajax({
                 type: 'POST',
                 dataType : 'html',
                 url: form.attr("action"),
                 data: form.serialize(),
                 success: function(data){ $('#mailing_form_inner').html(data) }
             });
             e.preventDefault();
             e.stopPropagation();
    });


	
})


</script>