/* @override 
	http://192.168.1.53:8000/static/css/cerapcoop.css
	http://debian:8000/static/css/cerapcoop.css
	http://coop.cerapcoop.org/static/css/cerapcoop.css
	http://debian/static/css/cerapcoop.css
	http://www.cerapcoop.org/static/css/cerapcoop.css
*/

/* @group articles */

div.summary{
	border: 1px none #a4a592;
	padding: 14px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	color: #2e2419;
	background-color: #dedddf;
	font-size: 14px;
	margin-top: 12px;
	margin-bottom: 12px;
}



.article_dates{
	font-weight: bold;
	list-style-type: none;
	list-style-position: inside;
	margin-bottom: 10px;
}

img.pic.solo{
	padding: 9px 16px 10px;
}



.the-logo{
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

/* @end */

/* @group listes */




.list_item {
	font-size: 14px;
	width: 99%;
	margin-bottom: 10px;
	position: relative;
}



.item-desc-wrapper{
	position: relative;
	border: 1px outset #efefef;
	padding: 11px;
	-webkit-box-shadow: 0px 5px 7px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 5px 7px rgba(0,0,0,0.3);
	box-shadow: 0px 5px 7px rgba(0,0,0,0.3);
}

.item-desc-content{
	position: relative;
}




.result_info{
	font-style: italic;
	font-size: 12px;
	color: gray;
}

.item-desc-content a.title{
	font-weight: bold;
	color: #106284;
	font-size: 1.4em;
}


.item-desc-content dl.attr_table{
	margin-bottom: 40px;
}

.item-desc-content dl.attr_table dd{
	margin: 0;
	height: 10px;
	border-bottom: 1px solid #e1d3c5;
	line-height: 12px;

}

.item-desc-content dl.attr_table dt{
	margin: 0;
	width: 113px;
	text-align: left;
		line-height: 12px;

}


.item-list-icon {
	padding-right: 10px;
	/*border: 1px solid #b2b2b2;*/
	display: inline-block;
	padding: 10px;
	margin-right: 10px;
	background-color: white;
	}
.item-list-icon a {

	text-decoration: none;
	outline: none;
	color: white;
}

.btn.proj{
	display: inline;
	position: absolute;
	right: 38px;
	bottom: -38px;
}


.event_item .btn.proj{
	display: block;
	position: relative;
	bottom:0;
	clear: both;
	width: 100px;
	right: 0;
	left: 780px;
}

/* @end */

/* @group navigation */



#topnav
{
	height: 30px;
	width: 100%;
	position: relative;
	z-index: 10000;
	background: #d1071d url(../img/nav-garnish.png) no-repeat;
}

/* @group new menu */


#jqmenu{

}

.stack > a {
	background: url(arrow.png) right 9px no-repeat;
	position: relative;
}

.toprow > ul {
	margin-top: 30px;
	-webkit-box-shadow:2px 2px 5px rgba(0,0,0,0.4);
	-moz-box-shadow:2px 2px 5px rgba(0,0,0,0.4);
	box-shadow:2px 2px 5px rgba(0,0,0,0.4);
}

.toprow > ul > li a{
		border-top: 1px dotted #ffae97;

}

#jqmenu li {
	border:0;
	text-transform:uppercase;
	background-color:#d1071d;		position: relative;
	float: left;
	display: block;
	white-space: nowrap
}

#jqmenu li ul {
	position: absolute;
	display: block;
	top: 0;
	width: 0;
	left: 0;
	margin-left: 0;
	height: 0;
}

#jqmenu li a {
	background: transparent;
	line-height: 30px;
	padding: 0 15px;
	font-size: 13px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	display: block;
}

#jqmenu li a:hover {
	background: #511605;
	color: white;
}




/* @end */


nav#right{
	position: relative;
}
nav#right ul{
	list-style-type: none;
	position: absolute;
	right: 0;
	top: 27px;
}


nav#right ul li{
	float: left;
	display:inline-block;
	padding: 0 12px 0 8px;
	text-transform:uppercase;
	font-weight:bolder;
	line-height:12px
}

nav#right ul li a{
	color: white;
}

/*


#nav-second
{
	width: 545px;
	background-color:#0f6187
}

#nav-second li a:before
{
	margin:0;
	content:""
}

nav ul
{
	margin:0
}

nav li
{
	display:inline-block;
	padding: 0 12px 0 8px;
	border-right:2px solid #fff;
	text-transform:uppercase;
	font-weight:bolder;
	font-size:.8em;
	line-height:12px
}

.lt-ie8 #nav-second li
{
	float:left;
	margin:5px 0;
	height:15px
}

.lt-ie8 nav .dropdown-button li
{
	margin-top:2px;
	height:11px
}

nav li:before
{
	display:none
}

nav li.last
{
	border-right:0
}

nav li a,nav li a:focus,nav li a:hover,nav li a:visited
{
	display:block;
	color:#fff;
	text-decoration:none
}

nav .dropdown li
{
	border-right:0;
	font-size: 1em;
	line-height: 9px;
}

nav li.dropdown a:before
{
	float:left;
	margin-right:5px;
	color:#fff;
	content:">"
}

nav .dropdown-menu
{
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
	opacity:.95;
	-webkit-box-shadow:2px 2px 5px rgba(0,0,0,0.2);
	-moz-box-shadow:2px 2px 5px rgba(0,0,0,0.2);
	box-shadow:2px 2px 5px rgba(0,0,0,0.2);
	margin:0;
	min-width:210px;
	border:0;
	background-color:#d1071d;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	border-radius:0
}

nav .dropdown-menu li
{
	display:block;
	margin: 0 10px;
	border:0;
	font-size:.9em;
		border-bottom:1px dotted #fff;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding: 0;
}

nav .dropdown-menu li a,
nav .dropdown-menu li a:visited
{
	padding-right: 10px;
	padding-left: 10px;

	color:#fff;
	font-weight:bolder
}

nav .dropdown-menu li:last-child a,nav .dropdown-menu li:last-child a:visited
{
	border-bottom:0
}

nav .dropdown-menu li a:hover,
nav .dropdown-menu li a:focus
{
	background-color: #f5a339;
	background-image: none;
	color: #000;
}

nav .dropdown-menu li a:before
{
	display:none;
	content:0
}

#nav-garnish
{
	width: 176px;
	height:20px;
	background:url(../img/nav-garnish.png) no-repeat
}

ul.dropdow-menu{
	display: inline-block;
	position: absolute;
	left: 200px;
	width: 200px;
	background-color: #d1071d;
	top: -1px;
	border: 1px dotted #feffff;
	display:none;
}

a.dropdown-toogle:after
{
	content:">";
	float: right;
}

.dropdow-menu li a{
	padding-top: 6px;
	padding-bottom: 7px;
}
*/

/* @end */

/* @group categorie */

p.blue_divider{
	background-color: #106284;
	color: white;
	font-weight: bold;
	font-size: 16px;
	padding-left: 8px;
	padding-top: 3px;
	padding-bottom: 4px;
	margin-bottom: 3px;
}

ul.org_cat{
	list-style-type: none;
	margin-left: 0;
}

ul.org_cat li{
	padding-bottom: 4px;
	padding-top: 8px;
	border-bottom: 1px dotted #106281;
	padding-left: 10px;
}


/* @end */




/* @group main */

.ie8,#main .block,.ie7
{
	behavior:url(/static/css/PIE.htc);
	position:relative
}

body
{
	padding-top:0;
	font-family:'Karla',sans-serif
}

a 
{
	text-decoration:none!important;
	color: #106281;
}

a:hover{
	text-decoration: underline;
}

nav .container a:before
{
	margin-right:5px;
	content:">"
}

header
{
	background:url(../img/header.png) no-repeat
}

#header-logo
{
	margin-top:12px;
	width:219px;
	height:143px
}

#header-logo h1
{
	margin:0
}

#header-legend
{
	margin-top:57px;
	margin-left:219px;
	padding:5px 5px 5px 10px;
	width:530px;
	height:88px;
	background-color:#0f6187;
	color:#fff;
	font-size:.88em
}


#header-legend p
{
	margin:5px 0 0
}

#header-legend h1
{
	margin:0;
	font-size:2.1em;
	line-height:1.1
}

.lt-ie9 #header-legend h1
{
	font-size:2em
}

#header-garnish
{
	margin-top:57px;
	width:176px;
	height:98px;
	background:url(../img/header-garnish.png) no-repeat
}

#header-photo
{
	margin:10px 0;
	padding:25px 10px;
	height:185px;
	background:url(../img/photo.png) no-repeat
}

#header-photo h2
{
	color:#FBC001;
	font-size: 2.7em;
	line-height: 1em;
}

.pageheader{
	margin-bottom: 9px;
}


h2,.like-h2 {
	font-size: 1.5em;
	margin: 0.83em 0;
	line-height: 1.3em;
	color: #bc0026;
	border-style: none;
	border-bottom-style: dotted;
	border-bottom-width: 2px;
}

.article_dates{
	font-weight: bold;
	color: #bc002a;
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 5px;
}

[class*="span"]
{
	position:relative
}

.ie7 #main
{
	margin-top:10px
}

#main .row{
	margin-left: 0;
	padding-left: 0;
	padding: 0;
}


#main .block
{
	-webkit-box-shadow:4px 4px 7px #bbb;
	-moz-box-shadow:4px 4px 7px #bbb;
	box-shadow:4px 4px 7px #bbb;
	margin:20px 0;
	background-color:#fff
}

#main .block h3
{
	margin:5px 0;
	margin-top:0;
	padding-left:15px;
	color:#fff;
	text-align:left;
	text-transform:uppercase;
	font-size:1.1em;
	line-height:20px
}

#main .block h3:before
{
	margin-right:5px;
	content:">"
}

#main .block.blue h3
{
	background-color:#0f6187
}

#main .block.orange h3
{
	background-color:#fa981d
}

#main .block.red h3
{
	background-color:#d1071d
}

#main .block.brown h3
{
	background-color:#511606
}

#main .row .span3{
	width: 200px;
}

#main .block h4
{
	margin:0;
	padding-left:5px;
	font-size:1em
}

#main .block.blue h4
{
	border-left:2px solid #0f6187;
	color:#0f6187
}

#main .block.orange h4
{
	border-left:2px solid #fa981d;
	color:#fa981d
}

#main .block.red h4
{
	border-left:2px solid #d1071d;
	color:#d1071d
}

#main .block.brown h4
{
	border-left:2px solid #511606;
	color:#511606
}

#main .block article
{
	padding:5px 15px
}

#main .block article p
{
	padding:5px
}

#main .block.red article p 
{
	border-left:2px solid #d1071d;
	color: #4e4e4e;
}

#main .block.red article img{
	float: right;
	padding-left: 10px;
	padding-bottom: 5px;
}

#main .block .more
{
	text-transform:uppercase;
	font-weight:bolder
}

#main .block.blue a
{
	color:#0f6187
}

#main .block.orange a
{
	color:#fa981d
}

#main .block.red a
{
	color:#d1071d
}

#main .block.brown a
{
	color:#511606
}

#calendar
{
	text-align:center
}

#calendar a
{
	font-weight:bolder
}

#theme
{
	min-height:94px;
	background: url(../img/theme-map.png) no-repeat -20px top}

#theme ul{
	margin-left: 10px;
}

#theme li
{
	list-style-position: inside;
	border-bottom: 1px dotted #bda7a3;
	font-weight:bolder;
	list-style-type: square;
}

footer
{
	height:217px;
	background:url(../img/footer.png) no-repeat;
	margin-top: 50px;
}

#footer-logo
{
	width:220px;
	height:67px
}

#footer-logo address
{
	margin-left:10px;
	color:#58585a;
	font-weight:bolder;
	font-size:.6em;
	line-height:15px
}

#footer-logo address a
{
	color:#58585a
}

#footer-logo address a:before
{
	display:none;
	content:""
}

#footer-social
{
	margin-left:220px;
	width:504px;
	height:68px;
	background-color:#0f6187;
	color:#fff
}

#footer-social img
{
	margin:20px 0 0 10px
}

.ie8 #footer-social img,#main .block #footer-social img
{
	margin:20px 0 0 8px
}

#footer-social a:before
{
	display:none;
	content:""
}

#footer-social nav
{
	margin-right:10px;
	font-size:.9em
}

#footer-social nav li
{
	padding:0 5px;
	border:0
}

#footer-social a
{
	display:inline-block
}

.lt-ie8 #footer-social nav li
{
	float:left
}

#footer-garnish
{
	width:216px;
	height:68px;
	background:url(../img/footer-garnish.png) no-repeat
}

.pic
{
	margin-top:4px
}

.pic p,.caption
{
	margin:4px 0 10px;
	color:#666;
	font-size:11px;
	font-family:Verdana,Arial,sans-serif;
	line-height:16px
}

.pic.left
{
	float:left;
	margin-right:20px
}

.pic.right
{
	float:right;
	margin-left:20px
}

.pic.right.inset
{
	margin:0 120px 0 20px
}

.pic.left.inset
{
	margin-left:230px
}

.one
{
	width:10%
}

.two
{
	width:20%
}

.three
{
	width:30%
}

.four
{
	width:40%
}

.five
{
	width:50%
}

.six
{
	width:60%
}

.seven
{
	width:70%
}

.eight
{
	width:80%
}

.frame
{
	border:10px solid #fff;
	-webkit-box-shadow:0 1px 5px #000;
	-moz-box-shadow:0 1px 5px #000;
	box-shadow:0 1px 5px #000
}

.solo img
{
	margin-bottom:20px
}

.right
{
	float:right
}

.left
{
	float:left
}



/* @end */






/* @group annonces */

.annonces th{
	text-align: left;
	background-color: #d5d5d5;
	padding: 5px;
}

.annonces tr{
	border-bottom: 1px solid #c0c0c0;
}

.annonces td{
	padding-top: 10px;
	padding-bottom: 10px;
}


.form-horizontal{
	position: relative;
}
.form-horizontal label{
	float: left;
	width: 150px;
	text-align: right;
	padding-right: 10px;
	top: 5px;
	position: relative;
	font-weight: bold;
}

.form-horizontal input[type=text],
.form-horizontal textarea{
	width: 400px;
}

.form-horizontal input[type=submit]{
	font-weight: bold;
	font-size: 14px;
	padding: 7px;
	position: relative;
	left: 162px;
	background-color: #8df900;
	border: 3px outset #7ed900;
	margin-top: 10px;
	margin-bottom: 20px;
}
.date.form_datetime input{
	width: 150px;
}

.form-horizontal .errorlist{
	list-style-type: none;
	font-weight: bold;
	color: #ff2600;
	left: 600px;
	margin-top: 20px;
}	

div.msg, div.error{
	font-weight: bold;
	font-size: 16px;
	padding: 10px;
	margin-bottom: 10px;
}

div.msg{
	background-color: #8df900;
	}

div.error{
	background-color: #ff7d78;
	}
	

	
	
/* @end */



/* @group organisations */

.org_logo {
	text-align: center;
	background-color: white;
	width: 220px;
	border: 1px dotted #dddede;
}

.adresse {
	margin-bottom: 15px;
	color: #667a87;
	background-color: #f4f4f4;
	padding: 12px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	border: 1px solid #e3e3e3;
	width: 200px;
	font: bold 12px "Lucida Grande", Lucida, Verdana, sans-serif;
}

.weblink {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.webshot {
	width: 200px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	border: 3px solid #d9d9d9;
	margin-left: 9px;
	height: 150px;
}

.url {
	position: absolute;
	right: -10px;
	border-width: 3px;
	color: #1d1d29;
	font-size: 10px;
	bottom: -7px;
	border-color: #dbdbdb;
}

a.weblink:hover code.url {
	text-decoration: none;
	color: #c70337;
	border-color: #a7a7a7;
}

.adresse img {
	margin-bottom: 10px;
}

.org-desc-wrapper{
	position: relative;
	border: 1px outset #efefef;
}


.org-list-icon {
	padding-right: 10px;
	/*border: 1px solid #b2b2b2;*/
	display: inline-block;
	padding: 10px;
	margin-right: 10px;
	background-color: white;
	}
.org-list-icon a {

	text-decoration: none;
	outline: none;
	color: white;
}



ul.membres {
	padding-left: 5px;
	display: inline-block;
	position: relative;
	margin: 0;
}

ul.membres li {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
	border: 1px solid #dadada;
	height: 48px;
	position: relative;
	padding: 5px;
	margin-bottom: 7px;
	width: 278px;
	float: left;
	margin-right: 10px;
	display: inline-block;
}

ul.membres li p {
	padding-left: 60px;
	position: relative;
	margin-top: 8px;
	font-size: 0.9em;
}

ul.membres li img {
	float: left;
}

ul.membres li a {
	text-decoration: none;
}

/* @end */



/* @group Metadata */

dl.attr_table {
	display: block;
	position: relative;
	line-height: 12px;
	clear: both;
	text-align: left;
	margin-bottom: 3px;
	font-size: 12px;
}



dt {
	width: 140px;
	/*

border-right: 3px solid #c0c0c0;*/
	display: block;
	margin-left: 10px;
	text-align: left;
}

dl.attr_table dd {
	display: block;
	

border: 1px solid white;
	height: 19px;
	position: relative;
	width: 580px;
	line-height: 22px;
	padding-top: 4px;
	padding-bottom: 7px;
	padding-right: 4px;
	text-align: left;
}

dl.attr_table dt {
	float: left;
	margin-right: 4px;
	padding: 6px 10px 4px 14px;
	text-align: right;
	font-style: italic;
	font-weight: bold;
	color: #ab1e19;
}

dl.attr_table dl dd {
	margin: 2px 0;
	
}

div.attr_table{
	
	margin-bottom: 30px;
	display: inline-block;
	font-size: 12px;
	width: 100%;
}

div.metadata{
	width: 100%;
	clear: both;
	position: relative;
}

.metadata .key{
	width: 140px;
	text-align: right;
	font-style: italic;
	font-weight: bold;
	color: #ab1e19;
	float: left;
	position: absolute;
	left: 0;
}

.metadata .value {
	width: 50%;
	position: relative;
	left: 160px;
	margin-bottom: 4px;
		border-bottom: 1px dotted #d0d0d0;
	padding-bottom: 4px;
}

.attachement_filetype{
	margin-right: 10px;
}


.detail_block{
	border: 2px solid #c6bfb4;
	clear: both;
	padding: 7px 10px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	margin-bottom: 10px;
	-webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.2);
	-moz-box-shadow: 3px 3px 7px rgba(0,0,0,0.2);
	box-shadow: 3px 3px 7px rgba(0,0,0,0.2);
}

.external_link{
	background: url(/static/img/external_link.png) no-repeat 7px 2px;
	margin-bottom: 7px;
	padding: 10px 10px 10px 46px;
}

.external_link a{
	font-weight: bold;
	text-decoration: underline;
}
.external_link span{
	margin-right: 10px;
	font-weight: normal;
	font-style: normal;
}

div.attachment span{
	display: inline-block;
	margin-right: 10px;
}

div.attachment a{
	font-weight: bold;
	text-decoration: underline;
}

.pagination{
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.pagination .disabled{
	color: #a9a9a9;
}

.pagination .prev{
	margin-right: 25%;
}

.pagination .next{
		margin-left: 25%;
}

.pagination .page{
	border-style: solid;
	border-width: 1px;
	padding: 4px;
}


/* @end */




/* @group ressources */

#searchform input[type="text"]
{
   height: 14px;
   font-size: 10px;
   line-height: 14px;
}

#searchform button {
	  height: 24px;
   line-height: 14px;
      font-size: 12px;


}

#searchform .control-group{
	margin-bottom: 7px;
}

#searchform select{
	height: 23px;
	      font-size: 12px;
	width: 196px;
}

#searchform label{
	   line-height: 14px;
      font-size: 12px;
}

#ressources_last{
	border: 1px solid #106284;
	margin-bottom: 30px;
}

#ressources_last thead{
	background-color: #106284;
	color: #feffff;
	text-align: left;
}

#ressources_last thead span{
	padding-left: 10px;
}

#ressources_last thead span a{
	color: #feffff;
}

#ressources_last td{
	vertical-align: top;
	border-right: 1px solid #90091e;
	padding-bottom: 20px;
	position: relative;
}

#ressources_last td ul{
	list-style-position: inside;
	padding-left: 10px;
	list-style-type: circle;
	font-size: 13px;
}

#ressources_last td ul a{
	color: #2e2e2e;
}

#ressources_last .all_link{
	position: absolute;
	bottom: 6px;
	right: 8px;
	color: #ff9300;
	font-weight: bold;
	font-size: 12px;
}

#res_Search td{
	vertical-align: top;
}

#search_results {
	padding-left: 10px;
	padding-right: 5px;
}

#search_results h3{
	margin-top: -5px;
}

#search_results ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#search_results li{
	/*border-bottom: 1px dotted #d5d5d5;*/
	padding-bottom: 2px;
	padding-top: 2px;
	font-size: 12px;
}

#search_results li a{
	font: 11px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #414141;
}

#search_results li a:hover{

	color: #b11322;
	text-decoration: underline;
}

#search_results li:hover{
	background-color: #f8fdcf;
}

#search_results li span{
		display: inline-block;
	background-color: #838383;
	top: -9px;
	right: -10px;
	-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
	color: #feffff;
	font-size: 11px;
	text-align: center;
	width: 85px;
	padding: 0 2px;
	margin-right: 5px;
	float: left;
}

#search_results li span.res_doc{
	background-color: #559fdd;
}

#search_results li span.res_outil{
	background-color: #ff851d;
}

#search_results li span.res_grant{
	background-color: #b72e2f;
}

#search_results li span.res_camp{
	background-color: #1245d2;
}



#search_results li span.res_form{
	background-color: #6d9c3c;
}

#search_results li span.res_mob{
	background-color: #a04996;
}



ul.list_org_icon .org_icon{
	width: 50px;
	height: 50px;
	display: block;
	margin-right: 25px;
	margin-left: 25px;
	position: relative;
}



ul.list_org_icon li{
	list-style-type: none;
	display: inline-block;
	float: left;
	text-align: center;
	width: 100px;
	height: 100px;
	vertical-align: middle;
	padding: 5px;
}

ul.list_org_icon li a span{
	font-size: 12px;
	line-height: 12px;
	display: block;
	margin-top: 5px;
}

/* @end */



/* @group agenda */

/* @group agenda liste */


.event_time_list{
	text-align: left;
	list-style-type: square;
	padding-left: 30px;
	color: #5e5e5e;
}

.event_category{
	display: inline-block;
	padding: 0 6px;
	background-color: #df823f;
	top: -9px;
	right: -10px;
	-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
	border: 2px solid #feffff;
	color: #feffff;
	font-size: 13px;
	margin-bottom: 7px;
	margin-top: 6px;
	opacity: 0.6;
	margin-right: 3px;
}

.event_category.f_cerapcoop{
	background-color: #d52624;
	color: white;
}

.event_category.f_auvergne{
	background-color: #00582b;
	color: white;
}

.event_category.f_ailleurs{
	background-color: #3680ad;
	color: white;
}

.event_item:hover .event_category{
	opacity: 1;
}


#link_filter{
	cursor: pointer;
	font-weight: bold;
	float: right;
	margin-top: -40px;
	font-size: 15px;
}

#list_filter{
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 20px;
}

#list_filter select{
	font-size: 80%;
	height: 25px;
	width: 180px;
}

#list_filter label{
	width: 90px;
	display: inline-block;
	text-align: right;
	margin-right: 5px;
}




/* @end */


.event-article-icon{
	float: right;
	padding-left: 10px;
	padding-bottom: 10px;
}

#home-events{
	margin: 0 0 0 5px;
	font-family: "Trebuchet MS", Trebuchet, Tahoma, Arial;
	width: 220px;
}

#home-events ul{
	padding: 0;
	margin: 10px 0 0;
}

li.event{
	list-style-type: none;
	padding: 0 0 0 12px;
	display: inline-block;
	margin-bottom: 8px;
	font-size: 11px;
	background-color: #f9f9f9;
	width: 200px;
	color: #4f4f4f;
	height: 55px;
	position: relative;
}

li.event .desc{
	line-height: 12px;
	padding-top: 3px;
}


.event_subtitle{
	color: #d4592e;
	font-weight: bold;
}

span.date {
	position: relative;
	background-color: #fefff3;
	border: 1px solid #5d5d5d;
	float: left;
	display: inline-block;
	width: 50px;
	height: 52px;
	left: 0;
	margin-right: 8px;
	box-shadow:1px 1px 3px #999;
    -webkit-box-shadow:1px 1px 3px #999;
    -moz-box-shadow:1px 1px 3px #999;
}



span.day {
	width: 50px;
	display: block;
	text-align: center;
	height: 30px;
	text-shadow: #b3b3b3 1px 1px 2px;
	padding-top: 4px;
	font: bold 28px/24px Dosis, Lucida, Verdana, sans-serif;
}

span.month {
	text-align: center;
	display: block;
	background-color: #f86437;
	color: #fff;
	height: 18px;
	font-size: 12px;
	line-height: 18px;

}

a.event_popup,
a.event_popup:visited{
	position: absolute;
	color: white;
	font: bold 22px "Courier New", Courier, mono;
	top: -12px;
	right: -8px;
}

li.event:hover a.event_popup{
	color: #f86437;
}


.agenda-title {
	text-align: center;
}

table.month-view {
	position: relative;
	border-collapse: collapse;
	width: 940px;
}

.month-view td,
.month-view th {
	padding: 4px;
	border: 1px solid #ccc;
	position: relative;
}

.month-view th {
	background-color: #fffab8;
}

.month-view dt {
	font-weight: bold;
}

.month-view dd {
	margin-bottom: .5em;
}

form table.month-view {
	width: 100%}

table.month-view ul {
	margin: 0;
	padding: 0;
	display: block;
	z-index: 150;
	position: relative;
}

table.month-view li {
	list-style-type: none;
	border: 1px solid #e0df3d;
	display: inline-block;
	font-size: 12px;
	text-align: left;
	background-color: rgba(249,249,40,0.5);
	z-index: 150;
	line-height: 14px;
	padding: 7px;
	-webkit-box-shadow: #aaa 1px 1px 3px;
	-moz-box-shadow: #aaa 1px 1px 3px;
	box-shadow: #aaa 1px 1px 3px;
}

table.month-view li .event_times {
	color: #f75919;
}

form table.month-view  th {
	text-align: right;
	width: 10em;
}

form .month-view tfoot td {
	text-align: center;
	background-color: #566;
}

.form-indent {
	margin-left: 2.5em;
}

.horizontal {
	width: 30em;
}

.horizontal li {
	float: left;
	margin: 0;
}

.horizontal li label {
	width: 4em;
	display: block;
	float: left;
}

#recurrence-options {
	float: left;
}

#recurrence-options li {
	margin-bottom: 4px;
}

.calendar td, .calendar th {
	min-width: 9em;
	width: 9em;
}

.month-view td {
	vertical-align: top;
	height: 8em;
	min-height: 8em;
	position: relative;
}

.month-view td, .month-view th {
	min-width: 8em;
	width: 8em;
}



.month-view ul {
	list-style: none;
	margin: 1px 2px;
	padding: 0;
	z-index: 20;
}

.month-view .today {
	background-color: rgba(62,176,253,0.2);
	border-right: 1px solid #b9b9b9;
	border-bottom: 1px solid #ccc;
}

.month-divider th, .month-divider td {
	border-top: 3px double #888;
}

.month-view .day-ordinal {
    text-align: center;
	position: absolute;
	top: 15%;
	left: 25%;
	right: 25%;
	z-index: 0;
}

.bg-day {
	font: 64px ""Trebuchet MS"", Trebuchet, Tahoma, Arial;;
	width: 97%;
	height: 4px;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
   user-select: none;
	z-index: 0;    
    opacity: 0.20;

}

#belts {
	list-style-type: none;
}

#belts a {
	text-align: center;
	display: block;
	padding: 4px;
	width: 70%;
	border: 1px solid #ccc;
	margin-bottom: .5em;
	font-weight: bold;
}

#belts a:hover {
	font-style: italic;
}

#white-belt {
	background-color: #fff;
	color: #322;
}

#yellow-belt {
	background-color: #fd0;
	color: #322;
}

#green-belt {
	background-color: #693;
	color: #fff;
}

#brown-belt {
	background-color: #655;
	color: #fff;
}

#black-belt {
	background-color: #322;
	color: #fff;
}

.evt-spc-odd, .evt-spc-even {
	background-color: #3b5153;
	color: #fff;
}

.evt-spc-odd a, .evt-spc-even a {
	color: #fff;
}

.evt-open-even, .evt-open-odd {
	background-color: #ccd;
}

.evt-adv-odd, .evt-adv-even {
	background-color: #cdd;
}

.evt-bgn-even, .evt-bgn-odd {
	background-color: #dd8;
}

.evt-bbc-odd, .evt-bbc-even {
	background-color: #aaa;
}

.evt-prv-odd {
	background-color: #8a9;
}

.evt-prv-even {
	background-color: #acb;
}

/* @end */










/* @group prettyPhoto */



div.pp_default .pp_top,div.pp_default .pp_top .pp_middle,div.pp_default .pp_top .pp_left,div.pp_default .pp_top .pp_right,div.pp_default .pp_bottom,div.pp_default .pp_bottom .pp_left,div.pp_default .pp_bottom .pp_middle,div.pp_default .pp_bottom .pp_right {
	height: 13px
}

div.pp_default .pp_top .pp_left {
	background: url(/static/prettyPhoto/default/sprite.png) -78px -93px no-repeat
}

div.pp_default .pp_top .pp_middle {
	background: url(/static/prettyPhoto/default/sprite_x.png) top left repeat-x
}

div.pp_default .pp_top .pp_right {
	background: url(/static/prettyPhoto/default/sprite.png) -112px -93px no-repeat
}

div.pp_default .pp_content .ppt {
	color: #f8f8f8
}

div.pp_default .pp_content_container .pp_left {
	background: url(/static/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y;
	padding-left: 13px
}

div.pp_default .pp_content_container .pp_right {
	background: url(/static/prettyPhoto/default/sprite_y.png) top right repeat-y;
	padding-right: 13px
}

div.pp_default .pp_next:hover {
	background: url(/static/prettyPhoto/default/sprite_next.png) center right no-repeat;
	cursor: pointer
}

div.pp_default .pp_previous:hover {
	background: url(/static/prettyPhoto/default/sprite_prev.png) center left no-repeat;
	cursor: pointer
}

div.pp_default .pp_expand {
	background: url(/static/prettyPhoto/default/sprite.png) 0 -29px no-repeat;
	cursor: pointer;
	width: 28px;
	height: 28px
}

div.pp_default .pp_expand:hover {
	background: url(/static/prettyPhoto/default/sprite.png) 0 -56px no-repeat;
	cursor: pointer
}

div.pp_default .pp_contract {
	background: url(/static/prettyPhoto/default/sprite.png) 0 -84px no-repeat;
	cursor: pointer;
	width: 28px;
	height: 28px
}

div.pp_default .pp_contract:hover {
	background: url(/static/prettyPhoto/default/sprite.png) 0 -113px no-repeat;
	cursor: pointer
}

div.pp_default .pp_close {
	width: 30px;
	height: 30px;
	background: url(/static/prettyPhoto/default/sprite.png) 2px 1px no-repeat;
	cursor: pointer
}

div.pp_default .pp_gallery ul li a {
	background: url(/static/prettyPhoto/default/default_thumb.png) center center #f8f8f8;
	border: 1px solid #aaa
}

div.pp_default .pp_gallery a.pp_arrow_previous,div.pp_default .pp_gallery a.pp_arrow_next {
	position: static;
	left: auto
}

div.pp_default .pp_nav .pp_play,div.pp_default .pp_nav .pp_pause {
	background: url(/static/prettyPhoto/default/sprite.png) -51px 1px no-repeat;
	height: 30px;
	width: 30px
}

div.pp_default .pp_nav .pp_pause {
	background-position: -51px -29px
}

div.pp_default a.pp_arrow_previous,div.pp_default a.pp_arrow_next {
	background: url(/static/prettyPhoto/default/sprite.png) -31px -3px no-repeat;
	height: 20px;
	width: 20px;
	margin: 4px 0 0
}

div.pp_default a.pp_arrow_next {
	left: 52px;
	background-position: -82px -3px
}

div.pp_default .pp_content_container .pp_details {
	margin-top: 5px
}

div.pp_default .pp_nav {
	clear: none;
	height: 30px;
	width: 105px;
	position: relative
}

div.pp_default .pp_nav .currentTextHolder {
	font-family: Georgia;
	font-style: italic;
	font-color: #999;
	font-size: 11px;
	left: 75px;
	line-height: 25px;
	position: absolute;
	top: 2px;
	margin: 0;
	padding: 0 0 0 10px
}

div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_play:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover {
	opacity: 0.7
}



div.pp_default .pp_bottom .pp_left {
	background: url(/static/prettyPhoto/default/sprite.png) -78px -127px no-repeat
}

div.pp_default .pp_bottom .pp_middle {
	background: url(/static/prettyPhoto/default/sprite_x.png) bottom left repeat-x
}

div.pp_default .pp_bottom .pp_right {
	background: url(/static/prettyPhoto/default/sprite.png) -112px -127px no-repeat
}

div.pp_default .pp_loaderIcon {
	background: url(/static/prettyPhoto/default/loader.gif) center center no-repeat
}

div.light_rounded .pp_top .pp_left {
	background: url(/static/prettyPhoto/light_rounded/sprite.png) -88px -53px no-repeat
}

div.light_rounded .pp_top .pp_right {
	background: url(/static/prettyPhoto/light_rounded/sprite.png) -110px -53px no-repeat
}

div.light_rounded .pp_next:hover {
	background: url(/static/prettyPhoto/light_rounded/btnNext.png) center right no-repeat;
	cursor: pointer
}

div.light_rounded .pp_previous:hover {
	background: url(/static/prettyPhoto/light_rounded/btnPrevious.png) center left no-repeat;
	cursor: pointer
}

div.light_rounded .pp_expand {
	background: url(/static/prettyPhoto/light_rounded/sprite.png) -31px -26px no-repeat;
	cursor: pointer
}

div.light_rounded .pp_expand:hover {
	background: url(/static/prettyPhoto/light_rounded/sprite.png) -31px -47px no-repeat;
	cursor: pointer
}

div.light_rounded .pp_contract {
	background: url(/static/prettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat;
	cursor: pointer
}

div.light_rounded .pp_contract:hover {
	background: url(/static/prettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat;
	cursor: pointer
}

div.light_rounded .pp_close {
	width: 75px;
	height: 22px;
	background: url(/static/prettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat;
	cursor: pointer
}

div.light_rounded .pp_nav .pp_play {
	background: url(/static/prettyPhoto/light_rounded/sprite.png) -1px -100px no-repeat;
	height: 15px;
	width: 14px
}

div.light_rounded .pp_nav .pp_pause {
	background: url(/static/prettyPhoto/light_rounded/sprite.png) -24px -100px no-repeat;
	height: 15px;
	width: 14px
}

div.light_rounded .pp_arrow_previous {
	background: url(/static/prettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat
}

div.light_rounded .pp_arrow_next {
	background: url(/static/prettyPhoto/light_rounded/sprite.png) -22px -71px no-repeat
}

div.light_rounded .pp_bottom .pp_left {
	background: url(/static/prettyPhoto/light_rounded/sprite.png) -88px -80px no-repeat
}

div.light_rounded .pp_bottom .pp_right {
	background: url(/static/prettyPhoto/light_rounded/sprite.png) -110px -80px no-repeat
}

div.dark_rounded .pp_top .pp_left {
	background: url(/static/prettyPhoto/dark_rounded/sprite.png) -88px -53px no-repeat
}

div.dark_rounded .pp_top .pp_right {
	background: url(/static/prettyPhoto/dark_rounded/sprite.png) -110px -53px no-repeat
}

div.dark_rounded .pp_content_container .pp_left {
	background: url(/static/prettyPhoto/dark_rounded/contentPattern.png) top left repeat-y
}

div.dark_rounded .pp_content_container .pp_right {
	background: url(/static/prettyPhoto/dark_rounded/contentPattern.png) top right repeat-y
}

div.dark_rounded .pp_next:hover {
	background: url(/static/prettyPhoto/dark_rounded/btnNext.png) center right no-repeat;
	cursor: pointer
}

div.dark_rounded .pp_previous:hover {
	background: url(/static/prettyPhoto/dark_rounded/btnPrevious.png) center left no-repeat;
	cursor: pointer
}

div.dark_rounded .pp_expand {
	background: url(/static/prettyPhoto/dark_rounded/sprite.png) -31px -26px no-repeat;
	cursor: pointer
}

div.dark_rounded .pp_expand:hover {
	background: url(/static/prettyPhoto/dark_rounded/sprite.png) -31px -47px no-repeat;
	cursor: pointer
}

div.dark_rounded .pp_contract {
	background: url(/static/prettyPhoto/dark_rounded/sprite.png) 0 -26px no-repeat;
	cursor: pointer
}

div.dark_rounded .pp_contract:hover {
	background: url(/static/prettyPhoto/dark_rounded/sprite.png) 0 -47px no-repeat;
	cursor: pointer
}

div.dark_rounded .pp_close {
	width: 75px;
	height: 22px;
	background: url(/static/prettyPhoto/dark_rounded/sprite.png) -1px -1px no-repeat;
	cursor: pointer
}



div.dark_rounded .pp_nav .pp_play {
	background: url(/static/prettyPhoto/dark_rounded/sprite.png) -1px -100px no-repeat;
	height: 15px;
	width: 14px
}

div.dark_rounded .pp_nav .pp_pause {
	background: url(/static/prettyPhoto/dark_rounded/sprite.png) -24px -100px no-repeat;
	height: 15px;
	width: 14px
}

div.dark_rounded .pp_arrow_previous {
	background: url(/static/prettyPhoto/dark_rounded/sprite.png) 0 -71px no-repeat
}

div.dark_rounded .pp_arrow_next {
	background: url(/static/prettyPhoto/dark_rounded/sprite.png) -22px -71px no-repeat
}

div.dark_rounded .pp_bottom .pp_left {
	background: url(/static/prettyPhoto/dark_rounded/sprite.png) -88px -80px no-repeat
}

div.dark_rounded .pp_bottom .pp_right {
	background: url(/static/prettyPhoto/dark_rounded/sprite.png) -110px -80px no-repeat
}

div.dark_rounded .pp_loaderIcon {
	background: url(/static/prettyPhoto/dark_rounded/loader.gif) center center no-repeat
}

div.dark_square .pp_left,div.dark_square .pp_middle,div.dark_square .pp_right,div.dark_square .pp_content {
	background: #000
}

div.dark_square .pp_loaderIcon {
	background: url(/static/prettyPhoto/dark_square/loader.gif) center center no-repeat
}

div.dark_square .pp_expand {
	background: url(/static/prettyPhoto/dark_square/sprite.png) -31px -26px no-repeat;
	cursor: pointer
}

div.dark_square .pp_expand:hover {
	background: url(/static/prettyPhoto/dark_square/sprite.png) -31px -47px no-repeat;
	cursor: pointer
}

div.dark_square .pp_contract {
	background: url(/static/prettyPhoto/dark_square/sprite.png) 0 -26px no-repeat;
	cursor: pointer
}

div.dark_square .pp_contract:hover {
	background: url(/static/prettyPhoto/dark_square/sprite.png) 0 -47px no-repeat;
	cursor: pointer
}

div.dark_square .pp_close {
	width: 75px;
	height: 22px;
	background: url(/static/prettyPhoto/dark_square/sprite.png) -1px -1px no-repeat;
	cursor: pointer
}

div.dark_square .pp_nav {
	clear: none
}

div.dark_square .pp_nav .pp_play {
	background: url(/static/prettyPhoto/dark_square/sprite.png) -1px -100px no-repeat;
	height: 15px;
	width: 14px
}

div.dark_square .pp_nav .pp_pause {
	background: url(/static/prettyPhoto/dark_square/sprite.png) -24px -100px no-repeat;
	height: 15px;
	width: 14px
}

div.dark_square .pp_arrow_previous {
	background: url(/static/prettyPhoto/dark_square/sprite.png) 0 -71px no-repeat
}

div.dark_square .pp_arrow_next {
	background: url(/static/prettyPhoto/dark_square/sprite.png) -22px -71px no-repeat
}

div.dark_square .pp_next:hover {
	background: url(/static/prettyPhoto/dark_square/btnNext.png) center right no-repeat;
	cursor: pointer
}

div.dark_square .pp_previous:hover {
	background: url(/static/prettyPhoto/dark_square/btnPrevious.png) center left no-repeat;
	cursor: pointer
}

div.light_square .pp_expand {
	background: url(/static/prettyPhoto/light_square/sprite.png) -31px -26px no-repeat;
	cursor: pointer
}

div.light_square .pp_expand:hover {
	background: url(/static/prettyPhoto/light_square/sprite.png) -31px -47px no-repeat;
	cursor: pointer
}

div.light_square .pp_contract {
	background: url(/static/prettyPhoto/light_square/sprite.png) 0 -26px no-repeat;
	cursor: pointer
}

div.light_square .pp_contract:hover {
	background: url(/static/prettyPhoto/light_square/sprite.png) 0 -47px no-repeat;
	cursor: pointer
}

div.light_square .pp_close {
	width: 75px;
	height: 22px;
	background: url(/static/prettyPhoto/light_square/sprite.png) -1px -1px no-repeat;
	cursor: pointer
}

div.light_square .pp_nav .pp_play {
	background: url(/static/prettyPhoto/light_square/sprite.png) -1px -100px no-repeat;
	height: 15px;
	width: 14px
}

div.light_square .pp_nav .pp_pause {
	background: url(/static/prettyPhoto/light_square/sprite.png) -24px -100px no-repeat;
	height: 15px;
	width: 14px
}

div.light_square .pp_arrow_previous {
	background: url(/static/prettyPhoto/light_square/sprite.png) 0 -71px no-repeat
}

div.light_square .pp_arrow_next {
	background: url(/static/prettyPhoto/light_square/sprite.png) -22px -71px no-repeat
}

div.light_square .pp_next:hover {
	background: url(/static/prettyPhoto/light_square/btnNext.png) center right no-repeat;
	cursor: pointer
}

div.light_square .pp_previous:hover {
	background: url(/static/prettyPhoto/light_square/btnPrevious.png) center left no-repeat;
	cursor: pointer
}

div.pp_pic_holder a:focus {
	outline: none
}

div.pp_overlay {
	background: #000;
	display: none;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9500
}

div.pp_pic_holder {
	display: none;
	position: absolute;
	width: 100px;
	z-index: 10000
}

.pp_content {
	height: 40px;
	min-width: 40px
}

* html .pp_content {
	width: 40px
}

.pp_content_container {
	position: relative;
	text-align: left;
	width: 100%
}

.pp_content_container .pp_left {
	padding-left: 20px
}

.pp_content_container .pp_right {
	padding-right: 20px
}

.pp_content_container .pp_details {
	float: left;
	margin: 10px 0 2px
}

.pp_description {
	display: none;
	margin: 0;
}

.pp_hoverContainer {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2000
}

.pp_gallery {
	display: none;
	left: 50%;
	margin-top: -50px;
	position: absolute;
	z-index: 10000
}

.pp_gallery div {
	float: left;
	overflow: hidden;
	position: relative
}

.pp_gallery ul {
	float: left;
	height: 35px;
	position: relative;
	white-space: nowrap;
	margin: 0 0 0 5px;
	padding: 0
}

.pp_gallery ul a {
	border: 1px rgba(0,0,0,0.5) solid;
	display: block;
	float: left;
	height: 33px;
	overflow: hidden
}

.pp_gallery ul a img {
	border: 0
}

.pp_gallery li {
	display: block;
	float: left;
	margin: 0 5px 0 0;
	padding: 0
}

.pp_gallery li.default a {
	background: url(/static/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;
	display: block;
	height: 33px;
	width: 50px
}

.pp_gallery .pp_arrow_previous,.pp_gallery .pp_arrow_next {
	margin-top: 7px!important
}

a.pp_next {
	background: url(/static/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;
	display: block;
	float: right;
	height: 100%;
	text-indent: -10000px;
	width: 49%
}

a.pp_previous {
	background: url(/static/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;
	display: block;
	float: left;
	height: 100%;
	text-indent: -10000px;
	width: 49%
}

a.pp_expand,a.pp_contract {
	cursor: pointer;
	display: none;
	height: 20px;
	position: absolute;
	right: 30px;
	text-indent: -10000px;
	top: 10px;
	width: 20px;
	z-index: 20000
}

a.pp_close {
	position: absolute;
	right: 0;
	display: block;
	line-height: 22px;
	text-indent: -10000px;
	bottom: 0;
	top: 0;
}

.pp_loaderIcon {
	display: block;
	height: 24px;
	left: 50%;
	position: absolute;
	top: 50%;
	width: 24px;
	margin: -12px 0 0 -12px
}

#pp_full_res {
	line-height: 1!important
}

#pp_full_res .pp_inline {
	text-align: left;
	padding: 10px;
	height: 223px;
	overflow: auto;
	font-size: 15px;
}

#pp_full_res .pp_inline p {
	margin: 0 0 15px;
	font-size: 15px;
}

div.ppt {
	color: #fff;
	display: none;
	font-size: 17px;
	z-index: 9999;
	margin: 0 0 5px 15px
}

div.pp_default .pp_content,div.light_rounded .pp_content {
	background-color: #fff
}

div.pp_default #pp_full_res .pp_inline,div.light_rounded .pp_content .ppt,div.light_rounded #pp_full_res .pp_inline,div.light_square .pp_content .ppt,div.light_square #pp_full_res .pp_inline,div.facebook .pp_content .ppt,div.facebook #pp_full_res .pp_inline {
	color: #000
}

div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a,.pp_gallery ul a:hover,.pp_gallery li.selected a {
	border-color: #fff
}

div.pp_default .pp_details,div.light_rounded .pp_details,div.dark_rounded .pp_details,div.dark_square .pp_details,div.light_square .pp_details,div.facebook .pp_details {
	position: relative
}

div.light_rounded .pp_top .pp_middle,div.light_rounded .pp_content_container .pp_left,div.light_rounded .pp_content_container .pp_right,div.light_rounded .pp_bottom .pp_middle,div.light_square .pp_left,div.light_square .pp_middle,div.light_square .pp_right,div.light_square .pp_content,div.facebook .pp_content {
	background: #fff
}



div.light_rounded .pp_gallery a.pp_arrow_previous,div.light_rounded .pp_gallery a.pp_arrow_next,div.dark_rounded .pp_gallery a.pp_arrow_previous,div.dark_rounded .pp_gallery a.pp_arrow_next,div.dark_square .pp_gallery a.pp_arrow_previous,div.dark_square .pp_gallery a.pp_arrow_next,div.light_square .pp_gallery a.pp_arrow_previous,div.light_square .pp_gallery a.pp_arrow_next {
	margin-top: 12px!important
}

div.light_rounded .pp_arrow_previous.disabled,div.dark_rounded .pp_arrow_previous.disabled,div.dark_square .pp_arrow_previous.disabled,div.light_square .pp_arrow_previous.disabled {
	background-position: 0 -87px;
	cursor: default
}

div.light_rounded .pp_arrow_next.disabled,div.dark_rounded .pp_arrow_next.disabled,div.dark_square .pp_arrow_next.disabled,div.light_square .pp_arrow_next.disabled {
	background-position: -22px -87px;
	cursor: default
}

div.light_rounded .pp_loaderIcon,div.light_square .pp_loaderIcon {
	background: url(/static/prettyPhoto/light_rounded/loader.gif) center center no-repeat
}

div.dark_rounded .pp_top .pp_middle,div.dark_rounded .pp_content,div.dark_rounded .pp_bottom .pp_middle {
	background: url(/static/prettyPhoto/dark_rounded/contentPattern.png) top left repeat
}

div.dark_rounded .currentTextHolder,div.dark_square .currentTextHolder {
	color: #c4c4c4
}

div.dark_rounded #pp_full_res .pp_inline,div.dark_square #pp_full_res .pp_inline {
	color: #fff
}

.pp_top,.pp_bottom {
	height: 20px;
	position: relative
}

* html .pp_top,* html .pp_bottom {
	padding: 0 20px
}

.pp_top .pp_left,.pp_bottom .pp_left {
	height: 20px;
	left: 0;
	position: absolute;
	width: 20px
}

.pp_top .pp_middle,.pp_bottom .pp_middle {
	height: 20px;
	left: 20px;
	position: absolute;
	right: 20px
}

* html .pp_top .pp_middle,* html .pp_bottom .pp_middle {
	left: 0;
	position: static
}

.pp_top .pp_right,.pp_bottom .pp_right {
	height: 20px;
	left: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 20px
}

.pp_fade,.pp_gallery li.default a img {
	display: none
}

p.pp_description{
	font-size: 1px;
	color: #fff;
	float: left;
}

a#prevlink{
	display: block;
	text-align: center;
	margin-top: 4px;
	font-weight: bold;
	text-decoration: none;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 4px solid #7e9be4;
}

div.ppt{
	font-weight: bold;
	font-size: 20px;
}

.pp_inline h3{
	margin-bottom: 20px;
	border-bottom: 1px solid #aaa;
}

span#tagsurf{
	font-size: 12px;
	display: block;
	margin-bottom: 9px;
	font-weight: bold;
	color: #666;
}


/* @end */

/* @group tag */

div.tag_description{
	clear: both;
	position: relative;
}

.h2tag a{
	color: #bc002a;
	text-decoration: underline;
	border-bottom-style: solid;
}

.tagged{
	display: block;
	width: 40%;
	float: left;
	margin-right: 50px;
	margin-left: 20px;
	margin-top: 10px;
}

.tagged small{
	font-weight: bold;
	border-top-style: dotted;
	border-top-width: 1px;
	margin-top: 15px;
	padding-top: 5px;
	display: inline-block;
	width: 100%;
	text-align: center;
	text-decoration: underline;
}

.tagged.whole{
	width: 100%;
	float: none;
	margin-right: 20px;
}

.tagged h4{
	color: #215866;
	border-top-style: solid;
	font-size: 18px;
	border-top-width: 5px;
	border-bottom-width: 1px;
	padding-top: 8px;
	padding-left: 7px;
	padding-right: 7px;
}

.tagged ul{
	margin: 0;
}

.tagged li{
	list-style-type: none;
	clear: both;
	border-top: 1px dotted #215864;
	padding-top: 10px;
}

.tagged li a{
	font-weight: bold;
}

.tagged li span.subtitle{
	font-size: 12px;
	line-height: 18px;
}

.tagged-item-icon{
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
	-webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
	box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}

.tagged .event_subtitle{
	font-weight: normal;
	font-style: normal;
	font-size: 12px;
}


/* @end */