/* @override 
	http://192.168.1.53:8000/static/css/ead-si.css
	http://www.eadsi-auvergne.fr/static/css/ead-si.css
	http://debian2:8000/static/css/ead-si.css
	http://debian2/static/css/ead-si.css
*/

/* @group articles */

div.summary{
	border: 1px none #a4a592;
	padding: 9px;
	margin-bottom: 14px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	color: #5e4d38;
	background-color: #dddcde;
	font-size: 14px;
	margin-top: 12px;
	font-weight: bold;
}

img.pic.solo{
	padding: 9px 16px 10px;
}

.article_dates{
	font-weight: bold;
	color: #bc002a;
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 5px;
}

.orga{
		font-weight: bold;
	color: #bc002a;
	margin-bottom: 20px;
}

span.fleche{
	font-size: 16px;
	margin-right: 10px;
	vertical-align: -1px;
}

.orga span.orga_label{
	color: #929292;
	font-style: italic;
}

.article ul{
	list-style-position: inside;
}

/* @end */


/* @group mailing_form */

.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; padding: 0; border: 0;
	margin-right: -1px;
	margin-top: -1px;
	margin-left: -1px;
}

#mailing_form{
	padding: 11px 11px 0;
	position: relative;
    overflow: hidden;
}

#mailing_form label {
display: none;}

#mailing_form p {
	padding: 0;
	margin: 0;
}

#mailing_form input[type=text]{
	margin-bottom: 6px;
	padding: 2px 6px;
	font-size: 12px;
	width: 180px;
}

#mailing_form .disclaimer{
	color: #565657;
	font-size: 10px;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: right;
	font-weight: bold;
}

#mailing_form .errorlist{
	font-size: 12px;
	font-weight: bold;
	color: #ff2600;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.mailing_form_msg{
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	padding: 10px 10px 0;
	color: #008d20;
	margin-bottom: 0;
}

/* @end */

/* @group main */

/* normalize.css v1.0.1 | MIT License | git.io/normalize */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {
	display: block
}

audio,canvas,video {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden] {
	display: none;
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

html,button,input,select,textarea {
	font-family: sans-serif
}

body {
	margin: 0
}

a:focus {
	outline: thin dotted
}

a:active,a:hover {
	outline: 0
}

h1,.like-h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

h2,.like-h2 {
	font-size: 1.5em;
	margin: 0.83em 0;
	line-height: 1.3em;
	color: #bc0026;
	border-style: none;
	border-bottom-style: dotted;
	border-bottom-width: 2px;
}

h3,.like-h3 {
	font-size: 1.17em;
	margin: 1em 0 0.5px;
		color: #700a08;

}

h4,.like-h4 {
	font-size: 1em;
	margin: 1em 0;
}

h5,.like-h5 {
	font-size: 0.83em;
	margin: 1.67em 0
}

h6,.like-h6 {
	font-size: 0.75em;
	margin: 2.33em 0
}

abbr[title] {
	border-bottom: 1px dotted
}

b,strong {
	font-weight: bold
}

blockquote {
	margin: 1em 40px
}

dfn {
	font-style: italic
}

mark {
	background: #ff0;
	color: #000
}

p,pre {
	margin-right: 0;
	margin-bottom: 1em;
	margin-left: 0;
}

code,kbd,pre,samp {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word
}

q {
	quotes: none
}

q:before,q:after {
	content: '';
	content: none
}

small {
	font-size: 80%
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em
}

dl,menu,ol,ul {
	margin: 1em 0;
	list-style-position: outside;
}

dd {
	margin: 0 0 0 40px
}

menu,ol,ul {
	padding: 0 0 0 40px
}

nav ul,nav ol {
	list-style: none;
	list-style-image: none
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic
}

svg:not(:root) {
	overflow: hidden
}

figure {
	margin: 0
}

form {
	margin: 0
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em
}

legend {
	border: 0;
	padding: 0;
	white-space: normal;
	*margin-left: -7px
}

button,input,select,textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle
}

button,input {
	line-height: normal
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
	*overflow: visible
}

button[disabled],input[disabled] {
	cursor: default
}

input[type="checkbox"],input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
	*height: 13px;
	*width: 13px
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}

button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto;
	vertical-align: top
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

html,button,input,select,textarea {
	color: #222
}

body {
	font-size: 1em;
	line-height: 1.4
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none
}

::selection {
	background: #b3d4fc;
	text-shadow: none
}

hr {
	display: block;
	margin: 1em 0;
	padding: 0;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc
}

img {
	vertical-align: middle
}

fieldset {
	margin: 0;
	padding: 0;
	border: 0
}

textarea {
	resize: vertical
}

body {
	width: 100%;
	*zoom: 1
}

body:before,body:after {
	content: "";
	display: table
}

body:after {
	clear: both
}

body {
	font-family: 'Karla', sans-serif;
	font-size: 0.9rem;
	color: #4e404f
}

.lt-ie9 body {
	font-size: 0.9em
}

hr {
	border: none;
	height: 5px;
	background: url(../img/hr.png) repeat-x
}

.container {
	width: 940px;
	margin: 0 auto;
	*zoom: 1;
	position: relative
}

.container:before,.container:after {
	content: "";
	display: table
}

.container:after {
	clear: both
}

header .border {
	background: url(../img/header-border.png) repeat-x;
	height: 8px
}

header .container {
	background: #fff;
	height: 93px;
	margin-top: 25px;
}

header .logo {
	display: inline;
	float: left;
	width: 31.25%;
	margin: 0 1.042%;
	position: relative;
	margin-bottom: -71px;
	z-index: 100;
}

#logo-ead{
	z-index: 200;
}

header .logo.pageheader{
	width: 20%;
}

header .logo.pageheader img{
	margin: 0;
	position: relative;
	left: 55px;
}


header h1 {
	margin-left: 82px;
	margin-top: 0
}

header .logo.pageheader h1{
	margin: 0;
}


header .navigation {
	display: inline;
	float: left;
	width: 64.583%;
	margin: 0 1.042%;
	font-weight: bolder;
}

header .navigation.pageheader{
	width: 75%;
}



header .navigation hr {
	margin-bottom: 5px
}

header .navigation p {
	font-size: 0.95rem;
	font-stretch: condensed;
	color: #8f1920
}

.lt-ie9 header .navigation p {
	font-size: 0.95em
}

header nav {
	position: relative;
	z-index: 10;
	font-size: 0.9rem
}

/* My Comment */

header nav ul {
	*zoom: 1;
	margin: 0;
	padding: 0
}

header nav ul:before,header nav ul:after {
	content: "";
	display: table
}

header nav ul:after {
	clear: both
}

header nav > ul li {
	display: inline-block;
	float: left
}


header nav > ul > .dropdown ul li{
	display: block;
	float: none;
	font-variant: normal;
}

header nav > ul > .dropdown ul li a{
	padding-left: 15px;
	padding-right: 15px;
}

.dropdown-menu{
	top: 20px;
	left: -10px;
	z-index: 100;
}

li.open a.dropdown-toggle{
	background-color: #ebecec;
}

nav a.dropdown-toggle,
nav a.dropdown-toggle:visited,
nav > ul > li > a,
nav > ul > li > a a:visited {
	display: block;
	text-decoration: none;
	margin-right: 23px;
	color: #3a3b42;
	text-transform: uppercase;
	padding: 2px 7px 0;
}
	
a.dropdown-toggle b.caret{
	margin-top: 7px;
	margin-left: 7px;
}

header nav a.last {
	margin: 0
}

.lt-ie9 header nav {
	font-size: 0.9em
}


#main {
	background: #ececec url(../img/background.png) 50% 50% repeat-y;
	min-height: 500px
}

#main aside.left {
	display: inline;
	float: left;
	width: 31.25%;
	margin: 0 1.042%
}

#main aside.left .garnish {
	background: url(../img/logo-garnish.png) no-repeat;
	width: 297px;
	height: 85px;
	position: absolute;
	z-index: 10;
}

.index #main section.middle {
	display: inline;
	float: left;
	width: 39.583%;
	margin: 0 1.042%
}

.page #main section.middle {
	display: inline;
	float: left;
	width: 72.917%;
	margin: 0 1.042%
}

.page #main section.middle.full_page {
	width: 100%;
}

article.block h2{
	padding-left: 10px;
	padding-bottom: 5px;
}

ul.bjsq{
	margin: 0;
	padding: 0;
}

ul.bjqs-controls{
	position: relative;
	width: 59%;
	top: -628px;
	z-index: 0;
	font-size: 12px;
	text-align: left;
	left: 82px;
}

ul.bjqs-controls.v-centered li a{
	color: #bc002a;
}

#slide-content{
	width: 100%;
	padding-top: 24px;
	position: relative;
}

#slide-content li b{
	color: #b40027;
}

#main section.middle article img.main_img {
	width: 100%;
}

.slide_text{
	padding-right: 12px;
	padding-left: 12px;
}

.suite{
	float: right;
	font-weight: bold;
	position: relative;
	top: 10px;
}

.index #main section.middle article p {
	border-top: 2px solid #948c99;
	border-bottom: 2px solid #948c99;
	padding: 0.9em 0.5em;
	margin: 0 0 0.5em 0;
	position: relative;
}

#main section.middle article p.wait {
	position: absolute;
	top: 0
}

#main section.middle article h2 {
	margin: 0.3em 0
}

#main aside.right {
	display: inline;
	float: left;
	width: 22.917%;
	margin: 0 1.042%;
	font-size: 0.7rem
}

.lt-ie9 #main aside.right {
	font-size: 0.8em
}


#main aside.right h3 {
	margin: 5px 0 7px;
	border-bottom: 1px solid #948c99;
	padding-bottom: 7px;
}

#main aside.right h3 a{
	color: #cc2530;
}

#main aside.right p {
	margin-top: 0;
}


#main aside.right p.date {
	border-top: 1px solid #948c99;
	padding-top: 6px;
}

#main .block {
	-webkit-box-shadow: 8px 8px 13px rgba(0,0,0,0.3);
	-moz-box-shadow: 8px 8px 13px rgba(0,0,0,0.3);
	box-shadow: 8px 8px 13px rgba(0,0,0,0.3);
	background: #fff;
	margin: 10px 0 20px 0
}

#main .block .content {
	padding: 0 15px 5px 15px;
	position: relative;
}

#main .block .header {
	min-height: 5px;
	border-top: 5px solid #bc0022;
}


#main .block .header span{
	color: #cb0022;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	padding-left: 7px;
}

#ico_carto{
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
}

#main #search-container {
	text-transform: uppercase;
	font-weight: bolder;
	*zoom: 1;
	width: 100%;
	color: #feffff;
}

.block_bar{
	background: #5a4953;
	display: block;
	height: 24px;
		text-transform: uppercase;
	font-weight: bolder;
	*zoom: 1;
	width: 100%;
	color: #feffff;
}

.block_bar span{
	margin-top: 5px;
	display: inline-block;
	margin-left: 19px;
	font-size: 10px;
}

#main #search-container:before,#main #search-container:after {
	content: "";
	display: table
}

#main #search-container:after {
	clear: both
}

#main #search-container input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(../img/search.png) no-repeat 4px 3px;
	float: left;
	margin: 2px 0 0;
	border: none;
	padding: 2px 2px 2px 22px;
	font-size: 0.8rem;
	width: 86%;
	outline: none;
}
#main #search-container button{
	height: 22px;
	width: 30px;
	float: right;
	border: 2px outset #d5d5d5;
	font-variant: small-caps;
}


.lt-ie9 #main #search-container input {
	font-size: 1.1em
}

#main #search-container input::-webkit-input-placeholder {
	color: #999;
}

#main .block#ssi_block{
	
	height: 130px;
}

#img_tags{
	margin-top: 65px;
}

#main #search-container input:-moz-placeholder {
	color: #999;
}

#main #search-container input:-ms-input-placeholder {
	color: #999;
}

#main #search-container .filter {
	width: 40%;
	float: right;
	background: #5a4953;
	color: #fff;
	cursor: pointer;
	*zoom: 1;
	padding-left: 0;
}

#main #search-container .filter:before,#main #search-container .filter:after {
	content: "";
	display: table
}

#main #search-container .filter:after {
	clear: both
}

#main #search-container .filter .toggle {
	float: left;
	width: 15%;
	text-align: center;
	position: relative;
	top: 3px;
	padding-right: 4px;
	padding-left: 4px;
}

#main #search-container .filter .toggle img {
	width: 7px;
	height: 6px
}

#main #search-container .filter ul {
	float: left;
	list-style: none;
	padding: 0;
	margin: 0
}

#main #search-container .filter ul li {
	font-size: 0.7rem;
	display: none;
	padding: 2px 0;
}

.lt-ie9 #main #search-container .filter ul li {
	font-size: 0.9em
}

#main #search-container .filter ul li.selected {
	display: block
}

footer {
	*zoom: 1;
	background: url(../img/footer-background.png) repeat-x;
	height: 99px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bolder
}

footer:before,footer:after {
	content: "";
	display: table
}

footer:after {
	clear: both
}

footer .left {
	float: left;
	width: 25%
}

footer .left img {
	margin-top: 20px;
	margin-bottom: 5px;
	margin-right: 10px
}

footer .left .small {
	text-transform: none;
	font-size: 0.6rem;
	line-height: 1
}

.lt-ie9 footer .left .small {
	font-size: 0.6em
}

footer .middle {
	font-size: 0.8rem;
	text-align: center
}

.lt-ie9 footer .middle {
	font-size: 0.8em
}

footer .middle img {
	padding-right: 10px;
	border-right: 1px solid #fff;
	margin-right: 10px
}

footer .middle span {
	display: inline-block;
	margin-top: 40px;
	margin-right: 10px;
	color: #feffff;
}

footer .right {
	text-align: center;
	float: right;
	margin: 10px 2% 0;
	width: 20%;
	font-size: 0.65rem;
	line-height: 1.1em
}

.right a{
	text-decoration: none;
	color: #feffff;
}

.right a:hiver{
	text-decoration: underline;
}

.lt-ie9 footer .right {
	font-size: 0.6em
}

footer .right p {
	border-bottom: 1px solid #fff;
	margin-bottom: 5px;
	padding-bottom: 3px
}

footer .right .cerapcoop {
	*zoom: 1
}

footer .right .cerapcoop:before,footer .right .cerapcoop:after {
	content: "";
	display: table
}

footer .right .cerapcoop:after {
	clear: both
}

footer .right img {
	float: left;
	margin-right: 4px
}

.lt-ie8 footer .right img {
	margin-right: 0px
}

footer .right address {
	text-align: left;
	float: left;
	text-transform: capitalize;
	line-height: 12px;
}

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 100%
}

.hidden {
	display: none !important;
	visibility: hidden
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto
}

.invisible {
	visibility: hidden
}

.clearfix:before,.clearfix:after {
	content: " ";
	display: table
}

.clearfix:after {
	clear: both
}

.clearfix {
	*zoom: 1
}

#project_navlist{
	width: 290px;
	float: left;
	margin-right: 20px;
	padding: 10px 10px 10px 5px;
	margin-top: 10px;
	height: 295px;
}

#project_navlist ul li{
	list-style-type: circle;
	color: #3485ca;
	list-style-position: inside;
}



/* @end */

@media print {

* {
	background: transparent !important;
	color: #000 !important;
	box-shadow: none !important;
	text-shadow: none !important
}

a,a:visited {
	text-decoration: underline
}

a[href]:after {
	content: " (" attr(href) ")"
}

abbr[title]:after {
	content: " (" attr(title) ")"
}

.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
	content: ""
}

pre,blockquote {
	border: 1px solid #999;
	page-break-inside: avoid
}

thead {
	display: table-header-group
}

tr,img {
	page-break-inside: avoid
}

img {
	max-width: 100% !important
}@page{margin:0.5cm}

p,h2,h3 {
	orphans: 3;
	widows: 3
}

h2,h3 {
	page-break-after: avoid
}

}

/* @group cms */

.the-logo{
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.article{
	margin-bottom: 20px;
}

#resstabs li a{
	font-weight: bold;
	font-size: 14px;
	font-style: italic;
}

.nav-tabs{
	padding-left: 10px;
}


/* @end */

/* @group Metadata */





dl.attr_table {
	display: block;
	position: relative;
	line-height: 12px;
	text-align: left;
	margin-bottom: 3px;
	font-size: 12px;
	width: 460px;
	clear: both;
	left: 194px;
}



dt {
	width: 140px;
	/*

border-right: 3px solid #c0c0c0;*/
	display: block;
	margin-left: 10px;
	text-align: left;
}

dl.attr_table dd {
	display: block;
	

border: 1px solid white;
	height: 19px;
	position: relative;
	line-height: 22px;
	padding-top: 5px;
	padding-right: 5px;
	text-align: left;
	padding-bottom: 5px;
}

dl.attr_table dt {
	float: left;
	margin-right: 4px;
	padding: 6px 10px 4px 14px;
	text-align: right;
	font-style: italic;
	font-weight: bold;
	color: #ab1e19;
}

dl.attr_table dl dd {
	margin: 2px 0;
	
}

/* DIV version */



div.attr_table{
	margin-bottom: 30px;
	display: block;
	font-size: 12px;
	width: 460px;
	margin-top: 20px;
	position: relative;
}

div.metadata{
	clear: both;
	position: relative;
	right: 0;
	width: 600px;
	text-align: left;
	display: inline-block;
}

.metadata .key{
	width: 140px;
	text-align: right;
	font-style: italic;
	font-weight: bold;
	color: #ab1e19;
	float: left;
	position: absolute;
	left: 0;
}

.metadata .value {
	width: 50%;
	position: relative;
	left: 160px;
	margin-bottom: 4px;
	border-bottom: 1px dotted #d0d0d0;
	padding-bottom: 4px;
	min-height: 16px;
}

.attachement_filetype{
	margin-right: 10px;
	height: 20px;
	margin-top: -5px;
}



.detail_block_old{
	border: 2px solid #c6bfb4;
	clear: both;
	padding: 7px 10px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	margin-bottom: 10px;
	-webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.2);
	-moz-box-shadow: 3px 3px 7px rgba(0,0,0,0.2);
	box-shadow: 3px 3px 7px rgba(0,0,0,0.2);
}


.detail_block{
	border: 2px none #c6bfb4;
	clear: both;
	padding: 5px 10px 3px;
	margin-bottom: 10px;
	border-top: 1px dashed #bc002a;
	border-bottom: 1px dashed #bc002a;
	font-size: 12px;
	background-color: #dedce0;
}


.external_link{
	margin-bottom: 7px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 10px;
}

.external_link_old{
	background: url(/static/img/external_link.png) no-repeat 7px 2px;
	margin-bottom: 7px;
	padding: 10px 10px 10px 46px;
}

.external_link a{
	color: #bc002a;
}
.external_link span{
	margin-right: 10px;
}

.external_link span:before{
	content: "➔";
	font-weight: normal;
	font-style: normal;
	margin-right: 17px;
}

div.attachment span{
	display: inline-block;
	margin-right: 10px;
}

div.attachment a{
	color: #bc002a;
}

.pagination{
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.pagination .disabled{
	color: #a9a9a9;
}

.pagination .prev{
	margin-right: 25%;
}

.pagination .next{
		margin-left: 25%;
}

.pagination .page{
	border-style: solid;
	border-width: 1px;
	padding: 4px;
}


/* @end */

/* @group organisations */

.org_logo {
	text-align: center;
	background-color: white;
	width: 220px;
	border: 1px dotted #dddede;
}

.adresse {
	margin-bottom: 15px;
	color: #667a87;
	background-color: #f4f4f4;
	padding: 12px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	border: 1px solid #e3e3e3;
	width: 200px;
	font: bold 12px "Lucida Grande", Lucida, Verdana, sans-serif;
}

.weblink {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.webshot {
	width: 200px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	border: 3px solid #d9d9d9;
	margin-left: 9px;
	height: 150px;
}

.url {
	position: absolute;
	right: -10px;
	border-width: 3px;
	color: #1d1d29;
	font-size: 10px;
	bottom: -7px;
	border-color: #dbdbdb;
}

a.weblink:hover code.url {
	text-decoration: none;
	color: #c70337;
	border-color: #a7a7a7;
}

.adresse img {
	margin-bottom: 10px;
}


.list_item {
	font-size: 14px;
	width: 99%;
	margin-bottom: 10px;
	position: relative;
}



.item-desc-wrapper{
	position: relative;
	border: 1px outset #efefef;
	padding: 11px;
	-webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

.item-desc-content{
	position: relative;
}

.item-desc-content a.title{
	font-weight: bold;
	color: #d45a1e;
	font-size: 1.4em;
}


.item-desc-content dl.attr_table{
	margin-bottom: 40px;
}

.item-desc-content dl.attr_table dd{
	margin: 0;
	height: 10px;
	border-bottom: 1px solid #e1d3c5;
	line-height: 12px;

}

.item-desc-content dl.attr_table dt{
	margin: 0;
	width: 113px;
	text-align: left;
		line-height: 12px;

}


.item-list-icon {
	padding-right: 10px;
	/*border: 1px solid #b2b2b2;*/
	display: inline-block;
	padding: 10px;
	margin-right: 10px;
	background-color: white;
	}
.item-list-icon a {

	text-decoration: none;
	outline: none;
	color: white;
}

.btn.proj{
	display: inline;
	position: absolute;
	right: 38px;
	bottom: -38px;
}


.event_item .btn.proj{
	display: block;
	position: relative;
	right: 0;
	bottom:0;
	clear: both;
	width: 100px;
	margin-left: 500px;
}

ul.membres {
	padding-left: 5px;
	display: inline-block;
	position: relative;
	margin: 0;
}

ul.membres li {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
	border: 1px solid #dadada;
	height: 48px;
	position: relative;
	padding: 5px;
	margin-bottom: 7px;
	width: 278px;
	float: left;
	margin-right: 10px;
	display: inline-block;
}

ul.membres li p {
	padding-left: 60px;
	position: relative;
	margin-top: 8px;
	font-size: 0.9em;
}

ul.membres li img {
	float: left;
}

ul.membres li a {
	text-decoration: none;
}

/* @end */

/* @group agenda */

/* @group agenda-liste */


.result_info{
	font-style: italic;
	font-size: 12px;
	color: gray;
}

.event_time_list{
	text-align: left;
	list-style-type: square;
	padding-left: 30px;
	color: #5e5e5e;
}

.event_category{
	display: inline-block;
	padding: 0 6px;
		background-color: #00582b;
	
	top: -9px;
	right: -10px;
	-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
	border: 2px solid #feffff;
	color: #feffff;
	font-size: 13px;
	margin-bottom: 7px;
	margin-top: 6px;
	margin-right: 3px;
}



.event_category.c1{
	background-color: #d52624;
	color: white;
}

.event_category.c2{
	background-color: #df823f;
	color: white;
}

.event_category.c3{
	background-color: #3680ad;
	color: white;
}

.event_category.c4{
	background-color: #dfc800;
	color: black;
}
.event_category.c5{
	background-color: #291fad;
	color: white;
}
.event_category.c6{
	background-color: #ae2a8d;
	color: white;
}
.event_category.c7{
	background-color: #b1d689;
	color: black;
}
.event_category.c8{
	background-color: #e3585a;
	color: #feffff;
}

.event_category.c9{
	background-color: #75582d;
	color: white;
}
.event_category.c10{
	background-color: #21cbff;
	color: black;
}


#link_filter{
	cursor: pointer;
	font-weight: bold;
	float: right;
	margin-top: -40px;
	font-size: 15px;
}

#list_filter{
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 20px;
}

#list_filter select{
	font-size: 80%;
	height: 25px;
	width: 180px;
}

#list_filter label{
	width: 90px;
	display: inline-block;
	text-align: right;
	margin-right: 5px;
}


/* @end */

.event-article-icon{
	float: right;
	padding-left: 10px;
	padding-bottom: 10px;
}

#home-events{
	margin: 0 0 0 5px;
	font-family: "Trebuchet MS", Trebuchet, Tahoma, Arial;
	width: 220px;
}

#home-events ul{
	padding: 0;
	margin: 10px 0 0;
}

li.event{
	list-style-type: none;
	padding: 0 0 0 12px;
	display: inline-block;
	margin-bottom: 8px;
	font-size: 11px;
	background-color: #f9f9f9;
	width: 200px;
	color: #4f4f4f;
	height: 55px;
	position: relative;
}

li.event .desc{
	line-height: 12px;
	padding-top: 3px;
}

.event_subtitle{
	color: #d4592e;
	font-weight: bold;
}

.event_org{
	margin-left: 20px;
	margin-top: 15px;
	font-weight: bold;
}

span.date {
	position: relative;
	background-color: #fefff3;
	border: 1px solid #a9a9a9;
	float: left;
	display: inline-block;
	width: 50px;
	height: 52px;
	left: 0;
	margin-right: 8px;
	box-shadow:1px 1px 3px #999;
    -webkit-box-shadow:1px 1px 3px #999;
    -moz-box-shadow:1px 1px 3px #999;
}



span.day {
	width: 50px;
	display: block;
	text-align: center;
	height: 30px;
	text-shadow: #b3b3b3 1px 1px 2px;
	padding-top: 4px;
	font: bold 28px/24px Lucida, Verdana, sans-serif;
}

span.month {
	text-align: center;
	display: block;
	background-color: #f86437;
	color: #fff;
	height: 18px;
	font-size: 12px;
	line-height: 18px;

}

a.event_popup,
a.event_popup:visited{
	position: absolute;
	color: white;
	font: bold 22px "Courier New", Courier, mono;
	top: -12px;
	right: -8px;
}

li.event:hover a.event_popup{
	color: #f86437;
}


.agenda-title {
	text-align: center;
}

table.month-view {
	position: relative;
	border-collapse: collapse;
	width: 940px;
}

.month-view td,
.month-view th {
	padding: 4px;
	border: 1px solid #ccc;
	position: relative;
}

.month-view th {
	background-color: #fffab8;
}

.month-view dt {
	font-weight: bold;
}

.month-view dd {
	margin-bottom: .5em;
}

form table.month-view {
	width: 100%}

table.month-view ul {
	margin: 0;
	padding: 0;
	display: block;
	z-index: 150;
	position: relative;
}

table.month-view li {
	list-style-type: none;
	border: 1px solid #e0df3d;
	display: inline-block;
	font-size: 12px;
	text-align: left;
	background-color: rgba(249,249,40,0.5);
	z-index: 150;
	line-height: 14px;
	padding: 7px;
	-webkit-box-shadow: #aaa 1px 1px 3px;
	-moz-box-shadow: #aaa 1px 1px 3px;
	box-shadow: #aaa 1px 1px 3px;
}

table.month-view li .event_times {
	color: #f75919;
}

form table.month-view  th {
	text-align: right;
	width: 10em;
}

form .month-view tfoot td {
	text-align: center;
	background-color: #566;
}

.form-indent {
	margin-left: 2.5em;
}

.horizontal {
	width: 30em;
}

.horizontal li {
	float: left;
	margin: 0;
}

.horizontal li label {
	width: 4em;
	display: block;
	float: left;
}

#recurrence-options {
	float: left;
}

#recurrence-options li {
	margin-bottom: 4px;
}

.calendar td, .calendar th {
	min-width: 9em;
	width: 9em;
}

.month-view td {
	vertical-align: top;
	height: 8em;
	min-height: 8em;
	position: relative;
}

.month-view td, .month-view th {
	min-width: 8em;
	width: 8em;
}



.month-view ul {
	list-style: none;
	margin: 1px 2px;
	padding: 0;
	z-index: 20;
}

.month-view .today {
	background-color: rgba(62,176,253,0.2);
	border-right: 1px solid #b9b9b9;
	border-bottom: 1px solid #ccc;
}

.month-divider th, .month-divider td {
	border-top: 3px double #888;
}

.month-view .day-ordinal {
    text-align: center;
	position: relative;
	z-index: 0;
	top: 1em;
	left: 0.5em;
}

.bg-day {
		width: 97%;
	height: 4px;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
   user-select: none;
	z-index: 0;    
    opacity: 0.20;
	font-size: 64px;
	position: absolute;
	top: 0px;
	left: 0px;
}

/* @end */










/* @group prettyPhoto */



div.pp_default .pp_top,div.pp_default .pp_top .pp_middle,div.pp_default .pp_top .pp_left,div.pp_default .pp_top .pp_right,div.pp_default .pp_bottom,div.pp_default .pp_bottom .pp_left,div.pp_default .pp_bottom .pp_middle,div.pp_default .pp_bottom .pp_right {
	height: 13px
}

div.pp_default .pp_top .pp_left {
	background: url(/static/prettyPhoto/default/sprite.png) -78px -93px no-repeat
}

div.pp_default .pp_top .pp_middle {
	background: url(/static/prettyPhoto/default/sprite_x.png) top left repeat-x
}

div.pp_default .pp_top .pp_right {
	background: url(/static/prettyPhoto/default/sprite.png) -112px -93px no-repeat
}

div.pp_default .pp_content .ppt {
	color: #f8f8f8
}

div.pp_default .pp_content_container .pp_left {
	background: url(/static/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y;
	padding-left: 13px
}

div.pp_default .pp_content_container .pp_right {
	background: url(/static/prettyPhoto/default/sprite_y.png) top right repeat-y;
	padding-right: 13px
}

div.pp_default .pp_next:hover {
	background: url(/static/prettyPhoto/default/sprite_next.png) center right no-repeat;
	cursor: pointer
}

div.pp_default .pp_previous:hover {
	background: url(/static/prettyPhoto/default/sprite_prev.png) center left no-repeat;
	cursor: pointer
}

div.pp_default .pp_expand {
	background: url(/static/prettyPhoto/default/sprite.png) 0 -29px no-repeat;
	cursor: pointer;
	width: 28px;
	height: 28px
}

div.pp_default .pp_expand:hover {
	background: url(/static/prettyPhoto/default/sprite.png) 0 -56px no-repeat;
	cursor: pointer
}

div.pp_default .pp_contract {
	background: url(/static/prettyPhoto/default/sprite.png) 0 -84px no-repeat;
	cursor: pointer;
	width: 28px;
	height: 28px
}

div.pp_default .pp_contract:hover {
	background: url(/static/prettyPhoto/default/sprite.png) 0 -113px no-repeat;
	cursor: pointer
}

div.pp_default .pp_close {
	width: 30px;
	height: 30px;
	background: url(/static/prettyPhoto/default/sprite.png) 2px 1px no-repeat;
	cursor: pointer
}

div.pp_default .pp_gallery ul li a {
	background: url(/static/prettyPhoto/default/default_thumb.png) center center #f8f8f8;
	border: 1px solid #aaa
}

div.pp_default .pp_gallery a.pp_arrow_previous,div.pp_default .pp_gallery a.pp_arrow_next {
	position: static;
	left: auto
}

div.pp_default .pp_nav .pp_play,div.pp_default .pp_nav .pp_pause {
	background: url(/static/prettyPhoto/default/sprite.png) -51px 1px no-repeat;
	height: 30px;
	width: 30px
}

div.pp_default .pp_nav .pp_pause {
	background-position: -51px -29px
}

div.pp_default a.pp_arrow_previous,div.pp_default a.pp_arrow_next {
	background: url(/static/prettyPhoto/default/sprite.png) -31px -3px no-repeat;
	height: 20px;
	width: 20px;
	margin: 4px 0 0
}

div.pp_default a.pp_arrow_next {
	left: 52px;
	background-position: -82px -3px
}

div.pp_default .pp_content_container .pp_details {
	margin-top: 5px
}

div.pp_default .pp_nav {
	clear: none;
	height: 30px;
	width: 105px;
	position: relative
}

div.pp_default .pp_nav .currentTextHolder {
	font-family: Georgia;
	font-style: italic;
	font-color: #999;
	font-size: 11px;
	left: 75px;
	line-height: 25px;
	position: absolute;
	top: 2px;
	margin: 0;
	padding: 0 0 0 10px
}

div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_play:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover {
	opacity: 0.7
}



div.pp_default .pp_bottom .pp_left {
	background: url(/static/prettyPhoto/default/sprite.png) -78px -127px no-repeat
}

div.pp_default .pp_bottom .pp_middle {
	background: url(/static/prettyPhoto/default/sprite_x.png) bottom left repeat-x
}

div.pp_default .pp_bottom .pp_right {
	background: url(/static/prettyPhoto/default/sprite.png) -112px -127px no-repeat
}

div.pp_default .pp_loaderIcon {
	background: url(/static/prettyPhoto/default/loader.gif) center center no-repeat
}

div.light_rounded .pp_top .pp_left {
	background: url(/static/prettyPhoto/light_rounded/sprite.png) -88px -53px no-repeat
}

div.light_rounded .pp_top .pp_right {
	background: url(/static/prettyPhoto/light_rounded/sprite.png) -110px -53px no-repeat
}

div.light_rounded .pp_next:hover {
	background: url(/static/prettyPhoto/light_rounded/btnNext.png) center right no-repeat;
	cursor: pointer
}

div.light_rounded .pp_previous:hover {
	background: url(/static/prettyPhoto/light_rounded/btnPrevious.png) center left no-repeat;
	cursor: pointer
}

div.light_rounded .pp_expand {
	background: url(/static/prettyPhoto/light_rounded/sprite.png) -31px -26px no-repeat;
	cursor: pointer
}

div.light_rounded .pp_expand:hover {
	background: url(/static/prettyPhoto/light_rounded/sprite.png) -31px -47px no-repeat;
	cursor: pointer
}

div.light_rounded .pp_contract {
	background: url(/static/prettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat;
	cursor: pointer
}

div.light_rounded .pp_contract:hover {
	background: url(/static/prettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat;
	cursor: pointer
}

div.light_rounded .pp_close {
	width: 75px;
	height: 22px;
	background: url(/static/prettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat;
	cursor: pointer
}

div.light_rounded .pp_nav .pp_play {
	background: url(/static/prettyPhoto/light_rounded/sprite.png) -1px -100px no-repeat;
	height: 15px;
	width: 14px
}

div.light_rounded .pp_nav .pp_pause {
	background: url(/static/prettyPhoto/light_rounded/sprite.png) -24px -100px no-repeat;
	height: 15px;
	width: 14px
}

div.light_rounded .pp_arrow_previous {
	background: url(/static/prettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat
}

div.light_rounded .pp_arrow_next {
	background: url(/static/prettyPhoto/light_rounded/sprite.png) -22px -71px no-repeat
}

div.light_rounded .pp_bottom .pp_left {
	background: url(/static/prettyPhoto/light_rounded/sprite.png) -88px -80px no-repeat
}

div.light_rounded .pp_bottom .pp_right {
	background: url(/static/prettyPhoto/light_rounded/sprite.png) -110px -80px no-repeat
}

div.dark_rounded .pp_top .pp_left {
	background: url(/static/prettyPhoto/dark_rounded/sprite.png) -88px -53px no-repeat
}

div.dark_rounded .pp_top .pp_right {
	background: url(/static/prettyPhoto/dark_rounded/sprite.png) -110px -53px no-repeat
}

div.dark_rounded .pp_content_container .pp_left {
	background: url(/static/prettyPhoto/dark_rounded/contentPattern.png) top left repeat-y
}

div.dark_rounded .pp_content_container .pp_right {
	background: url(/static/prettyPhoto/dark_rounded/contentPattern.png) top right repeat-y
}

div.dark_rounded .pp_next:hover {
	background: url(/static/prettyPhoto/dark_rounded/btnNext.png) center right no-repeat;
	cursor: pointer
}

div.dark_rounded .pp_previous:hover {
	background: url(/static/prettyPhoto/dark_rounded/btnPrevious.png) center left no-repeat;
	cursor: pointer
}

div.dark_rounded .pp_expand {
	background: url(/static/prettyPhoto/dark_rounded/sprite.png) -31px -26px no-repeat;
	cursor: pointer
}

div.dark_rounded .pp_expand:hover {
	background: url(/static/prettyPhoto/dark_rounded/sprite.png) -31px -47px no-repeat;
	cursor: pointer
}

div.dark_rounded .pp_contract {
	background: url(/static/prettyPhoto/dark_rounded/sprite.png) 0 -26px no-repeat;
	cursor: pointer
}

div.dark_rounded .pp_contract:hover {
	background: url(/static/prettyPhoto/dark_rounded/sprite.png) 0 -47px no-repeat;
	cursor: pointer
}

div.dark_rounded .pp_close {
	width: 75px;
	height: 22px;
	background: url(/static/prettyPhoto/dark_rounded/sprite.png) -1px -1px no-repeat;
	cursor: pointer
}



div.dark_rounded .pp_nav .pp_play {
	background: url(/static/prettyPhoto/dark_rounded/sprite.png) -1px -100px no-repeat;
	height: 15px;
	width: 14px
}

div.dark_rounded .pp_nav .pp_pause {
	background: url(/static/prettyPhoto/dark_rounded/sprite.png) -24px -100px no-repeat;
	height: 15px;
	width: 14px
}

div.dark_rounded .pp_arrow_previous {
	background: url(/static/prettyPhoto/dark_rounded/sprite.png) 0 -71px no-repeat
}

div.dark_rounded .pp_arrow_next {
	background: url(/static/prettyPhoto/dark_rounded/sprite.png) -22px -71px no-repeat
}

div.dark_rounded .pp_bottom .pp_left {
	background: url(/static/prettyPhoto/dark_rounded/sprite.png) -88px -80px no-repeat
}

div.dark_rounded .pp_bottom .pp_right {
	background: url(/static/prettyPhoto/dark_rounded/sprite.png) -110px -80px no-repeat
}

div.dark_rounded .pp_loaderIcon {
	background: url(/static/prettyPhoto/dark_rounded/loader.gif) center center no-repeat
}

div.dark_square .pp_left,div.dark_square .pp_middle,div.dark_square .pp_right,div.dark_square .pp_content {
	background: #000
}

div.dark_square .pp_loaderIcon {
	background: url(/static/prettyPhoto/dark_square/loader.gif) center center no-repeat
}

div.dark_square .pp_expand {
	background: url(/static/prettyPhoto/dark_square/sprite.png) -31px -26px no-repeat;
	cursor: pointer
}

div.dark_square .pp_expand:hover {
	background: url(/static/prettyPhoto/dark_square/sprite.png) -31px -47px no-repeat;
	cursor: pointer
}

div.dark_square .pp_contract {
	background: url(/static/prettyPhoto/dark_square/sprite.png) 0 -26px no-repeat;
	cursor: pointer
}

div.dark_square .pp_contract:hover {
	background: url(/static/prettyPhoto/dark_square/sprite.png) 0 -47px no-repeat;
	cursor: pointer
}

div.dark_square .pp_close {
	width: 75px;
	height: 22px;
	background: url(/static/prettyPhoto/dark_square/sprite.png) -1px -1px no-repeat;
	cursor: pointer
}

div.dark_square .pp_nav {
	clear: none
}

div.dark_square .pp_nav .pp_play {
	background: url(/static/prettyPhoto/dark_square/sprite.png) -1px -100px no-repeat;
	height: 15px;
	width: 14px
}

div.dark_square .pp_nav .pp_pause {
	background: url(/static/prettyPhoto/dark_square/sprite.png) -24px -100px no-repeat;
	height: 15px;
	width: 14px
}

div.dark_square .pp_arrow_previous {
	background: url(/static/prettyPhoto/dark_square/sprite.png) 0 -71px no-repeat
}

div.dark_square .pp_arrow_next {
	background: url(/static/prettyPhoto/dark_square/sprite.png) -22px -71px no-repeat
}

div.dark_square .pp_next:hover {
	background: url(/static/prettyPhoto/dark_square/btnNext.png) center right no-repeat;
	cursor: pointer
}

div.dark_square .pp_previous:hover {
	background: url(/static/prettyPhoto/dark_square/btnPrevious.png) center left no-repeat;
	cursor: pointer
}

div.light_square .pp_expand {
	background: url(/static/prettyPhoto/light_square/sprite.png) -31px -26px no-repeat;
	cursor: pointer
}

div.light_square .pp_expand:hover {
	background: url(/static/prettyPhoto/light_square/sprite.png) -31px -47px no-repeat;
	cursor: pointer
}

div.light_square .pp_contract {
	background: url(/static/prettyPhoto/light_square/sprite.png) 0 -26px no-repeat;
	cursor: pointer
}

div.light_square .pp_contract:hover {
	background: url(/static/prettyPhoto/light_square/sprite.png) 0 -47px no-repeat;
	cursor: pointer
}

div.light_square .pp_close {
	width: 75px;
	height: 22px;
	background: url(/static/prettyPhoto/light_square/sprite.png) -1px -1px no-repeat;
	cursor: pointer
}

div.light_square .pp_nav .pp_play {
	background: url(/static/prettyPhoto/light_square/sprite.png) -1px -100px no-repeat;
	height: 15px;
	width: 14px
}

div.light_square .pp_nav .pp_pause {
	background: url(/static/prettyPhoto/light_square/sprite.png) -24px -100px no-repeat;
	height: 15px;
	width: 14px
}

div.light_square .pp_arrow_previous {
	background: url(/static/prettyPhoto/light_square/sprite.png) 0 -71px no-repeat
}

div.light_square .pp_arrow_next {
	background: url(/static/prettyPhoto/light_square/sprite.png) -22px -71px no-repeat
}

div.light_square .pp_next:hover {
	background: url(/static/prettyPhoto/light_square/btnNext.png) center right no-repeat;
	cursor: pointer
}

div.light_square .pp_previous:hover {
	background: url(/static/prettyPhoto/light_square/btnPrevious.png) center left no-repeat;
	cursor: pointer
}

div.pp_pic_holder a:focus {
	outline: none
}

div.pp_overlay {
	background: #000;
	display: none;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9500
}

div.pp_pic_holder {
	display: none;
	position: absolute;
	width: 100px;
	z-index: 10000
}

.pp_content {
	height: 40px;
	min-width: 40px
}

* html .pp_content {
	width: 40px
}

.pp_content_container {
	position: relative;
	text-align: left;
	width: 100%
}

.pp_content_container .pp_left {
	padding-left: 20px
}

.pp_content_container .pp_right {
	padding-right: 20px
}

.pp_content_container .pp_details {
	float: left;
	margin: 10px 0 2px
}

.pp_description {
	display: none;
	margin: 0;
}

.pp_hoverContainer {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2000
}

.pp_gallery {
	display: none;
	left: 50%;
	margin-top: -50px;
	position: absolute;
	z-index: 10000
}

.pp_gallery div {
	float: left;
	overflow: hidden;
	position: relative
}

.pp_gallery ul {
	float: left;
	height: 35px;
	position: relative;
	white-space: nowrap;
	margin: 0 0 0 5px;
	padding: 0
}

.pp_gallery ul a {
	border: 1px rgba(0,0,0,0.5) solid;
	display: block;
	float: left;
	height: 33px;
	overflow: hidden
}

.pp_gallery ul a img {
	border: 0
}

.pp_gallery li {
	display: block;
	float: left;
	margin: 0 5px 0 0;
	padding: 0
}

.pp_gallery li.default a {
	background: url(/static/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;
	display: block;
	height: 33px;
	width: 50px
}

.pp_gallery .pp_arrow_previous,.pp_gallery .pp_arrow_next {
	margin-top: 7px!important
}

a.pp_next {
	background: url(/static/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;
	display: block;
	float: right;
	height: 100%;
	text-indent: -10000px;
	width: 49%
}

a.pp_previous {
	background: url(/static/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;
	display: block;
	float: left;
	height: 100%;
	text-indent: -10000px;
	width: 49%
}

a.pp_expand,a.pp_contract {
	cursor: pointer;
	display: none;
	height: 20px;
	position: absolute;
	right: 30px;
	text-indent: -10000px;
	top: 10px;
	width: 20px;
	z-index: 20000
}

a.pp_close {
	position: absolute;
	right: 0;
	display: block;
	line-height: 22px;
	text-indent: -10000px;
	bottom: 0;
	top: 0;
}

.pp_loaderIcon {
	display: block;
	height: 24px;
	left: 50%;
	position: absolute;
	top: 50%;
	width: 24px;
	margin: -12px 0 0 -12px
}

#pp_full_res {
	line-height: 1!important
}

#pp_full_res .pp_inline {
	text-align: left;
	padding: 10px;
	height: 223px;
	overflow: auto;
	font-size: 15px;
}

#pp_full_res .pp_inline p {
	margin: 0 0 15px;
	font-size: 15px;
}

div.ppt {
	color: #fff;
	display: none;
	font-size: 17px;
	z-index: 9999;
	margin: 0 0 5px 15px
}

div.pp_default .pp_content,div.light_rounded .pp_content {
	background-color: #fff
}

div.pp_default #pp_full_res .pp_inline,div.light_rounded .pp_content .ppt,div.light_rounded #pp_full_res .pp_inline,div.light_square .pp_content .ppt,div.light_square #pp_full_res .pp_inline,div.facebook .pp_content .ppt,div.facebook #pp_full_res .pp_inline {
	color: #000
}

div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a,.pp_gallery ul a:hover,.pp_gallery li.selected a {
	border-color: #fff
}

div.pp_default .pp_details,div.light_rounded .pp_details,div.dark_rounded .pp_details,div.dark_square .pp_details,div.light_square .pp_details,div.facebook .pp_details {
	position: relative
}

div.light_rounded .pp_top .pp_middle,div.light_rounded .pp_content_container .pp_left,div.light_rounded .pp_content_container .pp_right,div.light_rounded .pp_bottom .pp_middle,div.light_square .pp_left,div.light_square .pp_middle,div.light_square .pp_right,div.light_square .pp_content,div.facebook .pp_content {
	background: #fff
}



div.light_rounded .pp_gallery a.pp_arrow_previous,div.light_rounded .pp_gallery a.pp_arrow_next,div.dark_rounded .pp_gallery a.pp_arrow_previous,div.dark_rounded .pp_gallery a.pp_arrow_next,div.dark_square .pp_gallery a.pp_arrow_previous,div.dark_square .pp_gallery a.pp_arrow_next,div.light_square .pp_gallery a.pp_arrow_previous,div.light_square .pp_gallery a.pp_arrow_next {
	margin-top: 12px!important
}

div.light_rounded .pp_arrow_previous.disabled,div.dark_rounded .pp_arrow_previous.disabled,div.dark_square .pp_arrow_previous.disabled,div.light_square .pp_arrow_previous.disabled {
	background-position: 0 -87px;
	cursor: default
}

div.light_rounded .pp_arrow_next.disabled,div.dark_rounded .pp_arrow_next.disabled,div.dark_square .pp_arrow_next.disabled,div.light_square .pp_arrow_next.disabled {
	background-position: -22px -87px;
	cursor: default
}

div.light_rounded .pp_loaderIcon,div.light_square .pp_loaderIcon {
	background: url(/static/prettyPhoto/light_rounded/loader.gif) center center no-repeat
}

div.dark_rounded .pp_top .pp_middle,div.dark_rounded .pp_content,div.dark_rounded .pp_bottom .pp_middle {
	background: url(/static/prettyPhoto/dark_rounded/contentPattern.png) top left repeat
}

div.dark_rounded .currentTextHolder,div.dark_square .currentTextHolder {
	color: #c4c4c4
}

div.dark_rounded #pp_full_res .pp_inline,div.dark_square #pp_full_res .pp_inline {
	color: #fff
}

.pp_top,.pp_bottom {
	height: 20px;
	position: relative
}

* html .pp_top,* html .pp_bottom {
	padding: 0 20px
}

.pp_top .pp_left,.pp_bottom .pp_left {
	height: 20px;
	left: 0;
	position: absolute;
	width: 20px
}

.pp_top .pp_middle,.pp_bottom .pp_middle {
	height: 20px;
	left: 20px;
	position: absolute;
	right: 20px
}

* html .pp_top .pp_middle,* html .pp_bottom .pp_middle {
	left: 0;
	position: static
}

.pp_top .pp_right,.pp_bottom .pp_right {
	height: 20px;
	left: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 20px
}

.pp_fade,.pp_gallery li.default a img {
	display: none
}

p.pp_description{
	font-size: 1px;
	color: #fff;
	float: left;
}

a#prevlink{
	display: block;
	text-align: center;
	margin-top: 4px;
	font-weight: bold;
	text-decoration: none;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 4px solid #7e9be4;
}

div.ppt{
	font-weight: bold;
	font-size: 20px;
}

.pp_inline h3{
	margin-bottom: 20px;
	border-bottom: 1px solid #aaa;
}

span#tagsurf{
	font-size: 12px;
	display: block;
	margin-bottom: 9px;
	font-weight: bold;
	color: #666;
}


/* @end */

/* @group ressources */

#searchform{
	position: relative;
}

#text_query{

}

#res_options{
	position: relative;
}

.filters{
	position: relative;
}

#searchform input[type="text"]
{
   height: 14px;
   font-size: 14px;
   line-height: 14px;
	margin-left: 10px;
	width: 181px;
}

#searchform button {
	  height: 24px;
   line-height: 14px;
      font-size: 12px;


}

#searchform .control-group{
	margin-bottom: 7px;
}

#searchform select{
	height: 23px;
	      font-size: 12px;
	width: 196px;
}

#searchform label{
      font-size: 14px;
	position: relative;
	top: -4px;
}

#ressources_last{
	border: 1px solid #900d1b;
	margin-bottom: 30px;
}

#ressources_last thead{
	background-color: #b1171c;
	color: #feffff;
	text-align: left;
}

#ressources_last thead span{
	padding-left: 10px;
}

#ressources_last thead span a{
	color: #feffff;
}

#ressources_last td{
	vertical-align: top;
	border-right: 1px solid #90091e;
	padding-bottom: 20px;
	position: relative;
}

#ressources_last td ul{
	list-style-position: inside;
	padding-left: 10px;
	list-style-type: circle;
	font-size: 13px;
}

#ressources_last td ul a{
	color: #2e2e2e;
}

#ressources_last .all_link{
	position: absolute;
	bottom: 6px;
	right: 8px;
	color: #ff9300;
	font-weight: bold;
	font-size: 12px;
}

#res_Search td{
	vertical-align: top;
}

#search_results {
	padding-left: 10px;
	padding-right: 5px;
	margin-top: 20px;
}

#search_results h3{
	margin-top: -5px;
}

#search_results ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#search_results li{
	/*border-bottom: 1px dotted #d5d5d5;*/
	padding-bottom: 2px;
	padding-top: 2px;
	font-size: 12px;
}

#search_results li a{
	font: 11px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #414141;
}

#search_results li a:hover{

	color: #b11322;
	text-decoration: underline;
}

#search_results li:hover{
	background-color: #f8fdcf;
}

#search_results li span{
		display: inline-block;
	background-color: #838383;
	top: -9px;
	right: -10px;
	-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
	color: #feffff;
	font-size: 11px;
	text-align: center;
	width: 85px;
	padding: 0 2px;
	margin-right: 5px;
	float: left;
}

#search_results li span.res_doc{
	background-color: #559fdd;
}

#search_results li span.res_outil{
	background-color: #ff851d;
}

#search_results li span.res_grant{
	background-color: #b72e2f;
}

#search_results li span.res_camp{
	background-color: #1245d2;
}



#search_results li span.res_form{
	background-color: #6d9c3c;
}

#search_results li span.res_mob{
	background-color: #a04996;
}



ul.list_org_icon .org_icon{
	width: 50px;
	height: 50px;
	display: block;
	margin-right: 25px;
	margin-left: 25px;
	position: relative;
}



ul.list_org_icon li{
	list-style-type: none;
	display: inline-block;
	float: left;
	text-align: center;
	width: 100px;
	height: 100px;
	vertical-align: middle;
	padding: 5px;
}

ul.list_org_icon li a span{
	font-size: 12px;
	line-height: 12px;
	display: block;
	margin-top: 5px;
}

/* @end */



/* @group annonces */

.annonces th{
	text-align: left;
	background-color: #d5d5d5;
	padding: 5px;
}

.annonces tr{
	border-bottom: 1px solid #c0c0c0;
}

.annonces td{
	padding-top: 10px;
	padding-bottom: 10px;
}


.form-horizontal{
	position: relative;
}
.form-horizontal label{
	float: left;
	width: 150px;
	text-align: right;
	padding-right: 10px;
	top: 5px;
	position: relative;
	font-weight: bold;
}

.form-horizontal input[type=text],
.form-horizontal textarea{
	width: 250px;
}

.form-horizontal input[type=submit]{
	font-weight: bold;
	font-size: 14px;
	position: relative;
	left: 162px;
	margin-top: 10px;
	margin-bottom: 20px;
	cursor: pointer;
}

.date.form_datetime input{
	width: 150px;
}

.form-horizontal .errorlist{
	list-style-type: none;
	font-weight: bold;
	color: #ff2600;
	left: 450px;
	margin-top: 20px;
}	

div.msg, div.error{
	font-weight: bold;
	font-size: 16px;
	padding: 10px;
	margin-bottom: 10px;
}

div.msg{
	background-color: #8df900;
	}

div.error{
	background-color: #ff7d78;
	}
	

	
	
/* @end */

/* @group Grants */

.grant-icon{
	float: left;
	padding-right: 10px;
	padding-bottom: 10px;
}


/* @end */

/* @group contacts */

.contact .proj{
	margin-bottom: 8px;
	right: 0;
}

.contact .key{
	width: 100px;
}

.contact .value{
	left: 110px;
}

.contact .metadata{
	left: 100px;
}

.contact .attr_table{
}

/* @end */




/* @group tag */

div.tag_description{
	clear: both;
	position: relative;
}

.tagged{
	width: 40%;
	margin-right: 50px;
	margin-left: 20px;
	margin-top: 10px;
	float: left;
}

.tagged h4{
	color: #215866;
	border-top-style: solid;
	font-size: 22px;
	border-top-width: 5px;
	border-bottom-width: 1px;
	padding-top: 8px;
	padding-left: 7px;
	padding-right: 7px;
}

.tagged ul{
	margin: 0;
	padding: 0;
}

.tagged li{
	list-style-type: none;
	clear: both;
	border-top: 1px dotted #215864;
	padding-top: 10px;
}

.tagged li a{
	font-weight: bold;
}

.tagged li span.subtitle{
	font-size: 12px;
}

.tagged-item-icon{
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
	-webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
	box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}

.tagged .event_subtitle{
	font-weight: normal;
	font-style: normal;
	font-size: 12px;
}


/* @end */
