/* @override 
	http://debian:8000/static/css/newsletter.css
	http://debian/static/css/newsletter.css
	http://www.cerapcoop.org/static/css/newsletter.css
*/

#backgroundTable{
	background: #eee;
	color: #4e404f;
	font: 14px 'Karla', sans-serif;
}

#textonly {
	text-align: center;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	font-weight: bold;
	font-size: 12px;
}

#newsletter {
	background: #fff;
	border: solid thin #ccc;
	margin: auto;
	position: relative;
	width: 640px;
}

a, #toc{
	color: #106281;
}

#toc{
	font-weight: bold;
}

h2{
	color: #d1181e;
}

h2#title{
	text-align: center;
	margin-bottom: 40px;
}

#news_text{
	border-top: 2px dotted #d1181e;
	border-bottom: 2px dotted #d1181e;

}

h3{
	color: #096288;
	margin-top: 30px;
	font-size: 18px;
	margin-bottom: 25px;
	border-bottom-style: dotted;
	border-bottom-width: 2px;
	padding-bottom: 6px;
}

h3 span.puce{
	display: inline-block;
	width: 6px;
	height: 6px;
	background-color: #096385;
	margin-right: 4px;
	margin-bottom: 3px;
}

h4{
	margin-top: 0;
	margin: 0;
	font-size: 13px;
}

h4 a{
	color: #d1181e;
	text-decoration: none;
}

h4 a:before{
	content: "➔";
	font-weight: normal;
	font-style: normal;
	margin-left: -17px;
	margin-right: 5px;
	font-size: 12px;
}



#textonly {
	text-align: center;
	margin-bottom: 15px;
}

#img_header {
	right: 0;
	top: 0;
	width: 600px;
}

#header_td{
	height: 100px;
	padding-bottom: 20px;
}

#img_footer {
	position: relative;
	right: 0;
	width: 600px;
}

.item-content .summary {
	font-size: 13px;
	line-height: 18px;
}

hr{
	border: none;
	border-bottom: 1px solid #b1b1b1;
}

#legal{
	font-size: 10px;
	text-align: center;
	margin-bottom: 20px;
}

.newsletter-item{
	margin-left: 15px;
}


.newsletter-item img {
	float: left;
}

.newsletter-item .item-content {
}


#sitelink{
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}

#legal{
	width: 600px;
	font-size: 12px;
	text-align: center;
	line-height: 8px;
	font-weight: bold;
	margin-right: auto;
	margin-left: auto;
}

#soutien{
	text-align: left;
	font-size: 12px;
}

#soutien img{
	text-align: right;
	padding-top: 6px;
	width: 300px;
}


#address {
	text-align: center;
	float: right;
	font-size: 0.65rem;
	line-height: 13px;
	width: 159px;
	text-align: left;
	float: left;
	text-transform: capitalize;
	padding-top: 26px;
}

/* @group attachements */


.detail_block{
	border: 2px none #c6bfb4;
	clear: both;
	padding: 5px 10px 3px;
	margin-bottom: 10px;
	border-top: 1px dotted #bc002a;
	border-bottom: 1px dotted #bc002a;
	font-size: 12px;
	background-color: #e6e9e2;
}


.external_link{
	margin-bottom: 7px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 10px;
}

.external_link a{
	color: #bc002a;
}
.external_link span{
	margin-right: 10px;
}

.external_link span:before{
	content: "➔";
	font-weight: normal;
	font-style: normal;
	margin-right: 17px;
}

/* @end */