/* @override 
	http://debian2/static/css/newsletter-ead.css
*/


#backgroundTable{
	background: #eee;
	color: #4e404f;
	font: 14px 'Karla', sans-serif;
}

#textonly {
	text-align: center;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	font-weight: bold;
	font-size: 12px;
}

#newsletter {
	width: 600px;
	background: #fff;
	border: solid thin #ccc;
	margin: 10px auto auto;
}

#logo-cerapcoop{
	float: right;
}

p.sitetitle{
	font-weight: bold;
	font-size: 18px;
	margin-left: 20px;
	padding: 0;
	margin-bottom: 0;
	margin-top: 17px;
	color: #aa1e39;
	width: 380px;
	text-align: right;
	line-height: 1.2;
}

hr#hrtitle{
	clear: both;
	padding-bottom: 9px;
	border-color: #aa1e39;
	border-width: 3px;
	text-align: right;
	margin-left: 41px;
	width: 357px;
}

#date_envoi{
	color: #000;
	font-weight: bold;
	text-align: right;
}

a, #toc{
	color: #ff8100;
}

a:hover{
	color: #c50027;
	text-decoration: underline;
}

#toc{
	font-weight: bold;
	font-size: 13px;
	line-height: 18px;
}

h2{
	color: #d1181e;
	text-align: center;
	background: url(/static/img/degrade.jpg) repeat-x;
	padding-top: 13px;
	font-size: 20px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	height: 30px;
	margin-bottom: 20px;
	margin-top: 20px;
}

h3{
	color: #d11226;
	margin-top: 30px;
	clear: both;
	border-bottom-style: dotted;
	border-bottom-width: 2px;
	font-variant: small-caps;
	margin-bottom: 15px;
	padding-bottom: 6px;
}

.car{
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-right: 0;
	margin-left: 4px;
}

h3 .car2{
	margin-right: 7px;
}

.car1{
	background-color: #841732;
}

.car2{
	background-color: #c50222;
}

.car3{
	background-color: #f19234;
}

h4{
	font-size: 13px;
	margin: 0 0 5px;
	line-height: 15px;
}

h4 a{
	text-decoration: none;
}

.logo img{
	padding: 0;
	float: left;
	margin-left: 26px;
}



.item-content .summary {
	font-size: 13px;
	padding-left: 10px;
	line-height: 18px;
	display: inline-block;
}

.newsletter-item{
	min-height: 80px;
}

.newsletter-item img {
	max-height: 90px;
	margin-bottom: 10px;
}

.newsletter-item .item-content {
	clear: both;
}

#sitelink{
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}

hr{
	border: none;
	border-bottom: 1px solid #b1b1b1;
}

#footer_wrapper{
	width: 600px;
	background: #fff;
	border: solid thin #ccc;
	margin: 10px auto auto;
}



#address {
		text-align: center;
	float: right;
	font-size: 0.65rem;
	line-height: 1.1em;
	width: 159px;
	text-align: left;
	float: left;
	text-transform: capitalize;
	line-height: 16px;
}

#legal{
	width: 600px;
	font-size: 12px;
	text-align: center;
	line-height: 8px;
	font-weight: bold;
	margin-right: auto;
	margin-left: auto;
}

/* @group attachements */


.detail_block{
	border: 2px none #c6bfb4;
	clear: both;
	padding: 5px 10px 3px;
	margin-bottom: 10px;
	border-top: 1px dotted #bc002a;
	border-bottom: 1px dotted #bc002a;
	font-size: 12px;
	background-color: #e6e9e2;
}


.external_link{
	margin-bottom: 7px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 10px;
}

.external_link a{
	color: #bc002a;
}
.external_link span{
	margin-right: 10px;
}

.external_link span:before{
	content: "➔";
	font-weight: normal;
	font-style: normal;
	margin-right: 17px;
}

/* @end */