{% extends "base.html" %}

{% block meta_title %}Liste des Initiatives{% endblock %}


{% block article %}

<h3>Liste des Initiatives</h3>

    {% block content %}

        <div id="content">
            <div class="grid_12 grid">
                <ul class="org_list">
                    {% for item in org_list %}
                    <li><a href="{{item.get_absolute_url}}">{{ item.title }}</a>
                        {% if item.tags.all %}
                         <img src="/static/img/tags-label.png" style="position:relative;top:4px;"/>
                        {% endif %}
                        </li>
                    {% endfor %}
                </ul>

            </div>


        </div>
    {% endblock %}

{% endblock %}

