{% extends "page.html" %}
{% load thumbnail coop_navigation %}
{% block meta_title %}{{org_category.label}}{% endblock %}

{% block article %}

    <ul class="breadcrumb">
    <a href="/">Accueil</a> <span class="divider">/</span>
    {% navigation_breadcrumb org_category li_template="coop_cms/breadcrumb_li_template.html" tree="navigation_eadsi" %}
    </ul>

     <h2>{{ org_category.label }}</h2>

    <p class="description">{{ org_category.description|safe }}</p>


                {% for item in org_list %}


                <div class="list_item vcenter_container">
                    <div class="vcenter_wrapper org-desc-wrapper">
                        <div class="vcenter_content org-desc-content">
                            {% thumbnail item.logo "80x80" as im %}
                            <a class="title" href="{{item.get_absolute_url}}">
                               <img class="org-list-icon" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            </a>
                            {% endthumbnail %}
                            <a class="title" href="{{item.get_absolute_url}}">{{ item.title }}</a><br/>
                            {% if item.subtitle %}<span class="subtitle">{{ item.subtitle }}</span>{% endif %}
                        </div>
                    </div>
                </div>



                {% endfor %}



{% endblock %}

