{% extends "page.html" %}
{% load thumbnail tagger_extras coop_edition coop_navigation %}

{% block meta_title %}{{organization.title}}{% if_cms_edition %} [EDITION]{% endif %}
{% endblock %}

{% block jquery_declaration %}
{# You can add any additional JS libs here #}
{% if_cms_edition %}{% cms_form_media %}{% endif %}
{% endblock %}


{% block article %}

            {% cms_edit organization %}

                <h3>
                     {{ organization.title }}
                    <span class="meta subtitle">{{ organization.subtitle }}</span>
                </h3>
                <hr>
                <p class="description">{{ organization.description|safe }}</p>

            {% end_cms_edit %}

                 <div class="attr_table">

                    {% if organization.pref_phone %}
                        <div class="metadata"><div class="key">Téléphone</div>
                        <div class="value">{{organization.pref_phone.content}}</div></div>
                    {% endif %}

                    {% if organization.get_statut_display %}
                        <div class="metadata"><div class="key">Statut</div>
                        <div class="value">{{organization.get_statut_display}}</div></div>
                    {% endif %}

                    {% if organization.get_dimension_display %}
                        <div class="metadata"><div class="key">Dimension</div>
                        <div class="value">{{organization.get_dimension_display}}</div></div>
                    {% endif %}

                    {% if organization.birth %}
                        <div class="metadata"><div class="key">Année de création</div>
                        <div class="value">{{organization.birth|date:"Y"}}</div></div>
                    {% endif %}

                    {% if organization.accueil %}
                        <div class="metadata"><div class="key">Horaires d'ouverture</div>
                        <div class="value">{{ organization.accueil }}</div></div>
                    {% endif %}

                    {% if organization.outils_peda %}
                        <div class="metadata"><div class="key">Outils pédagogiques</div>
                        <div class="value">{{ organization.outils_peda }}</div></div>
                    {% endif %}

                     {% if organization.tags.all %}
                        <div class="metadata"><div class="key">Mots-clés</div>
                        <div class="value">{% for tag in organization.tags.all %}
                            <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                             {% endfor %}</div></div>
                     {% endif %}

                 </div>


            {% if engagements %}

                <h4>Contacts</h4>
                <ul class="membres">
                    {% for engagement in engagements %}
                    {% if engagement.engagement_display == 1 %}
                        <li><img src="{{STATIC_URL}}img/blank_avatar.png">
                            <p>
                            {% if engagement.person.user %}
                                <a href="{{engagement.person.get_absolute_url}}">{{ engagement.person }}</a>
                            {% else %}
                                {{ engagement.person }}
                            {% endif %}
                            ,<br>
                            {{engagement.role}}
                            </p>
                        </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <br>
            {% endif %}

            {% if organization.annonce_set.all %}
                <h4>Annonces</h4>
                    <ul class="org_related">
                    {% for annonce in organization.annonce_set.all %}
                        <li>
                            <a href="{{annonce.get_absolute_url}}">{{annonce}}</a>
                        </li>
                    {% endfor %}
                    </ul>
            {% endif %}


            {% if organization.articles.all %}
                <h4>Articles</h4>
                    <ul class="org_related">
                    {% for article in organization.articles.all %}
                        <li>
                            <a href="{{article.get_absolute_url}}">{{article}}</a>
                        </li>
                    {% endfor %}
                    </ul>
            {% endif %}


            {% if organization.resources.all %}
                <h4>Ressources</h4>
                    <ul class="org_related">
                    {% for article in organization.resources.all %}
                        <li>
                            <a href="{{article.get_absolute_url}}">{{article}}</a>
                        </li>
                    {% endfor %}
                    </ul>
            {% endif %}


            {% if organization.grant_set.all %}
                <h4>Financements</h4>
                    <ul class="org_related">
                    {% for article in organization.grant_set.all %}
                        <li>
                            <a href="{{article.get_absolute_url}}">{{article}}</a>
                        </li>
                    {% endfor %}
                    </ul>
            {% endif %}


        {% endblock article %}


{% block column %}


    <aside class="right">

                {% if organization.logo %}
                    <div class="org_logo">
                    {% thumbnail organization.logo "200" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                    </div>
                {% endif %}

                <br>

                {% if organization.web %}
                    <div class="web">
                        <a class="weblink" target="_blank" href="{{organization.web}}">

                            <img class="webshot" src="http://img.bitpixels.com/getthumbnail?code=31394&size=200&url={{organization.web}}" />
                            <code class="url">{{organization.web}}</code>
                        </a>
                    </div>
                {% endif %}

                {% for c in organization.contacts.all %}
                    {% if c.contact_medium_id = 9 %}
                    <br>
                    <div class="web">
                        <a class="weblink" target="_blank" href="{{c.content}}">

                            <img class="webshot" src="http://img.bitpixels.com/getthumbnail?code=31394&size=200&url={{c.content}}" />
                            <code class="url">{{c.content}}</code>
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}


                <br>

                {% for a in adresses %}
                    <div class="adresse{% if a.main_location %} main_location{% endif %}">

                        {% if a.main_location %}<strong>Adresse principale:</strong><br>{% endif %}

                        <img src="http://maps.googleapis.com/maps/api/staticmap?markers=size:small%7Ccolor:0xd1453e|{% for a in adresses %}{{a.location.point.get_coords.1|stringformat:"f"}},{{a.location.point.get_coords.0|stringformat:"f"}}|{% endfor %}&maptype=hybrid&size=220x120&sensor=false&zoom=13">

                        {% if a.location_type %}<strong>{{a.location_type}}:</strong><br>{% endif %}
                        <div class="postal">
                            {% if a.location.label != a.location.adr1 %}{{a.location.label}}<br>{% endif %}
                            {{a.location.adr1}}<br>
                            {% if adresse.adr2 %}{{a.location.adr2}}<br>{% endif %}
                            {{a.location.zipcode}} {{a.location.city}}
                        </div>
                        <br>
                        <div class="pref_phone">Telephone : {{ organization.pref_phone.content }}</div>

                    </div>
                {% endfor %}


                {% if organization.get_relations %}
                    {% if 'IN_MEMBER' in organization.get_relations %}
                        <div class="rel_type">Initiatives adhérentes :</div>

                        <ul class="relations">{% for org in organization.get_relations.IN_MEMBER %}
                            <li>
                                <a href="{{org.get_absolute_url}}">{{org.label}}</a>
                            </li>
                        {% endfor %}</ul>
                    {% endif %}
                    {% if 'OUT_MEMBER' in organization.get_relations %}
                        <div class="rel_type">Organisme affilié à :</div>

                        <ul class="relations">{% for org in organization.get_relations.OUT_MEMBER %}
                            <li>
                                <a href="{{org.get_absolute_url}}">{{org.label}}</a>
                            </li>
                        {% endfor %}</ul>
                    {% endif %}

                {% endif %}

    </aside>
{% endblock column %}