
{% extends "page.html" %}
{% load i18n thumbnail %}
{% block meta_title %}Proposer un événement{% endblock %}

{% block extra_head %}
{{ form.media }}
{% endblock %}

{% block article %}
 

<h2 class="like-h1">Proposer un événement</h2>

{% if msg %}<div class="msg">{{msg}}</div>{% endif %}
{% if error %}<div class="error">{{error}}</div>{% endif %}


<form id="formagenda" enctype="multipart/form-data" class="form-horizontal" method="post">{% csrf_token %}
{{ form.as_p }}
<input class="btn" type="submit" value="Envoyer" />
</form>


{% endblock %}



<script type="text/javascript">
$(function(){
    $("#poster").click(function(){
        $("#formagenda").slideToggle();
        return false;
    })

	$("input[type=submit]").hover(function(){
	    $(this).addClass("btn-success")
	},function(){
	    $(this).removeClass("btn-success")
	});

})



</script>