{% extends "page.html" %}
{% load i18n thumbnail %}
{% block meta_title %}Agenda {% if filter %}{{ filter }}{% endif %}{% endblock %}

{% block extra_head %}
{{ form.media }}
{% endblock %}

{% block article %}
   

    <h2 class="like-h1">Agenda {% if filter %}{{ filter }}{% endif %}</h2>


{% if msg %}<div class="msg">{{msg}}</div>{% endif %}
{% if error %}<div class="error">{{error}}</div>{% endif %}


    <form id="list_filter" method="post">

        <label>Période : </label>
        <select name="periode">
            <option value="all" {% ifequal periode "all" %}selected{% endifequal %}>Toutes</option>
            <option value="now" {% ifequal periode "now" %}selected{% endifequal %}>Événements à venir</option>
            {% for year in years %}
            <option value="{{year}}" {% ifequal periode year|stringformat:"s" %}selected{% endifequal %}>Archives {{year}}</option>
            {% endfor %}
        </select>


        <label>Type : </label>
        <select name="selcat">
            <option value="all">Tous</option>
            {% for event_type in event_types %}
                <option value="{{event_type.id}}" {% ifequal selcat event_type.id|stringformat:"s" %}selected{% endifequal %}>{{event_type.label}}</option>
            {% endfor %}
        </select>

        <br><br>

        <label>Lieu : </label>
        <select name="lieu">
            <option value="all">Partout</option>
            {% for key, value in zones.items %}
            <option value="{{key}}" {% ifequal lieu key|stringformat:"s" %}selected{% endifequal %}>{{value}}</option>
            {% endfor %}
        </select>


        <label>Public : </label>
        <select name="public">
            <option value="all">Tous</option>
            {% for pub in publics %}
            <option value="{{pub.id}}" {% ifequal public pub.id|stringformat:"s" %}selected{% endifequal %}>{{pub.label}}</option>
            {% endfor %}
        </select>

 <br><br>

        <label>Organisateur : </label>
        <select name="orga">
            <option value="all">Tous</option>
            {% for org in orgas %}
            <option value="{{org.id}}" {% ifequal orga org.id|stringformat:"s" %}selected{% endifequal %}>{{org.label}}</option>
            {% endfor %}
        </select>

        <label>Thématique : </label>
        <select name="tag">
            <option value="all">Toutes</option>
            {% for tag in tags %}
            <option value="{{tag.id}}" {% ifequal seltag tag.id|stringformat:"s" %}selected{% endifequal %}>{{tag.name}}</option>
            {% endfor %}
        </select>


     {% csrf_token %}
    </form>

<p align="right"><a class="btn btn-warning btn-small" id="poster" href="/agenda/proposer/">
    <i class="icon-plus icon-small icon-white"></i> Proposer un événement</a></p>


    <p class="result_info">{{ result_info|safe}}</p>

    {% include "agenda/event_list.html" %}


<br>
<br>


{% endblock %}


{% block jquery_footer %}

{{block.super}}


$("#list_filter select").change(function(){
    $("#list_filter").submit();
})

$("#elargir").on('click', function(){
    $("select[name=periode]").val('all');
    $("#list_filter").submit();
    return false;
});


{% endblock jquery_footer %}



