{% load thumbnail i18n %}
		{% for item in events %}

		<div class="list_item vcenter_container event_item">
            <div class="vcenter_wrapper item-desc-wrapper">
                <div class="vcenter_content item-desc-content">

{% comment %}
{% for o in item.occurences.all %}

<span class="date">
<span class="day">{{ o.start_time|date:"j" }}</span>
<span class="month">{{ o.start_time|date:"F" }}</span>
</span>

{% endfor %}
{% endcomment %}

                        {% thumbnail item.logo "120x120" as im %}
                        <a class="title" href="{{ item.get_absolute_url }}">
                           <img class="event-article-icon" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        </a>
                        {% endthumbnail %}

                        <a class="title" href="{{ item.get_absolute_url }}">{{ item.title }}</a><br>

                        <span class="event_category c{{ item.agenda_category.id }}">{{ item.agenda_category }}</span>

<span class="event_subtitle">

{% for o in item.occurences.all %}

                {{ o.start_time|date:"j F Y" }}                 
                {% if o.start_time.day != o.end_time.day %}→
                {{ o.end_time|date:"j F Y" }}  {# à H\hi #}
                {% endif %}
{% endfor %}

{% if item.agenda_commune %} - {{ item.agenda_commune.label }} ({{ item.agenda_commune.parent.label }}){% endif %}
{% if item.zone %} - {{ item.zone.label}}{% endif %}


</span><br>

                        <span class="subtitle">{{ item.summary }}</span>

{% if item.organization %}
<div class="event_org"> > Organisé par : <a href="{{item.organization.get_absolute_url}}">{{ item.organization.label }}</a></div>
{% elif item.remote_organization_label %}
<div class="event_org"> > Organisé par : {{ item.remote_organization_label }}</div>
{% endif %}



            <a href="{{item.get_absolute_url}}" class="btn btn-warning btn-small proj"><i class="icon-plus icon-small icon-white"></i>En savoir plus</a>


                </div>
            </div>
        </div>
		{% endfor %}