{% load i18n static thumbnail coop_bar_tags coop_navigation %}<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block meta_title %}{% endblock %}{% if site_title %} | {{ site_title }}{% endif %}</title>
        <meta name="description" content="">
        <meta name="author" content="{{site_author}}">
        <meta name="viewport" content="width=device-width">

{% block stylesheet %}
        <!-- CSS: implied media="all" -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/ead-si.css">
        <!-- Custom fonts -->
        <link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
{% endblock stylesheet %}

{% block jquery_declaration %}
    <!-- block jquery_declaration -->
    <script src="{{ STATIC_URL }}/js/jquery-1.7.2.min.js"></script>
{% endblock %}


{% block javascript %}
    <!-- block javascript -->
    <script src="{{ STATIC_URL }}/js/vendor/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}/js/vendor/modernizr-2.6.1.min.js"></script>
{% endblock javascript %}

    <!-- coop_bar_headers -->
    {% coop_bar_headers %}

    <!-- block extra_head -->
    {% block extra_head %}{% endblock %}

    <style type="text/css">
        <!-- Aloha Editor alignment styles -->
        .aloha-align-left {text-align: left;}
        .aloha-align-right {text-align: right;}
        .aloha-align-center {text-align: center;}
        .aloha-align-justifiy {text-align: justify;}
        img.aloha-align-left {float: left;}
        img.aloha-align-right {float: right;}>
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        </style>

    </head>
    <body class="{% block body_class%}{% endblock %}">

    <!-- coop_bar -->
    {% coop_bar %}

        <!--[if lt IE 8]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        {% block header %}
        <header role="banner">
            <div class="border"></div>
            <div id="header-container" class="container">
                <div class="logo homelogo">
                    <h1><a href="/"><img id="logo-ead" src="{{ STATIC_URL }}/img/logo-ead.png" width="134" height="142" alt="EAD-SI Auvergne" /></a></h1>
                </div>
                <div class="navigation">
                    <p>&Eacute;duquer au d&eacute;veloppement et &agrave; la solidarit&eacute; internationale en Auvergne</p>
                    <hr />
                    <nav role="navigation">
                        {% block navigation %}

                            <ul>
                               {% navigation_as_nested_ul li_template="coop_cms/dropdown_li.html" ul_template="coop_cms/dropdown_ul.html" li_args="coop_cms/dropdown_li_class.html" tree="navigation_eadsi" %}
                            </ul>

                        {% endblock navigation %}
                    </nav>
                </div>
            </div>
        </header>
        {% endblock header %}


        <section id="main" role="main">
            <div class="container">

            {% block document %}
                <section class="middle">
                    <article class="block">
                        <div class="header"></div>
                        <div class="content">

                            {% block article %}
                            {% endblock article %}

                        </div>
                    </article>
                </section>
            {% endblock document %}

            {% block column %}
                {% include "column.html" %}
            {% endblock column %}

            </div>
        </section>


        <footer role="contentinfo">
            <div class="container">
                {% block footer %}
                <div class="right">
                    <p>
                        <a href="http://www.cerapcoop.org/">Toute l'actualit&eacute; de la solidarit&eacute; internationale en Auvergne</a>
                    </p>
                    <div class="cerapcoop">
                        <a href="http://www.cerapcoop.org/"><img src="{{ STATIC_URL }}/img/cerapcoop.png" width="46" height="46" alt="CERAPCOOP" border="0"/></a>
                        <address>
                            CERAPCOOP<br/>
                            39 avenue des &Eacute;tats-Unis<br />
                            63000 Clermont-Ferrand<br />
                            T&eacute;l. : 04 73 35 20 65
                        </address>
                    </div>
                </div>
                <div class="left">
                    <div>
                        <img src="{{ STATIC_URL }}/img/ue.png" width="57" height="48" alt="Union Europ&eacute;enne" />
                        <img src="{{ STATIC_URL }}/img/auvergne.png" width="93" height="48" alt="Auvergne" />
                    </div>
                    <div class="small">
                        Ce site a &eacute;t&eacute; financ&eacute; par l'Union Europ&eacute;enne.
                    </div>
                </div>
                <div class="middle">
                    <a href="/plan-du-site/">
                    <img src="{{ STATIC_URL }}/img/plan.png" width="28" height="28" alt="Plan du site" /><span>Plan du site</span></a>
                    <img src="{{ STATIC_URL }}/img/ead_rss.png" width="28" height="28" alt="RSS" /> <span>RSS</span>
                </div>
                {% endblock footer %}
            </div>
        </footer>


        <script type="text/javascript">

            if (!(window.console && console.log)) {
                (function() {
                    var noop = function() {};
                    var methods = ['assert', 'clear', 'count', 'debug', 'dir', 'dirxml', 'error', 'exception', 'group', 'groupCollapsed', 'groupEnd', 'info', 'log', 'markTimeline', 'profile', 'profileEnd', 'markTimeline', 'table', 'time', 'timeEnd', 'timeStamp', 'trace', 'warn'];
                    var length = methods.length;
                    var console = window.console = {};
                    while (length--) {
                        console[methods[length]] = noop;
                    }
                }());
            }



            $(function(){
            {% block jquery_footer %}
            {% endblock jquery_footer %}
             });

        </script>

        <!-- coop_bar_footer -->
        {% coop_bar_footer %}

    </body>
</html>
