{% load thumbnail %}
                <aside class="right">
                    <div id="search-container" class="block">
                        <div class="header"></div>

                        <div id="search-text" class="block_bar">
                            <span>Rechercher sur . . . </span>

                            <div class="filter">
                                <div class="toggle">
                                    <img src="{{ STATIC_URL }}img/toggle.png" width="7" height="6" alt="v" />
                                </div>
                                <ul id="search_mode">
                                    <li rel="/search/search/" class="selected"><small>Ce site</small></li>
                                    <li rel="/search/searchall/"><small>Cerapcoop</small></li>
                                </ul>
                            </div>
                        </div>

                        <form id="search_form" action="/search/search/" method="get">
                            <input name="q" type="search" placeholder="recherche" value="{{ old_query }}" />
                             {% csrf_token %}
                            <button type="submit">ok</button>

                        </form>
                    </div>
                    <script type="text/javascript">
                    $(function(){
                        $(".filter").click(function(){
                            $("#search_mode li").toggleClass("selected");
                            action = $("#search_mode li.selected").attr("rel");
                            $("#search_form").attr("action", action);
                        });
                    });
                    </script>


      <div id="mailing_form_div" class="block">
            <div class="block_bar"><span>Inscription à la newsletter</span></div>
            <div id="mailing_form_inner">
                {% include "ajax/mailing_form.html" %}
            </div>
              </div>


    {% for encart in preferences.SitePrefs.eadsi_encarts %}
        {% if encart %}

                    <article class="block">
                        {% thumbnail encart.logo "180x120" crop="center" as im %}
                        <a href="{{ encart.get_absolute_url }}"><img src="{{ im.url }}" class="pic solo" alt="{{encart.title}}"/></A>
                        {% endthumbnail %}
                        <div class="header"></div>
                        <div class="content">
                            <h3 class="like-h2">
                                <a href="{{ encart.get_absolute_url }}">{{ encart.title }}</a>
                            </h3>
                            <p>{{ encart.content|truncatewords:25|safe }}</p>
                            <p class="date">{{ encart.modified }}</p>
                        </div>
                    </article>
        {% endif %}
    {% endfor %}



        

                </aside>