{% extends "base.html" %}
{% load i18n thumbnail %}

{% block meta_title %}Accueil{% endblock %}

{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bjqs.css">
{% endblock stylesheet %}

{% block javascript %}
    {{ block.super }}
    <!--<script src="{{ STATIC_URL }}/js/vendor/jquery.lite-content-slider.min.js"></script>-->
    <script src="{{ STATIC_URL }}/js/bjqs.min.js"></script>
{% endblock javascript %}

{% block body_class%}index{% endblock %}

{% block document %}
                <aside class="left">
                    <div class="garnish"></div>
                    <img id="img_tags" src="{{ STATIC_URL }}/img/tags.png" width="297" height="331" alt="solidarit&eacute; transmettre ressources international comprendre local citoyennet&eacute; r&eacute;seau informer &eacute;ducation d&eacute;veloppement agir" />

                    <div class="block" id="carto_block">
                        <div class="header">
                          <span>Cartographie des projets</span>
                        </div>
                        <a href="/projets/" style="border:none;outline:none;">
                        <img src="{{ STATIC_URL }}/img/ico_carto.jpg" alt="Cartographie EADSI Auvergne" id="ico_carto" /></a>
                    </div>


                    <div class="block" id="ssi_block">
                        <div class="header"></div>
                        <a href="/articles/semaine-de-la-solidarite-internationale/" style="border:none;outline:none;">
                        <img src="{{ STATIC_URL }}/img/week-of-solidarity.png" width="294" height="122" alt="Semaine de la solidarit&eacute; Internationale" id="ssi_logo" /></a>
                    </div>



                </aside>
                <section class="middle">
                    <article class="block">
                        <div class="header"></div>

                        <h2 class="like-h1">Actualit&eacute;s</h2>
                        <div id="slide-content">
                            <ul class="bjqs">
                                {% for article in a_la_une %}
                                <li>
                                    {% thumbnail article.logo "370x275" crop="top" as im %}
                                    <a href="{{article.get_absolute_url}}">
                                       <img class="main_img" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                    </a>
                                    {% endthumbnail %}
                                    <div class="header"></div>
                                    <div class="slide_text">
                                        <b>{{ article.title }}</b><br><br>
                                        {% if article.summary %}
                                            {{ article.summary|safe }}
                                        {% else %}
                                            {{ article.content|striptags|safe|truncatewords:50 }}
                                        {% endif %}
                                        <a href="{{ article.get_absolute_url }}" class="suite">Lire la suite...</a>
                                        <br>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </article>
                </section>
{% endblock document %}

{% block column %}
    {% include "column.html" %}
{% endblock column %}


{% block jquery_footer %}



    $('#slide-content').bjqs({
        'height' : 600,
        'width' : 370,
        'animtype' : 'slide',
        'animduration' : 700, // how fast the animation are
        'animspeed' : 6300, // the delay between each slide
        'responsive' : false,
        'showcontrols' : true, // show next and prev controls
        'centercontrols' : true, // center controls verically
        'nexttext' : 'Suivante >>', // Text for 'next' button (can use HTML)
        'prevtext' : '<< Précédente', // Text for 'previous' button (can use HTML)
        'showmarkers' : false, // Show individual slide markers

    });


    pulse();
    
    
    function pulse() {
          $('#ssi_logo').animate({marginTop: 5, marginLeft: 5, width: 284, height: 112, opacity: 0.7}, 700, function() {
              $('#ssi_logo').animate({marginTop: 0, marginLeft: 0, width: 294, height: 122, opacity: 1}, 700, function() {
          pulse();
        })
      }); 
    }

  
        


{% endblock jquery_footer %}