{% extends "base.html" %}
{% load i18n %}

{% block body_class%}page{% endblock %}

{% block header %}
    <header role="banner">
        <div class="border"></div>
        <div class="container">
            <div class="logo pageheader">
                <h1><a href="/"><img src="{{ STATIC_URL }}/img/logo-ead-80.png" width="75" height="80" alt="EAD-SI Auvergne" /></a></h1>
            </div>
            <div class="navigation pageheader">
                <p>&Eacute;duquer au d&eacute;veloppement et &agrave; la solidarit&eacute; internationale en Auvergne</p>
                <hr />
                <nav role="navigation">
                    {% block navigation %}
                    {{ block.super }}
                    {% endblock navigation %}
                </nav>
            </div>
        </div>
    </header>
{% endblock header %}

