{% extends "page.html" %}
{% load i18n coop_navigation%}

{% block meta_title %}Plan du site{% endblock %}


{% block article%}

<h2>Plan du site</h2>

    <ul>
        {% navigation_as_nested_ul tree="navigation_eadsi" %}
    </ul>

{% endblock %}