{% extends 'page.html' %}

{% block meta_title %} Recherche : {{ query }} {% endblock %}
  

    {% block article %}

    <h2> "<span class="query_term">{{ query }}</span>" sur le site 
        {% if 'searchall' in request.path %}Cerapcoop{% else %}EAD-SI Auvergne{% endif %}
        </h2>

    
    <p>
    {% if org %}{{ org|length }} organismes, {% endif %}
    {% if project %}{{ project|length }} projets, {% endif %}
    {% if event %}{{ event|length }} événements, {% endif %}
    {% if article %}{{ article|length }} articles, {% endif %}
    {% if exchange %}{{ exchange|length }} annonces, {% endif %}
    correspondent à votre recherche
    </p>


    {% if query %}

    <div>
            {% if org %}
            <div>
                <h3> Structures </h3>
                <ul>
                {% for result in org %}
                    <li> {{ result.rendered|safe }} </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if project %}
            <div>
                <h3> Projets </h3>
                <ul>
                {% for result in project %}
                    <li> {{ result.rendered|safe }} </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if exchange %}
            <div>
                <h3> Annonces </h3>
                <ul>
                {% for result in exchange %}
                    <li> {{ result.rendered|safe }} </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}

           
            {% if event %}
            <div>
                <h3> Evénements </h3>
                <ul>
                {% for result in event %}
                    <li> {{ result.rendered|safe }} </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}


            {% if article %}
            <div>
                <h3> Articles </h3>
                <ul>
                {% for result in article %}
                    <li> {{ result.rendered|safe }} </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}


    </div>
    {% endif %}

{% endblock %}


{% block column %}
    {% include "column.html" with old_query=query %}
{% endblock column %}

