{% extends "page.html" %}
{% load i18n thumbnail remote coop_navigation %}

{% block meta_title %}Financements{% endblock %}

{% block article %}

{% if link %}
    <ul class="breadcrumb">
    <a href="/">Accueil</a> <span class="divider">/</span>
    {% navigation_breadcrumb link li_template="coop_cms/breadcrumb_li_template.html" tree="navigation_eadsi" %}
    </ul>
{% endif %}


<h2>{{item.label}}</h2>



        {% if item.expiration_date %}
        <ul class='article_dates'>
        <li>
           <span class="fleche">➔</span> Date limite : {{ item.expiration_date|date:"d F Y" }}
        </li>
        </ul>
        {% endif %}

            {% if item.organization or item.remote_organization_label %}
                <div class="orga"><span class="fleche">➔</span>
                        Proposé par : 
                    {% local_or_remote uri item organization as org_uri %}
                    {% local_or_remote label item organization as org_label %}
                    {% if org_uri %}<a href="{{org_uri}}">{% endif %}
                        <span class="orga_label">{{ org_label }}</span>
                        {% if org_uri %}</a>{% endif %}
                </div>
            {% endif %}
    

    <div class="article">

        {% if item.summary %}
            <div class="summary">{{ item.summary }}</div>
        {% endif %}

    <span id="logo" class="the-logo">
    {% thumbnail item.logo "200x200" as im %}
    <img class="grant-icon" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}</span>

    {{ item.description|safe }}
            </div>


        {% for doc in item.attachments.all %}

        <div class="detail_block attachment">

            <img src="/static/teambox/24x32px/{{doc.extension}}.png" class="attachement_filetype">
            <span>Document : </span>
            <a href="{{ doc.file.url }}">
                {% if not doc.title %}{{ doc.name }}{% else %}{{ doc.title }}{% endif %}
            </a>
        </div>


        {% endfor %}

        {% if item.web %}

        <div class="detail_block external_link">

            <span>Lien Internet : </span>
            <a href="{{ item.web }}">{{ item.web|truncatechars:70 }}</a>
        </div>


        {% endif %}


            <div class="attr_table">

                <div class="metadata"><div class="key">Catégorie</div>
                <div class="value">{{ item.get_grant_type_display }} 
                    {% if item.grant_target %} à destination des {{ item.get_grant_target_display }}{% endif %}
                </div></div>


                {% if item.organization or item.remote_organization_label %}
                    <div class="metadata"><div class="key">Structure référente</div>
                    {% local_or_remote uri item organization as org_uri %}
                    {% local_or_remote label item organization as org_label %}
                    <div class="value">{% if org_uri %}<a href="{{org_uri}}">{% endif %}
                        {{ org_label }}
                        {% if org_uri %}</a>{% endif %}</div></div>
                {% endif %}

                {% if item.person or item.remote_person_label %}
                    <div class="metadata"><div class="key">Personne référente</div>
                    {% local_or_remote uri item person as author_uri %}
                    {% local_or_remote label item person as author_label %}
                    <div class="value">{% if author_uri %}<a href="{{author_uri}}">{% endif %}
                        {{ author_label }}
                        {% if author_uri %}</a>{% endif %}</div></div>
                {% endif %}


                {% if item.zone.all %}
                    <div class="metadata"><div class="key">Zone{{ item.zone.all|pluralize }} ciblée{{ item.zone.all|pluralize }}</div>
                    <div class="value">{% for z in item.zone.all %}{{ z.location.label }}{% if forloop.last %}.{% else %}, {% endif %}{% endfor %}</div></div>
                {% endif %}


                <div class="metadata"><div class="key">Date de publication</div>
                <div class="value">{{ item.created|date:"j F Y" }}</div></div>

                <div class="metadata"><div class="key">Dernière mise à jour</div>
                <div class="value">{{ item.modified|date:"j F Y" }}</div></div>


            </div>







{% endblock article %}
