{% extends "page.html" %}
{% load i18n thumbnail remote coop_navigation %}

{% block meta_title %}Financements{% endblock %}

{% block article %}

    {% if link %}
        <ul class="breadcrumb">
        <a href="/">Accueil</a> <span class="divider">/</span>
        {% navigation_breadcrumb link li_template="coop_cms/breadcrumb_li_template.html" tree="navigation_eadsi" %}
        </ul>
    {% endif %}

    <h2 class="like-h1">Financements</h2>

    <p>Vous trouverez dans cette rubrique des informations sur les financements actuellement accessibles : financements locaux et régionaux, financements nationaux, européens et internationaux, appels à projets, prix, concours, bourses, etc...
    </p>


    <form id="list_filter" method="post">

        <label>Type : </label>
        <select name="seltype">
            <option value="all">Tous</option>
            {% for gt in gtypes %}
            <option value="{{gt.0}}"{% ifequal seltype gt.0|slugify %} selected{% endifequal %}>{{ gt.1 }}</option>
            {% endfor %}
        </select>


        <label>Acteurs : </label>
            <select name="selcible">
            <option value="all">Tous</option>
            {% for gta in gtargets %}
            <option value="{{gta.id}}"{% ifequal selcible gta.id|slugify %} selected{% endifequal %}>{{ gta.label }}</option>
            {% endfor %}

        </select>
        <br/><br/>

        <label>Thématique : </label>
            <select name="seltag">
            <option value="all">Toutes</option>
            {% for tag in tags %}
            <option value="{{tag.id}}"{% ifequal seltag tag.id|slugify %} selected{% endifequal %}>{{ tag.label }}</option>
            {% endfor %}
        </select>


        <label>Zone : </label>
            <select name="selzone">
            <option value="all">Toutes</option>
            {% for zone in gzones %}
            <option value="{{zone.id}}"{% ifequal selzone zone.id|slugify %} selected{% endifequal %}>{{ zone.label }}</option>
            {% endfor %}
        </select>


        <input type="hidden" id="form_visible" name="form_visible" value="{% if form_visible %}true{% else %}false{% endif %}"/>

     {% csrf_token %}
    </form>
       

    <p class="result_info">{{ result_info }}</p>


{% for item in financements %}

    <div class="list_item vcenter_container event_item">
        <div class="vcenter_wrapper item-desc-wrapper">
            <div class="vcenter_content item-desc-content">


                {% thumbnail item.logo "120x120" as im %}
                <a class="title" href="{{ item.get_absolute_url }}">
                <img class="event-article-icon" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        </a>
                {% endthumbnail %}

                <a class="title" href="{{ item.get_absolute_url }}">{{ item.label }}</a><br>

                <br>

                <span class="subtitle">{{ item.summary }}</span>


            <div class="attr_table">

                {% if item.expiration_date %}
                    <div class="metadata"><div class="key">Date limite</div>
                    <div class="value"><strong>{{ item.expiration_date|date:"d F Y" }}</strong></div></div>
                {% endif %}

                {% if item.organization or item.remote_organization_label %}
                    <div class="metadata"><div class="key">Structure référente</div>
                    {% local_or_remote uri item organization as org_uri %}
                    {% local_or_remote label item organization as org_label %}
                    <div class="value">{% if org_uri %}<a href="{{org_uri}}">{% endif %}
                        {{ org_label }}
                        {% if org_uri %}</a>{% endif %}</div></div>
                {% endif %}

            </div>



            <a href="{{item.get_absolute_url}}" class="btn btn-warning btn-small proj"><i class="icon-plus icon-small icon-white"></i>En savoir plus</a>


                </div>
            </div>
        </div>
{% endfor %}


{% endblock article %}


{% block jquery_footer %}

{{block.super}}

$("#list_filter select").change(function(){
    $("#list_filter").submit();
})

{% endblock jquery_footer %}
