{% extends "full_page.html" %}
{% load i18n thumbnail remote coop_navigation %}

{% block meta_title %}Ressources{% endblock %}

    {% block javascript %}
    {{ block.super }}

    <script src="{{ STATIC_URL }}js/mustache.js" charset="utf-8" type="text/javascript">
    </script>
    <script type="text/html" id="res-templ">

            <h3>[[ &title ]]</h3>
            <ul>
           [[#results ]] 
            <li><span class="[[ class ]]">[[ &type ]]</span><a href="[[url]]">[[ &label ]]</a></li>
           [[/results ]]
           </ul>

    </script>
    {% endblock javascript %}

{% block article %}

{% if link %}
    <ul class="breadcrumb">
    <a href="/">Accueil</a> <span class="divider">/</span>
    {% navigation_breadcrumb link li_template="coop_cms/breadcrumb_li_template.html" tree="navigation_eadsi" %}
    </ul>
{% endif %}

        <h2 class="like-h1">Ressources</h2>


<form accept-charset="UTF-8" id="searchform" class="form-horizontal">
    <fieldset>





    <div class="control-group" id="res_options"><br/>
        <label class="control-label" for="type">Type de ressource</label>
        <div class="controls">
            <select class="filter" id="res_type" name="res_type">
              <option value=""> -- Indifférent -- </option>
              <option value="financements">Financements</option>
              <option value="formations">Formations</option>
              <option value="documents">Documents</option>
              <option value="outils">Outils méthodologiques</option>
              <option value="campagnes">Campagnes EAD</option>
              <option value="mobilisations">Mobilisations citoyennes</option>
            </select>
      
        </div>
    </div>

<div class="filters">
      <div class="control-group documents outils model_filter" id="res_type_doc" style="display:none">
        <label class="control-label" for="type_doc">Type de document</label>
            <div class="controls">
                <select class="filter bymodel" name="type_doc">
                    <option value=""> -- Indifférent -- </option>
                    {% for type_doc in types_doc %}
                    <option value="{{ type_doc.id }}">{{ type_doc.label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>


      <div class="control-group documents outils model_filter" id="res_niveau" style="display:none">
        <label class="control-label" for="niveau">Niveau d'enseignement</label>
            <div class="controls">
                <select class="filter bymodel" name="niveau">
                    <option value=""> -- Indifférent -- </option>
                    {% for niveau in niveaux%}
                    <option value="{{ niveau.id }}">{{ niveau.label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

      <div class="control-group documents outils model_filter" id="res_public" style="display:none">
        <label class="control-label" for="public">Public</label>
            <div class="controls">
                <select class="filter bymodel" name="public">
                    <option value=""> -- Indifférent -- </option>
                    {% for public in publics%}
                    <option value="{{ public.id }}">{{ public.label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>


      <div class="control-group financements model_filter" id="res_cible" style="display:none">
        <label class="control-label" for="cible">Destiné à</label>
            <div class="controls">
                <select class="filter bymodel" name="cible">
                    <option value=""> -- Indifférent -- </option>
                    {% for cible in cibles %}
                    <option value="{{ cible.id }}">{{ cible.label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

      <div class="control-group formations model_filter" id="re_types_formation" style="display:none">
        <label class="control-label" for="type_formation">Type de formation</label>
            <div class="controls">
                <select class="filter bymodel" name="type_formation">
                    <option value=""> -- Indifférent -- </option>
                    {% for type_formation in types_formation %}
                    <option value="{{ type_formation.slug }}">{{ type_formation.label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

      <div class="control-group documents outils campagnes mobilisations model_filter" id="res_zone" style="display:none">
        <label class="control-label" for="zone">Zone géographique</label>
            <div class="controls">
                <select class="filter bymodel" name="zone">
                    <option value=""> -- Indifférent -- </option>
                    {% for zone in zones%}
                    <option value="{{ zone.id }}">{{ zone.label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

</div>


        <div id="text_query" class="input-append">
            <label class="control-label" for="q">Terme de recherche</label>
          <input class="large" name="q" type="text"> 
          <button class="btn btn-danger" id="res_text_remove" type="button"><i class="icon-remove icon-white"></i></button>
                    <button type="submit" class="btn btn-success"><i class="icon-search icon-white"></i></button>

        </div>


</fieldset>
</form>


    <div id="search_results">


    </div>




<h3>Dernières ressources publiées : </h3>

<table id="ressources_last">

<thead>
    <th width="33%"><span><a href="/financements/">> Financements</a><span></th>
    <th width="33%"><span><a href="/formations/">> Formations</a><span></th>
    <th width="33%"><span><a href="/documents/">> Documentation</a><span></th>
</thead>
<tbody>
<tr>

    <td>
        <ul>
        {% for item in financements %}
            <li>
                <a class="title" href="{{item.get_absolute_url}}">{{ item.label }}</a>
            </li>
        {% endfor%}
        </ul>
        <a href="/financements/" class="all_link">Tous les financements...</a>
    </td>
    <td>
        <ul>
        {% for item in formations %}
            <li>
                <a class="title" href="{{item.get_absolute_url}}">{{ item.label }}</a>
            </li>
        {% endfor%}
        </ul>
            <a href="/formations/" class="all_link">Toutes les formations...</a>

    </td>
    <td>
        <ul>
        {% for item in documents %}
            <li>
                <a class="title" href="{{item.get_absolute_url}}">{{ item.label }}</a>
            </li>
        {% endfor%}
    </ul>
            <a href="/resource/list/" class="all_link">Tous les documents...</a>

    </td>
</tr>
<tr>
<thead>
    <th><span><a href="/outils/">> Outils méthodologiques</a><span></th>
    <th><span><a href="/articles/campagnes-deducation-au-developpement/">> Campagnes EAD</a><span></th>
    <th><span><a href="/articles/campagnes-citoyennes/">> Mobilisations citoyennes</a><span></th>
</thead>
</tr>
<tr>    
    <td>
        <ul>
        {% for item in outils %}
            <li>
                <a class="title" href="{{item.get_absolute_url}}">{{ item.label }}</a>
            </li>
        {% endfor%}
    </ul>
            <a href="/resource/list/" class="all_link">Tous les outils méthodologiques...</a>

    </td>
    <td>
        <ul>
        {% for item in campagnes %}
            <li>
                <a class="title" href="{{item.get_absolute_url}}">{{ item.label }}</a>
            </li>
        {% endfor%}
    </ul>
            <a href="/articles/campagnes-deducation-au-developpement/" class="all_link">Toutes les campagnes...</a>

    </td>
    <td>
        <ul>
        {% for item in mobilisations %}
            <li>
                <a class="title" href="{{item.get_absolute_url}}">{{ item.label }}</a>
            </li>
        {% endfor%}
    </ul>
                <a href="/articles/campagnes-citoyennes/" class="all_link">Toutes les mobilisations...</a>

    </td>
 </tr>
<tr>
    <thead>
    <th colspan=4>
        <span><a href="/outils/">> Structures-ressources</a><span>
    </th>
    </thead>
</tr>
<tr>

    <td colspan=4>
<ul class="list_org_icon">
        {% for org in structures %}

            <li title="{{org}}">
                <div class="org_icon">
                <a href="{{org.get_absolute_url}}">

                {% thumbnail org.logo "50x50" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                    style="margin:{{ item.image|margin:"50x50" }}"></a>
                {% empty %}
                    <img src="{{STATIC_URL}}img/groupe_light.jpg" height="50" widh="50"/>
                {% endthumbnail %}
                            
                </div>
                </a>
                <a href="{{org.get_absolute_url}}"><span>{{ org.label }}</span></a>    
            </li>

        {% endfor %}
    </ul>
    </td>
</tr>    
</tbody>
</table>


<script type="text/javascript">

    var base_search_url = '/search/ressources/'

    function get_res(query_url, tmpl){
            $.getJSON(
                query_url,
                function(data){
                    console.log(data)
                    results_html = Mustache.render(tmpl,data);
                    $("#search_results").html(results_html).fadeIn();
                }
            )

    };

    function showProgress() {
        $('#loading').show()
    }
    function hideProgress() {
        $('#loading').hide();
    }

    $(function(){
        Mustache.tags = ['[[', ']]'];
        restmpl = $('#res-templ').html()


        //$('#resultats').ajaxStart(function () { showProgress() }).ajaxStop(function () { hideProgress() });


        $('#searchform').submit(function() {
          get_res(base_search_url + '?' + $(this).serialize(), restmpl);
          return false;
        });


        $('select.filter').change(function(){
            get_res(base_search_url + '?' + $('#searchform').serialize(), restmpl);
        })

        // formulaire options

        // $("#res_options_toggle").click(function(e){
        //     $("#res_type").val('any');
        //     $("#res_options").toggle();

        //     $(".filters > .control-group").hide();
        //     e.preventDefault();
        // });

        $("#res_type").change(function(){
            kls = $(this).val();
            $(".model_filter").hide();
            $("select.filter.bymodel").val('');
            if(kls !== 'any'){
                $(".control-group."+ kls).show();
            }
        });



    });

</script>


{% endblock article %}
