{% load url from future %}
{% load i18n coop_edition coop_bar_tags %}
{% if_cms_edition %}
<!DOCYTPE HTML>
<html>
{% else %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{LANG}}" xml:lang="{{LANG}}">
{% endif %}

<head>
  <meta charset="utf-8">
  <title>{{newsletter.subject}}</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/newsletter.css">

{% block jquery_declaration %}
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
{# You can add any additional JS libs here #}
{% if_cms_edition %}{% cms_form_media %}{% endif %}
{% endblock %}


{% coop_bar_headers %}
</head>
<body>

  {% if by_email %}
    {% block emain_only_style %}
    <style type="text/css">
    .top-header {
        top: 0;
    }
    .bottom-footer {
        bottom: 0;
    }
    .email-only {
        font-size: small;
        background: #eee;
        color: #777;
        text-align: center;
        position: absolute;
        width: 100%;
    }
    .email-only a{
        color: #777;
        text-decoration: underline;
    }
    </style>
    {% endblock %}
  {% endif %}
  {% block style %}
  <style type="text/css">
    /* @override http://debian:8000/static/css/newsletter.css */

body {
    background: #eee;
    font-family: 'Karla', sans-serif;
    font-size: 0.9rem;
    color: #4e404f
}

a, #toc{
    color: #0061b2;
}

#toc{
    font-weight: bold;
}

h2{
    color: #d1181e;
}

h3{
    color: #096288;
    margin-bottom: 10px;
    margin-top: 20px;
}

h4{
    margin-top: 0;
    margin: 0;
    font-size: 13px;
}

h4 a{
        color: #d1181e;
    text-decoration: none;
}

#textonly {
    text-align: center;
    margin-bottom: 15px;
}

#newsletter {
    width: 600px;
    background: #fff;
    padding: 20px 20px 20px 20px;
    border: solid thin #ccc;
    margin: auto;
    position: relative;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    
}

#img_header {
    margin: -3px 0 0 -19px;
    position: relative;
    top: -9px;
    right: 0;
}

#img_footer {
    margin: -3px 0 0 -19px;
    position: relative;
    right: 0;
}

.item-content .summary {
    font-size: 13px;
    padding-left: 10px;
    line-height: 18px;
    font-style: italic;
}

hr{
    border: none;
    border-bottom: 1px solid #b1b1b1;
}

#legal{
    font-size: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.newsletter-item img {
    float: left;
}

.newsletter-item .item-content {
}
  </style>
  {% endblock %}

    {% if by_email %}
    {% block email_only_header %}
    <div class="top-header email-only">
            <div class="item" id="textonly">
                Si vous ne pouvez pas lire cet email, 
                <a href="{{SITE_PREFIX}}{% url 'coop_view_newsletter' newsletter.id %}">
                lisez la version en ligne
                </a>
                <br>
            </div>
    </div>
    {% endblock %}
    {% endif %}

    <div id="newsletter">

            <img id="img_header" src="{{ STATIC_URL }}img/newsletter_header.jpg">

    {% block newsletter %}
        {% cms_edit newsletter %}
            <div id="content">{{ newsletter.content }}</div>
            {% include "coop_cms/_newsletter_articles.html" %}
        {% end_cms_edit %}
    {% endblock %}
    </div>

    {% if by_email %}
    {% block email_only_footer %}
        {% comment %}Put unsunbscribe link here{% endcomment %}
    {% endblock %}
    {% endif %}

    {% coop_bar %}hey
  <!-- coop_bar_footer -->
  {% coop_bar_footer %}
</body>
