{% extends "page.html" %}
{% load i18n %}

{% block meta_title %}Profil de {{person}}{% endblock %}

{% block jquery_declaration %}
{{ block.super }}
{% endblock %}

{% block article %}

        <h2 id="title">{{person}}</h2>


            {% if person.engagements.all %}
                <h4>Engagements</h4>
                <ul>
                    {% for engagement in person.engagements.all %}
                    {% if engagement.engagement_display == 1 %}
                        <li>
                            <p>{{engagement.role}} chez
                                <a href="{{engagement.organization.get_absolute_url}}">
                                    {{ engagement.organization }}</a>
                            </p>
                        </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}


    {% if person.articles.all %}
    <h4>Articles de cette personne</h4>
    <ul>

        {% for item in person.articles.all %}
				<li>
				<a href="{{ item.get_absolute_url }}">{{ item.title|safe }}</a>
				Posté il y a {% blocktrans with item.created|timesince as when %}{{ when }}
				            {% endblocktrans %}</span>
				</li>

        {% endfor %}
    </ul>
    {% endif %}

    {% if person.pref_email %}
        {% if msg %}
            <h4>{{msg_perso}}</h4>
        {% else %}
            <h4> Envoyer un message</h4>
            <form class="form-horizontal" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn" type="submit" value="Envoyer" />
            </form>
        {% endif %}
    {% endif %}

<script type="text/javascript">
$(function(){
    $("input[type=submit]").hover(function(){
        $(this).addClass("btn-success")
    },function(){
        $(this).removeClass("btn-success")
    });
});
</script>



{% endblock %}

