{% load i18n static coop_bar_tags coop_navigation %}<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if site_title %}{{ site_title }} | {% endif %}{% block meta_title %}Accueil{% endblock %}</title>
        <meta name="description" content="">
        <meta name="author" content="{{site_author}}">
        <meta name="viewport" content="width=device-width">

{% block stylesheet %}
        <!-- CSS: implied media="all" -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/cerapcoop.css">
        <!-- Custom fonts -->
        <link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
{% endblock stylesheet %}

{% block jquery_declaration %}
    <!-- block jquery_declaration -->
    <script src="{{ STATIC_URL }}/js/jquery-1.7.2.min.js"></script>
    <!--<script src="{{ STATIC_URL }}/js/vendor/jquery-1.8.2.min.js"></script>-->
{% endblock %}


{% block javascript %}
    <!-- block javascript -->
    <script src="{{ STATIC_URL }}/js/vendor/bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}/js/nav2.2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
{% endblock javascript %}


    <!-- coop_bar_headers -->
    {% coop_bar_headers %}

    <!-- block extra_head -->
    {% block extra_head %}{% endblock %}

    <style type="text/css">
        <!-- Aloha Editor alignment styles -->
        .aloha-align-left {text-align: left;}
        .aloha-align-right {text-align: right;}
        .aloha-align-center {text-align: center;}
        .aloha-align-justifiy {text-align: justify;}
        img.aloha-align-left {float: left;}
        img.aloha-align-right {float: right;}>
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        </style>

    </head>
    <body>

    <!-- coop_bar -->
    {% coop_bar %}

        <div class="container">
            {% block header %}
            <header>
                <div class="clearfix">
                    <div id="header-garnish" class="right">

                    </div>
                    <div id="header-logo" class="left">
                        <a href="/" title="Accueil Cerapcoop"><img src="{{ STATIC_URL }}img/logo-ceracoop.png" width="219" height="143" alt="logo cerapcoop" border="0"/></a>
                    </div>
                    <div id="header-legend">
                        <p>CERAPCOOP > Centre de Ressources et d'Appui pour la coopération internationale en Auvergne</p>
                        <h1>Une association au service des acteurs de la coop&eacute;ration internationale en Auvergne</h1>
                    </div>
                </div>
                <div id="header-photo">
                    <h2>"Plus que<br />l'envie d'agir...<br />la n&eacute;cessit&eacute;<br />d'&ecirc;tre efficace"</h2>
                </div>
            </header>
            {% endblock header%}

            <!-- block navigation -->

            {% block navigation %}
            <nav id="topnav" role="navigation">
                <div class="clearfix">

{% comment %}

                    <div id="nav-first" class="left">
                        <div class="dropdown">
                            <ul class="dropdown-button">
                                <li><a href="javascript:void(0)">Afficher le menu</a></li>
                            </ul>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">

                               {% navigation_as_nested_ul li_template="coop_cms/dropdown_li.html" ul_template="coop_cms/dropdown_ul.html" li_args="coop_cms/dropdown_li_class.html" tree="navigation_cerapcoop" %}

                            </ul>
                        </div>
                    </div>
{% endcomment %}

                            <ul id="jqmenu">

                               {% navigation_as_nested_ul tree="navigation_cerapcoop" %}

                            </ul>



                    <div id="nav-garnish" class="left"></div>
                </div>
            </nav>
            {% endblock navigation %}
            
            {% block document %}
            <section id="main" role="main">
                <div class="row">
                    <!-- block title -->
                    {% block title %}{% endblock %}
                    <!-- block article -->
                    {% block article %}

                    {% endblock article %}
                </div>
            </section>
            {% endblock document %}
            <footer>
                <div class="clearfix">
                    <div id="footer-garnish" class="right"></div>
                    <div id="footer-logo" class="left">
                        <div class="left"><img src="{{ STATIC_URL }}img/footer-logo.png" width="66" height="67" alt="logo cerapcoop" /></div>
                        <div class="left">
                            <address>
                                CERAPCOOP<br />
                                39 avenue des &Eacute;tats-Unis<br />
                                T&eacute;l : 04 73 35 20 65<br />
                                M : <a href="mailto:contact@cerapcoop.org">contact@cerapcoop.org</a>
                            </address>
                        </div>
                    </div>
                    <div id="footer-social" class="clearfix">
                        <nav id="right">
                            <ul>
                                <li><a href="#">Plan du site</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Cr&eacute;dits</a></li>
                            </ul>
                        </nav>
                        <div class="left">
                            <a href="https://www.facebook.com/cerapcoop.auvergne" target="_blank"><img src="{{ STATIC_URL }}img/facebook.png" alt="facebook" width="29" height="29" /></a>
                            <a href="#"><img src="{{ STATIC_URL }}img/twitter.png" alt="twitter" width="29" height="29" /></a>
                            <a href="#"><img src="{{ STATIC_URL }}img/rss.png" alt="rss" width="29" height="29" /></a>
                            <a href="#"><img src="{{ STATIC_URL }}img/mail.png" alt="mail" width="29" height="29" /></a>
                            <a href="#"><img src="{{ STATIC_URL }}img/pes.png" alt="pes" width="29" height="29" /></a>
                        </div>
                    </div>
                </div>
                <div id="footer-partenairs"></div>
            </footer>
        </div> <!-- /container -->

        <script type="text/javascript">
        function doBlink( obj, count ) {
            for( var i = 0 ; i < count ; i++ ){
                obj.fadeOut(500).fadeIn(500);
            }
        }
        $(function(){



        //     doBlink($('ul.dropdown-button li a'), 5);
        //     $('ul.dropdown-button li a').hover(function() {
        //         $('.dropdown-menu').toggle(300);
        //     }, function(){});

        //     // $('.dropdown').on('click', function(){
        //     //     $(this).find('.dropdown-menu').toggle(300);
        //     // });


        // $('nav li.dropdown').hover(function() {
        //     $(this).find('ul').show();
        //     },
        //     function() {
        //       $(this).find('ul').hide();
        // });

        $("#jqmenu").navPlugin({
            'itemWidth': 'auto',
            'itemHeight': 30,
            'navEffect': 'fade',
            'speed': 500

        });



            // <!-- block jquery_footer -->
            {% block jquery_footer %}




            {% endblock %}
        });
        </script>

        <!-- coop_bar_footer -->
        {% coop_bar_footer %}

    </body>
</html>
