{% load thumbnail %}
                    <div class="span3">
                        <div id="calendar" class="block brown">
                            <h3>Agenda</h3>
                            <a href="/agenda/">voir tout l'agenda</a>
                        </div>
                        <div id="theme" class="block brown">
                            <h3>Espaces Th&eacute;matique</h3>
                            <ul>
                                {% for tag in preferences.SitePrefs.cerapcoop_tags.all %}
                                <li><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="block brown">
                            <h3>Initiatives</h3>
                            <article>
                                <h4> <a href="{{ preferences.SitePrefs.cerapcoop_initiative.get_absolute_url }}">{{preferences.SitePrefs.cerapcoop_initiative}}</a></h4>
                                 {% thumbnail preferences.SitePrefs.cerapcoop_initiative.logo "160" crop="center" as im %}
                                    <a href="{{ preferences.SitePrefs.cerapcoop_initiative.get_absolute_url }}"><img src="{{ im.url }}" class="pic left" alt="{{preferences.SitePrefs.cerapcoop_initiative.title}}"/></a>
                                {% endthumbnail %}
                                <p>{{preferences.SitePrefs.cerapcoop_initiative.description|safe|truncatewords:30}}
                                <br/><small class="more right"><a href="{{ preferences.SitePrefs.cerapcoop_initiative.get_absolute_url }}">En savoir +</a></small>
                                </p>

                               
                            </article>
                        </div>
                    </div>