{% extends "page.html" %}
{% load i18n %}

{% block body_class%}page{% endblock %}

{% block document %}
                <section class="middle full_page">
                    <article class="block">
                        <div class="header"></div>
                        <div class="content">

                            {% block article %}
                            {% endblock article %}

                        </div>
                    </article>
                </section>
{% endblock document %}                

{% block column %}
{% endblock column %}