{% extends "base.html" %}
{% load thumbnail %}            

                    {% block article %}
                    <div class="span5">
                        <div class="block blue">
                            <h3>{{ preferences.SitePrefs.cerapcoop_intitule_1 }}</h3>
                            <article>
                                <h4>{{ preferences.SitePrefs.cerapcoop_article_1.title }}</h4>
                                <p class="clearfix">
                                {% thumbnail preferences.SitePrefs.cerapcoop_article_1.logo "110" crop="center" as im %}
                                    <a href="{{ preferences.SitePrefs.cerapcoop_article_1.get_absolute_url }}"><img src="{{ im.url }}" class="pic left" alt="{{preferences.SitePrefs.cerapcoop_article_1.title}}"/></a>
                                {% endthumbnail %}

                                    {{ preferences.SitePrefs.cerapcoop_article_1.summary }}
                                    <br /><small class="more right"><a href="{{ preferences.SitePrefs.cerapcoop_article_1.get_absolute_url }}">En savoir +</a></small>
                                </p>
                            </article>
                        </div>
                        <div class="block orange">
                            <h3>{{ preferences.SitePrefs.cerapcoop_intitule_2 }}</h3>
                            <article>
                                <h4>{{ preferences.SitePrefs.cerapcoop_article_2.title }}</h4>

                                <p class="clearfix">
                                {% thumbnail preferences.SitePrefs.cerapcoop_article_2.logo "110" crop="center" as im %}
                                    <a href="{{ preferences.SitePrefs.cerapcoop_article_2.get_absolute_url }}"><img src="{{ im.url }}" class="pic left" alt="{{preferences.SitePrefs.cerapcoop_article_2.title}}"/></a>
                                {% endthumbnail %}

                                    {{ preferences.SitePrefs.cerapcoop_article_2.summary }}
                                    <br/><small class="more right"><a href="{{ preferences.SitePrefs.cerapcoop_article_2.get_absolute_url }}">En savoir +</a></small>
                                </p>
                            </article>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="block red">
                            <h3>Actualit&eacute;s</h3>
                            {% for article in actualites %}
                            <article>
                                <h4><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h4>
                                <p class="clearfix">
                                {% thumbnail article.logo "80" crop="center" as im %}
                                    <a href="{{ article.get_absolute_url }}"><img src="{{ im.url }}" class="img_actu" alt="{{article.title}}"/></a>
                                {% endthumbnail %}
                                    <span class="summary_actu">{{ article.summary|truncatewords:40 }}</span>
                                    <br/><small class="more right"><a href="{{ article.get_absolute_url }}">En savoir +</a></small>
                                </p>
                            </article>
                            {% endfor %}
                        </div>
                    </div>
                    
                    {% block column %}
                        {% include "column.html" %}
                    {% endblock column %}
                {% endblock article %}    