{% extends "base.html" %}
{% load i18n %}

{% block body_class%}page{% endblock %}



            {% block header %}
            <header>
                <div class="clearfix pageheader">
                    <div id="header-garnish" class="right">

                    </div>
                    <div id="header-logo" class="left">
                        <img src="{{ STATIC_URL }}img/logo-ceracoop.png" width="219" height="143" alt="logo cerapcoop" />
                    </div>
                    <div id="header-legend">
                        <p>CERAPCOOP > Centre de Ressources et d'Appui pour la coopération internationale en Auvergne</p>
                        <h1>Une association au service des acteurs de la coop&eacute;ration internationale en Auvergne</h1>
                    </div>
                </div>
            </header>
            {% endblock header%}

