
{% load thumbnail %}
{% load i18n %}
{% for item in items %}
<table cellpadding="0" cellspacing="0" border="0" class="newsletter-item" width="100%">
    <tr>
        {% comment %}
        {% if item.logo %}
            {% thumbnail item.logo "80x80" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
             {% endthumbnail %}
        {% endif %}
        {% endcomment %}
        <td class="item-content" valign="top">

            <h4><a href="http://www.cerapcoop.org{{item.get_absolute_url}}">{{item.label}}</a></h4>
            {% if item.description %}
            <span class="summary">
                {{ item.description|striptags|safe|truncatewords:30 }}
                <a class="read-more" href="http://www.cerapcoop.org{{item.get_absolute_url}}">Lire la suite</a>
            </span>
            {% endif %}
        </td>{% if item.logo %}<td width="90" valign="top" align="center">
            {% thumbnail item.logo "80x80" as im %}
                <img src="http://www.cerapcoop.org{{ im.url }}" class="article-logo" width="{{ im.width }}" height="{{ im.height }}">
             {% endthumbnail %}
        </td>{% endif %}
    </tr>
</table>
{% if not forloop.last %}<br>{% endif %}
{% endfor %}