
{% load thumbnail %}
{% load i18n %}
{% for item in items %}
    <div class="newsletter-item">
        <div class="item-content">
            <h4><a href="{{item.get_absolute_url}}">• {{item.label}}</a></h4>
            {% if item.description %}
            <div class="summary">
                {{ item.description|striptags|safe|truncatewords:30 }}
                <a class="read-more" href="{{item.get_absolute_url}}">Lire la suite</a>
            </div>
            {% endif %}
        </div>
    </div>
{% endfor %}