
{% load thumbnail %}
{% load i18n %}
{% for item in items %}
<table cellpadding="0" cellspacing="0" border="0" class="newsletter-item" width="100%">
        <tr>
        <td class="item-content" valign="top">

            <h4><a href="http://www.cerapcoop.org{{item.get_absolute_url}}">{{item.title}}</a>
                {% if item.is_event %}<br/>


{% for o in item.occurences.all %}

                {{ o.start_time|date:"j F Y" }}                 
                {% if o.start_time.day != o.end_time.day %}→
                {{ o.end_time|date:"j F Y" }}  {# à H\hi #}
                {% endif %} 
{% endfor %}


{% if item.agenda_commune %} - {{ item.agenda_commune.label }} ({{ item.agenda_commune.parent.label }}){% endif %}
{% if item.zone %} - {{ item.zone.label}}{% endif %}
                {% endif %}</h4>
            {% if item.summary %}
            <span class="summary">
                {{ item.summary|truncatewords:30 }}
                <a class="read-more" href="http://www.cerapcoop.org{{item.get_absolute_url}}">Lire la suite</a>
            </span>
            {% endif %}


        </td>{% if item.logo %}<td width="90" valign="top" align="center">
            {% thumbnail item.logo "80x80" as im %}
                <img src="http://www.cerapcoop.org{{ im.url }}" class="article-logo" width="{{ im.width }}" height="{{ im.height }}">
             {% endthumbnail %}
        </td>{% endif %}
    </tr>
</table>
{% if not forloop.last %}<br>{% endif %}
{% endfor %}