{% load url from future %}
{% load i18n thumbnail %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{LANG}}" xml:lang="{{LANG}}">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <title>{{newsletter.subject}}</title>
    <link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <style type="text/css">
        /* Based on The MailChimp Reset INLINE: Yes. */  
        /* Client-specific Styles */
        #outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
        body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;} 
        /* Prevent Webkit and Windows Mobile platforms from changing default font sizes.*/ 
        .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */  
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
        /* Forces Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */ 
        #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
        /* End reset */

        /* Some sensible defaults for images
        Bring inline: Yes. */
        img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;} 
        a img {border:none;} 
        .image_fix {display:block;}

        /* Yahoo paragraph fix
        Bring inline: Yes. */
        p {margin: 1em 0;}


        /* Outlook 07, 10 Padding issue fix
        Bring inline: No.*/
        table td {border-collapse: collapse;}

        /* Remove spacing around Outlook 07, 10 tables
        Bring inline: Yes */
        table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }

        /* Styling your links has become much simpler with the new Yahoo.  In fact, it falls in line with the main credo of styling in email and make sure to bring your styles inline.  Your link colors will be uniform across clients when brought inline.
        Bring inline: Yes. */
        a {color: orange;}


        /***************************************************
        ****************************************************
        MOBILE TARGETING
        ****************************************************
        ***************************************************/
        @media only screen and (max-device-width: 480px) {
            /* Part one of controlling phone number linking for mobile. */
            a[href^="tel"], a[href^="sms"] {
                        text-decoration: none;
                        color: blue; /* or whatever your want */
                        pointer-events: none;
                        cursor: default;
                    }

            .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
                        text-decoration: default;
                        color: orange !important;
                        pointer-events: auto;
                        cursor: default;
                    }

        }

        /* More Specific Targeting */

        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        /* You guessed it, ipad (tablets, smaller screens, etc) */
            /* repeating for the ipad */
            a[href^="tel"], a[href^="sms"] {
                        text-decoration: none;
                        color: blue; /* or whatever your want */
                        pointer-events: none;
                        cursor: default;
                    }

            .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
                        text-decoration: default;
                        color: orange !important;
                        pointer-events: auto;
                        cursor: default;
                    }
        }

        @media only screen and (-webkit-min-device-pixel-ratio: 2) {
        /* Put your iPhone 4g styles in here */ 
        }

        /* Android targeting */
        @media only screen and (-webkit-device-pixel-ratio:.75){
        /* Put CSS for low density (ldpi) Android layouts in here */
        }
        @media only screen and (-webkit-device-pixel-ratio:1){
        /* Put CSS for medium density (mdpi) Android layouts in here */
        }
        @media only screen and (-webkit-device-pixel-ratio:1.5){
        /* Put CSS for high density (hdpi) Android layouts in here */
        }
        /* end Android targeting */





/* @override 
    http://debian:8000/static/css/newsletter.css
    http://debian/static/css/newsletter.css
    http://www.cerapcoop.org/static/css/newsletter.css
*/

#backgroundTable{
    background: #eee;
    color: #4e404f;
    font: 14px 'Karla', sans-serif;
}

#textonly {
    text-align: center;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    font-size: 12px;
}

#newsletter {
    background: #fff;
    border: solid thin #ccc;
    margin: auto;
    position: relative;
    width: 640px;
}

a, #toc{
    color: #106281;
}

#toc{
    font-weight: bold;
}

h2{
    color: #d1181e;
}

h2#title{
    text-align: center;
    margin-bottom: 40px;
}

#news_text{
    border-top: 2px dotted #d1181e;
    border-bottom: 2px dotted #d1181e;

}

h3{
    color: #096288;
    margin-top: 30px;
    font-size: 18px;
    margin-bottom: 25px;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    padding-bottom: 6px;
}

h3 span.puce{
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #096385;
    margin-right: 4px;
    margin-bottom: 3px;
}

h4{
    margin-top: 0;
    margin: 0;
    font-size: 13px;
}

h4 a{
    color: #d1181e;
    text-decoration: none;
}

h4 a:before{
    content: "➔";
    font-weight: normal;
    font-style: normal;
    margin-left: -17px;
    margin-right: 5px;
    font-size: 12px;
}



#textonly {
    text-align: center;
    margin-bottom: 15px;
}

#img_header {
    right: 0;
    top: 0;
    width: 600px;
}

#header_td{
    height: 100px;
    padding-bottom: 20px;
}

#img_footer {
    position: relative;
    right: 0;
    width: 600px;
}

.item-content .summary {
    font-size: 13px;
    line-height: 18px;
}

hr{
    border: none;
    border-bottom: 1px solid #b1b1b1;
}

#legal{
    font-size: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.newsletter-item{
    margin-left: 15px;
}


.newsletter-item img {
    float: left;
}

.newsletter-item .item-content {
}


#sitelink{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

#legal{
    width: 600px;
    font-size: 12px;
    text-align: center;
    line-height: 8px;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
}

#soutien{
    text-align: left;
    font-size: 12px;
}

#soutien img{
    text-align: right;
    padding-top: 6px;
    width: 300px;
}


#address {
    text-align: center;
    float: right;
    font-size: 0.65rem;
    line-height: 13px;
    width: 159px;
    text-align: left;
    float: left;
    text-transform: capitalize;
    padding-top: 26px;
}

/* @group attachements */


.detail_block{
    border: 2px none #c6bfb4;
    clear: both;
    padding: 5px 10px 3px;
    margin-bottom: 10px;
    border-top: 1px dotted #bc002a;
    border-bottom: 1px dotted #bc002a;
    font-size: 12px;
    background-color: #e6e9e2;
}


.external_link{
    margin-bottom: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 10px;
}

.external_link a{
    color: #bc002a;
}
.external_link span{
    margin-right: 10px;
}

.external_link span:before{
    content: "➔";
    font-weight: normal;
    font-style: normal;
    margin-right: 17px;
}

/* @end */



    </style>

    <!-- Targeting Windows Mobile -->
    <!--[if IEMobile 7]>
    <style type="text/css">
    
    </style>
    <![endif]-->   

    <!-- ***********************************************
    ****************************************************
    END MOBILE TARGETING
    ****************************************************
    ************************************************ -->

    <!--[if gte mso 9]>
        <style>
        /* Target Outlook 2007 and 2010 */
        </style>
    <![endif]-->

    <link rel="stylesheet" href="{{ STATIC_URL }}css/newsletter.css">

</head>
<body id="outlook" class="ExternalClass">
<table id="backgroundTable" cellpadding="0" cellspacing="0" border="0">
<tr><td valign="top">



       <table cellpadding="15" cellspacing="0" border="0" id="textonly">
            <tr>
                <td>
                    Si l'affichage semble incorrect , 
                    <a href="http://www.cerapcoop.org/{% url 'coop_view_newsletter' newsletter.id %}">
                    cliquez ici pour une version web de la lettre
                </td>
            </tr>
        </table>


   <table cellpadding="20" cellspacing="0" border="0" id="newsletter">
        <tr>
            <td id="newscontent">

                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td id="header_td">
      
                        <img src="http://www.cerapcoop.org{{ STATIC_URL }}img/newsletter_header.jpg" id="img_header"/>
                        </td>
                    </tr>
                </table>

                {% block newsletter %}

            <h2 id="title">{{ newsletter.subject }}</h2>
            

                <table cellpadding="0" cellspacing="0" border="0" id="content">
                    <tr>
                    {% if newsletter.logo %}<td width="180" valign="top" align="left">
                    {% thumbnail newsletter.logo "160x160" as im %}
                        <img src="http://www.cerapcoop.org/{{ im.url }}" class="article-logo" width="{{ im.width }}" height="{{ im.height }}">
                     {% endthumbnail %}
                        </td>{% endif %}
                        <td><div id="news_text">
                            {{ newsletter.content|safe }}
                        </div>
                        </td>
                    </tr>
                </table>

                {% if newsletter.attachments.all or newsletter.external_links.all %} 
                <br/>
                <table cellpadding="0" cellspacing="0" border="0" id="external" width="100%">
                    <tr>
                        <td>
                        {% for doc in newsletter.attachments.all %}
                        <div class="detail_block external_link">
                            <span>Document : </span>
                            <a href="http://www.cerapcoop.org{{ doc.file.url }}">
                                {% if not doc.title %}{{ doc.name }}{% else %}{{ doc.title }}{% endif %}
                            </a>
                        </div>
                        {% endfor %}
                        {% for link in newsletter.external_links.all %}
                        <div class="detail_block external_link">
                            <span>Lien Internet : </span>
                            <a href="{{ link.object_uri }}">
                                {% if not link.object_label %}{{ link.object_uri }}{% else %}{{ link.object_label }}{% endif %}
                            </a>
                        </div>
                        {% endfor %}
                </table>
                {% endif %}

                <h3><span class="puce"></span>Sommaire</h3>


            <ul id="toc">
            {% if newsletter.news_cerapcoop %}<li><a href="#news_cerapcoop">CERAPCOOP</a></li>{% endif %}
            {% if newsletter.news_project.exists or newsletter.news_org.exists %}<li><a href="#news_projects">Acteurs et projets</a></li>{% endif %}

            {% if newsletter.agenda_auvergne %}<li><a href="#agenda_auvergne">Évènements en région</a></li>{% endif %}
            {% if newsletter.agenda_ailleurs %}<li><a href="#agenda_ailleurs">Évènements hors région</a></li>{% endif %}

            {% if newsletter.news_actus.exists %}<li><a href="#news_actus">Actualités</a></li>{% endif %}
            {% if newsletter.news_coop.values %}<li><a href="#news_coop">Coopération décentralisée</a></li>{% endif %}

            {% if newsletter.news_formations %}<li><a href="#news_formations">Formations</a></li>{% endif %}
            {% if newsletter.news_grants.exists %}<li><a href="#news_grants">Financements</a></li>{% endif %}

            {% if newsletter.news_outils.exists %}<li><a href="#news_outils">Outils méthodologiques</a></li>{% endif %}
            {% if newsletter.news_publications.exists %}<li><a href="#news_publications">Information, publications</a></li>{% endif %}
            {% if newsletter.news_films.exists %}<li><a href="#news_films">Films, documentaires</a></li>{% endif %}
            {% if newsletter.news_web.exists %}<li><a href="#news_web">Sites Web</a></li>{% endif %}
            {% if newsletter.news_mob.exists %}<li><a href="#news_mob">Mobilisation citoyenne</a></li>{% endif %}
            {% if newsletter.news_emploi.exists %}<li><a href="#news_emploi">Emplois / Stages</a></li>{% endif %}

            </ul>


            {% if newsletter.news_cerapcoop %}
                <a name="news_cerapcoop"></a><h3><span class="puce"></span>CERAPCOOP</h3>
                {% for news_cp in newsletter.news_cerapcoop %}
               {% include "mailing/_newsletter_article.html" with item=news_cp %}
               {% if not forloop.last %}<br>{% endif %}
                {% endfor %}
            {% endif %}
            {% if newsletter.news_project.exists or newsletter.news_org.exists%}
                <a name="news_projets"></a><h3><span class="puce"></span>Acteurs et projets</h3>
               {% include "mailing/_newsletter_org_projects.html" with org=newsletter.news_organization.all projects=newsletter.news_project.all %}
            {% endif %}

            {% if newsletter.agenda_auvergne %}
                <a name="agenda_auvergne"></a><h3><span class="puce"></span>Évènements en région</h3>
                {% for news_auv in newsletter.agenda_auvergne %}
               {% include "mailing/_newsletter_article.html" with item=news_auv %}
               {% if not forloop.last %}<br>{% endif %}
                {% endfor %}
            {% endif %}
            {% if newsletter.agenda_ailleurs %}
                <a name="agenda_ailleurs"></a><h3><span class="puce"></span>Évènements hors région</h3>
                {% for news_ailleurs in newsletter.agenda_ailleurs %}
               {% include "mailing/_newsletter_article.html" with item=news_ailleurs %}
                {% if not forloop.last %}<br>{% endif %}
                {% endfor %}
            {% endif %}


            {% if newsletter.news_actus.exists %}
                <a name="news_actus"></a><h3><span class="puce"></span>Actualités</h3>
               {% include "mailing/_newsletter_articles.html" with items=newsletter.news_actus.all %}
            {% endif %}

            {% if newsletter.news_coop.values %}
                <a name="news_coop"></a><h3><span class="puce"></span>Coopération décentralisée</h3>
                {% for key, items in newsletter.news_coop.items %}
                    {% if key == 'articles' %}
                        {% include "mailing/_newsletter_articles.html" with items=items %}
                    {% endif %}
                    {% if key == 'ressources documentaires' %}
                        {% include "mailing/_newsletter_docs.html" with items=items %}
                    {% endif %}
                    {% if key == 'projets' %}
                        {% include "mailing/_newsletter_projects.html" with items=items %}
                    {% endif %}
                    {% if key == 'financements' %}
                        {% include "mailing/_newsletter_grants.html" with items=items %}
                    {% endif %}
                {% endfor %}
            {% endif %}


            {% if newsletter.news_formations %}
                <a name="news_formations"></a><h3><span class="puce"></span>Formations</h3>
                {% for news_form in newsletter.news_formations %}
               {% include "mailing/_newsletter_article.html" with item=news_form %}
                {% if not forloop.last %}<br>{% endif %}
                {% endfor %}               
            {% endif %}

            {% if newsletter.news_grants.exists %}
                <a name="news_grants"></a><h3><span class="puce"></span>Financements</h3>
               {% include "mailing/_newsletter_grants.html" with items=newsletter.news_grants.all %}
            {% endif %}

            {% if newsletter.news_outils.exists %}
                <a name="news_outils"></a><h3><span class="puce"></span>Outils méthodologiques</h3>
               {% include "mailing/_newsletter_docs.html" with items=newsletter.news_outils.all %}
            {% endif %}

            {% if newsletter.news_publications.exists %}
                <a name="news_publications"></a><h3><span class="puce"></span>Information, publications</h3>
               {% include "mailing/_newsletter_docs.html" with items=newsletter.news_publications.all %}
            {% endif %}
            {% if newsletter.news_films.exists %}
                <a name="news_films"></a><h3><span class="puce"></span>Films, documentaires</h3>
               {% include "mailing/_newsletter_docs.html" with items=newsletter.news_films.all %}
            {% endif %}
            {% if newsletter.news_web.exists %}
                <a name="news_web"></a><h3><span class="puce"></span>Sites web</h3>
               {% include "mailing/_newsletter_docs.html" with items=newsletter.news_web.all %}
            {% endif %}

            {% if newsletter.news_mob.exists %}
                    <a name="news_mob"></a><h3><span class="puce"></span><span class="car car2"></span>Mobilisation citoyenne</h3>
                   {% include "mailing/_newsletter_articles.html" with items=newsletter.news_mob.all %}
                {% endif %}

            {% if newsletter.news_emploi.exists %}
                <a name="news_emploi"></a><h3><span class="puce"></span>Emplois / Stages</h3>
               {% include "mailing/_newsletter_annonces.html" with items=newsletter.news_emploi.all %}
            {% endif %}



            {% endblock %}


<br>

                <img src="http://www.cerapcoop.org{{ STATIC_URL }}img/newsletter_footer.jpg" id="img_footer"/>
        
                <br>
                <p id="sitelink">Retrouvez plus d’informations sur le site <a href="http://www.cerapcoop.org/">www.cerapcoop.org</a></p>



                <table cellpadding="0" cellspacing="0" border="0" id="footer">
                    <tr>
                        <td width="400" valign="center">
                            
<p id="soutien">
                Avec le soutien de :<br>
                <img src="http://www.cerapcoop.org{{ STATIC_URL }}img/logo_partenaires_news.jpg"></p>


                        </td><td width="60">
                            &nbsp;
                        </td><td>
                            <img src="http://www.eadsi-auvergne.fr{{ STATIC_URL }}img/cerapcoop.png" width="46" height="46" alt="CERAPCOOP" />
                        </td><td width="10">
                            &nbsp;
                        </td><td id="address">
                            <strong>CERAPCOOP</strong><br>
                            39 avenue des &Eacute;tats-Unis<br />
                            63000 Clermont-Ferrand<br />
                            T&eacute;l. : 04 73 35 20 65
                        </td>
                    </tr>
                </table>


          
</td>
</tr>
    </table>

{#     {% block email_only_footer %} #}
    <table cellpadding="20" cellspacing="0" border="0" id="legal">
        <tr><td valign="top">

            Cette lettre d'information vous a été envoyée par l'association <a href="http://www.cerapcoop.org">CERAPCOOP</a> sur la base des coordonnées que vous nous avez fourni. <br/><a id="desabo" href="http://www.cerapcoop.org/newsletter/abonnement/{{dest.uuid}}/">Cliquez ici pour modifier votre abonnement.</a>.

        </td></tr>

    </table>

{#     {% endblock %} #}
</td></tr></table>
</body>
