{% extends "page.html" %}
{% load thumbnail keyvalue urldecode %}
{% block meta_title %}Tag : {{tag|title}}{% endblock %}



{% block article %}

{% if not param %}
    <h2>{{tag}}</h2>
{% else %}
    <h2 class="h2tag"><a href="{{tag.get_absolute_url}}">{{tag}}</a> > {{param|title}}</h2>
{% endif %}


{#     <p>Ajouté le {{tag.created|date:'l t F Y'}} {% if tag.person %}par {{tag.person}}{%endif%}</p> #}
    <div class="article">

    <table border="0" cellpading="10" cellspacing="0" class="tag_description">
        <tr>
            {% if tag.logo %}
            <td width="180" align="center">
            {% thumbnail tag.logo "120x200" as im %}
            <img class="tag-icon" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}</td>        
            {% endif %}
            {% if tag.description %}
            <td>{{ tag.description|safe }}</td>
            {% endif %}
        </tr>
    </table>

{% if not param %}

    {% if articles %}
       <div class="tagged">
        <h4>ARTICLES</h4>
            <ul>{% for item in articles|slice:":3" %}
            <li>
                {% if item.logo %}
                    {% thumbnail item.logo "65x65" as im %}
                    <a class="title" href="{{ item.get_absolute_url }}">
                    <img class="tagged-item-icon" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    </a>
                    {% endthumbnail %}
                {% endif %}
                <a class="title" href="{{ item.get_absolute_url }}">{{ item.title }}</a><br>

            <span class="subtitle">{{ item.summary|truncatewords:15 }}</span>
            </li>
            {% endfor %}
            </ul>
            {% if articles|length > 3 %}
            <small class="more right"><a href="{{ request.path }}articles/">TOUT AFFICHER ({{articles|length}})...</a></small>{% endif %}

        </div>
    {% endif %}

    {% if formations %}
       <div class="tagged">
        <h4>FORMATIONS</h4>
            <ul>{% for item in formations|slice:":3" %}
                
            <li>
                {% if item.logo %}
                    {% thumbnail item.logo "65x65" as im %}
                    <a class="title" href="{{ item.get_absolute_url }}">
                    <img class="tagged-item-icon" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    </a>
                    {% endthumbnail %}
                {% endif %}
                <a class="title" href="{{ item.get_absolute_url }}">{{ item.title }}</a><br>
                {#<span class="event_category c{{ item.agenda_category.id }}">{{ item.agenda_category }}</span>#}

            <span class="event_subtitle">
                {% for o in item.occurences.all %}

                    {{ o.start_time|date:"j F Y" }}                 
                    {% if o.start_time.day != o.end_time.day %}→
                    {{ o.end_time|date:"j F Y" }}  {# à H\hi #}
                    {% endif %}
                {% endfor %}

                {% if item.agenda_commune %} - {{ item.agenda_commune.label }} ({{ item.agenda_commune.parent.label }}){% endif %}
                {% if item.zone %} - {{ item.zone.label}}{% endif %}
            </span><br>
            <span class="subtitle">{{ item.summary|truncatewords:15 }}</span>

            </li>

                {% endfor %}
            </ul>
            {% if formations|length > 3 %}
            <small class="more right"><a href="{{ request.path }}formations/">TOUT AFFICHER ({{formations|length}})...</a></small>
            {% endif %}

        </div>
    {% endif %}

    {% if agenda %}
       <div class="tagged">
        <h4>EVENEMENTS</h4>
            <ul>
            {% for item in agenda|slice:":3" %}
            <li>
                {% if item.logo %}
                    {% thumbnail item.logo "65x65" as im %}
                    <a class="title" href="{{ item.get_absolute_url }}">
                    <img class="tagged-item-icon" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    </a>
                    {% endthumbnail %}
                {% endif %}
                <a class="title" href="{{ item.get_absolute_url }}">{{ item.title }}</a><br>
                {#<span class="event_category c{{ item.agenda_category.id }}">{{ item.agenda_category }}</span>#}

            <span class="event_subtitle">
                {% for o in item.occurences.all %}

                    {{ o.start_time|date:"j F Y" }}                 
                    {% if o.start_time.day != o.end_time.day %}→
                    {{ o.end_time|date:"j F Y" }}  {# à H\hi #}
                    {% endif %}
                {% endfor %}

                {% if item.agenda_commune %} - {{ item.agenda_commune.label }} ({{ item.agenda_commune.parent.label }}){% endif %}
                {% if item.zone %} - {{ item.zone.label}}{% endif %}
            </span><br>
            <span class="subtitle">{{ item.summary|truncatewords:15 }}</span>
            </li>

{#                 <li><a href="{{item.get_absolute_url}}">{{ item }}</a></li> #}

            {% endfor %}
            </ul>

            {% if agenda|length > 3 %}
            <small class="more right"><a href="{{ request.path }}agenda/">TOUT AFFICHER ({{agenda|length}})...</a></small>
            {% endif %}

        </div>
    {% endif %}

    {# objects taggués, autres modèles que articles #}
    {% for model, items in tagged_items.items %}
       <div class="tagged">

        <h4>{{ model|upper }}</h4>
            <ul>{% for item in items|slice:":3" %}


            <li>
                {% if item.logo %}
                    {% thumbnail item.logo "65x65" as im %}
                    <a class="title" href="{{ item.get_absolute_url }}">
                    <img class="tagged-item-icon" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    </a>
                    {% endthumbnail %}
                {% endif %}
                <a class="title" href="{{ item.get_absolute_url }}">{{ item.title }}</a><br>
                <span class="subtitle">{{ item.summary|truncatewords:15 }}</span>
                <span class="subtitle">{{ item.description|safe|truncatewords:15 }}</span>

            </li>

                {% endfor %}
            </ul>
            {% if items|length > 3 %}
            <small class="more right"><a href="{{ request.path }}{{ model|urlencode|lower }}/">TOUT AFFICHER ( {{items|length}} )...</a></small>{% endif %}


        </div>
    {% endfor %}

    {% if mobilisations %}
       <div class="tagged">
        <h4>MOBILISATIONS</h4>
            <ul>{% for item in mobilisations|slice:":3" %}


            <li>
                {% if item.logo %}
                    {% thumbnail item.logo "65x65" as im %}
                    <a class="title" href="{{ item.get_absolute_url }}">
                    <img class="tagged-item-icon" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    </a>
                    {% endthumbnail %}
                {% endif %}
                <a class="title" href="{{ item.get_absolute_url }}">{{ item.title }}</a><br>

            <span class="subtitle">{{ item.summary|truncatewords:15 }}</span>
            </li>

                {% endfor %}
            </ul>

            {% if mobilisations|length > 3 %}
            <small class="more right"><a href="{{ request.path }}mobilisations/">TOUT AFFICHER ({{mobilisations|length}})...</a></small>
            {% endif %}

        </div>
    {% endif %}

{% else %}

    {% if param == "articles" %}

       <div class="tagged whole">
        <h4>ARTICLES</h4>
            <ul>{% for item in articles %}
            <li>
                {% if item.logo %}
                    {% thumbnail item.logo "65x65" as im %}
                    <a class="title" href="{{ item.get_absolute_url }}">
                    <img class="tagged-item-icon" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    </a>
                    {% endthumbnail %}
                {% endif %}
                <a class="title" href="{{ item.get_absolute_url }}">{{ item.title }}</a><br>

            <span class="subtitle">{{ item.summary }}</span>
            </li>
            {% endfor %}
            </ul>
        </div>


    {% elif param == "formations" %}

    <div class="tagged whole ">
        <h4>FORMATIONS</h4>
            <ul>{% for item in formations %}
                
            <li>
                {% if item.logo %}
                    {% thumbnail item.logo "65x65" as im %}
                    <a class="title" href="{{ item.get_absolute_url }}">
                    <img class="tagged-item-icon" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    </a>
                    {% endthumbnail %}
                {% endif %}
                <a class="title" href="{{ item.get_absolute_url }}">{{ item.title }}</a><br>
                {#<span class="event_category c{{ item.agenda_category.id }}">{{ item.agenda_category }}</span>#}

            <span class="event_subtitle">
                {% for o in item.occurences.all %}

                    {{ o.start_time|date:"j F Y" }}                 
                    {% if o.start_time.day != o.end_time.day %}→
                    {{ o.end_time|date:"j F Y" }}  {# à H\hi #}
                    {% endif %}
                {% endfor %}

                {% if item.agenda_commune %} - {{ item.agenda_commune.label }} ({{ item.agenda_commune.parent.label }}){% endif %}
                {% if item.zone %} - {{ item.zone.label}}{% endif %}
            </span><br>
            <span class="subtitle">{{ item.summary }}</span>

            </li>

                {% endfor %}
            </ul>

        </div>

    {% elif param == "agenda" %}

       <div class="tagged whole">
        <h4>EVENEMENTS</h4>
            <ul>
            {% for item in agenda %}
            <li>
                {% if item.logo %}
                    {% thumbnail item.logo "65x65" as im %}
                    <a class="title" href="{{ item.get_absolute_url }}">
                    <img class="tagged-item-icon" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    </a>
                    {% endthumbnail %}
                {% endif %}
                <a class="title" href="{{ item.get_absolute_url }}">{{ item.title }}</a><br>
                {#<span class="event_category c{{ item.agenda_category.id }}">{{ item.agenda_category }}</span>#}

            <span class="event_subtitle">
                {% for o in item.occurences.all %}

                    {{ o.start_time|date:"j F Y" }}                 
                    {% if o.start_time.day != o.end_time.day %}→
                    {{ o.end_time|date:"j F Y" }}  {# à H\hi #}
                    {% endif %}
                {% endfor %}

                {% if item.agenda_commune %} - {{ item.agenda_commune.label }} ({{ item.agenda_commune.parent.label }}){% endif %}
                {% if item.zone %} - {{ item.zone.label}}{% endif %}
            </span><br>
            <span class="subtitle">{{ item.summary }}</span>
            </li>

            {% endfor %}
            </ul>

        </div>

    
    {% elif param == "mobilisations" %}

       <div class="tagged whole">
        <h4>MOBILISATIONS</h4>
            <ul>{% for item in mobilisations %}


            <li>
                {% if item.logo %}
                    {% thumbnail item.logo "65x65" as im %}
                    <a class="title" href="{{ item.get_absolute_url }}">
                    <img class="tagged-item-icon" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    </a>
                    {% endthumbnail %}
                {% endif %}
                <a class="title" href="{{ item.get_absolute_url }}">{{ item.title }}</a><br>

            <span class="subtitle">{{ item.summary }}</span>
            </li>

                {% endfor %}
            </ul>

        </div>


    {% else %}

       <div class="tagged whole">

        <h4>{{ param|upper }}</h4>

         <ul>{% for item in tagged_items|keyvalue:param %}

            <li>
                {% if item.logo %}
                    {% thumbnail item.logo "65x65" as im %}
                    <a class="title" href="{{ item.get_absolute_url }}">
                    <img class="tagged-item-icon" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    </a>
                    {% endthumbnail %}
                {% endif %}

                <a class="title" href="{{ item.get_absolute_url }}">{{ item.title }}</a><br>
                <span class="subtitle">{{ item.summary }}</span>
                <span class="subtitle">{{ item.description|safe }}</span>
            </li>

                {% endfor %}
            </ul>
        </div>

    {% endif %}


{% endif %}
{% endblock article %}


