{% extends "page.html" %}

{% block meta_title %}Modification de vos abonnements{% endblock %}


{% block article %}

    <h3>Modification de vos abonnements</h3>

    <H4 style="font-color:#33ff33">{{ msg }}</H4>

    {% if found %}

        <b>Nom : </b>{{subscriber.label}}<br/>
        <b>Email : </b>{{subscriber.pref_email.content}}<br/>
        <br>
        <b>Abonnements sur ce site : </b>

        <form method="post">
            {% csrf_token %}
                <table border=2>
                    <thead><tr>
                        <th width="40%">Liste</th>
                        <th width="20%">Abonné</th>
                        <th width="20%">Non-abonné</th>
                    </tr></thead>
                    <tbody>
                    {% for ml in mls %}
                    <tr><td>Liste "{{ ml.name }}"</td>
                        <td align="middle"><input type="radio" name="ml_{{ml.id}}" value="1" checked="checked"></td>
                        <td align="middle"><input type="radio" name="ml_{{ml.id}}" value="0"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <input type="checkbox" value="delete" name="delete_data"> Me désabonner définitivement (<em>Vous ne recevrez plus aucune nouvelle de ce site</em>)
            <br/>

            <br>
            <input type="submit" value="Valider" class="btn btn-success">
        </form>
    
    {% elif error %}

        <H4 style="font-color:#ff3333">{{error}}</H4>

    {% else%}

    {% endif%}
 

{% endblock %}










