{% load i18n thumbnail remote %}

    <div class="list_item vcenter_container">

        <div class="vcenter_wrapper item-desc-wrapper">
            <div class="vcenter_content item-desc-content">
                {% thumbnail item.logo "100x100" as im %}
                <a class="title" style="float:left" href="{{item.get_absolute_url}}">
                   <img class="item-list-icon" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                </a>
                {% endthumbnail %}
                <a class="title" href="{{item.get_absolute_url}}">{{ item.label }}</a><br/>
                <span class="abbr_desc">{{ item.summary }}</span>

            <dl class="attr_table">

                {% if item.organization or item.remote_organization_label %}
                    <dt>Structure</dt>
                    {% local_or_remote uri item organization as org_uri %}
                    {% local_or_remote label item organization as org_label %}
                    <dd>{% if org_uri %}<a href="{{org_uri}}">{% endif %}
                        {{ org_label }}
                        {% if org_uri %}</a>{% endif %}</dd>
                {% endif %}

                {% if item.person or item.remote_person_label %}
                    <dt>Structure</dt>
                    {% local_or_remote uri item person as person_uri %}
                    {% local_or_remote label item person as person_label %}
                    <dd>{% if person_uri %}<a href="{{person_uri}}">{% endif %}
                        {{ person_label }}
                        {% if person_uri %}</a>{% endif %}</dd>
                {% endif %}



                <dt>Date de publication</dt>
                <dd>{{ item.created|date:"j F Y" }}</dd>


                {% if item.tags.all %}
                    <dt>Mots-clés</dt>
                    <dd>{% for tag in item.tags.all %}
                        <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}</dd>
                {% endif %}

            </dl>

            <a href="{{item.get_absolute_url}}" class="btn btn-warning btn-small proj"><i class="icon-plus icon-small icon-white"></i>Lire la suite</a>

            </div>
        </div>


    </div>