{% extends "page.html" %}
{% load i18n coop_edition coop_navigation %}

{% block meta_title %}{{ article.title }}{% endblock %}

{% block jquery_declaration %}
{{ block.super }}
{% if_cms_edition %}{% cms_form_media %}{% endif %}
{% endblock %}


{% block article %}

{% comment %}
        <ul class="breadcrumb">
        <a href="/">Accueil</a> <span class="divider">/</span>
        {% navigation_breadcrumb article li_template="coop_cms/breadcrumb_li_template.html" %}
        </ul>
{% endcomment %}

    {% cms_edit article %}

            <h2 class="like-h1">{{article.title}}</h2>
        {% if article.agenda_category %}
        <ul class='article_dates'>{% for o in article.occurences.all%}
        <li><span class="fleche">➔</span> 
                {{ o.start_time|date:"j F Y" }}  
                {% if o.start_time.day != o.end_time.day %}→
                {{ o.end_time|date:"j F Y" }}  {# à H\hi #}
                {% endif %}
        </li>
        {% endfor %}</ul>

            {% if article.organization or article.remote_organization_label %}
                <div class="orga"><span class="fleche">➔</span>
                        Organisé par : 
                    {% local_or_remote uri article organization as org_uri %}
                    {% local_or_remote label article organization as org_label %}
                    {% if org_uri %}<a href="{{org_uri}}">{% endif %}
                        <span class="orga_label">{{ org_label }}</span>
                        {% if org_uri %}</a>{% endif %}
                </div>
            {% endif %}


        {% endif%}
{% comment %}
        {% if_cms_edition %}
            <div class="summary">{{ article.summary }}</div>
        {% else %}
            {% if article.summary|length > 3 %}
                <div class="summary">{{ article.summary }}</div>
            {% endif %}
        {% endif %}
{% endcomment %}

            <div class="article">


            <div class="summary">{{ article.summary }}</div>
                {{ article.content }}
            </div>


    {% end_cms_edit %}
    {% if_cms_edition %}
        {% include "coop_cms/_article_publication.html" %}
    {% endif %}


    {% include "coop_cms/article_metadata.html" %}

        <br><br>


{% endblock article %}

{% block column %}
{% include "column.html" %}
{% endblock column %}
