{% extends "page.html" %}
{% load i18n coop_navigation pagination_tags %}

{% block meta_title %}
    {{ category.label }}
{% endblock %}


{% block article %}

    <ul class="breadcrumb">
    <a href="/">Accueil</a> <span class="divider">/</span>
    {% navigation_breadcrumb category li_template="coop_cms/breadcrumb_li_template.html" tree="navigation_eadsi" %}
    </ul>


    <h2 id="title">{{ category.name }}</h2>
 
  <div class="article-content">
    {% if category.logo %}
        <span id="logo" class="the-logo"><img src="{{MEDIA_URL}}{{ category.logo }}"></span>
    {% endif %}

    {% if category.description %}
        <div>{{ category.description }}</div>
    {% endif %}
                
    </div>

    <br>

    {% autopaginate articles 10 %}
    {% for item in articles %}
        {% include "coop_cms/article_list_item.html" %}
    {% endfor %}
    {% paginate %}


    {#{% last_articles 10 "coop_cms/article_list_item.html" category %}#}

{% endblock %}

