{% if node.has_children %}
<a class="dropdown-toggle" data-toggle="dropdown" data-target="#menu{{node.id}}" href="{{node.get_absolute_url}}">{{node.label}}<b class="caret"></b></a>
{% else %}
<a href="{{node.get_absolute_url}}">{{node.label}}</a>
{% endif %}

