{% extends "page.html" %}
{% load i18n thumbnail remote %}

{% block meta_title %}Contacts{% endblock %}

{% block article %}

        <h2 class="like-h1">Contacts</h2>


        <p>Vous trouverez ici les principales personnes-contacts du réseau EAD-SI Auvergne.</p>

{% for item in engagements %}


    <div class="list_item vcenter_container contact">


        <div class="vcenter_wrapper item-desc-wrapper"> 


                {% thumbnail item.organization.logo "80x80" as im %}
                <a class="title" style="float:left" href="{{item.organization.get_absolute_url}}">
                   <img class="item-list-icon" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                </a>
                {% endthumbnail %}

            <div class="vcenter_content item-desc-content">

                <h4>{{ item.person.label }}</h4>

            <div class="attr_table">

                {% if item.organization or item.remote_organization_label %}
                    <div class="metadata"><div class="key">Structure</div>
                    {% local_or_remote uri item organization as org_uri %}
                    {% local_or_remote label item organization as org_label %}
                    <div class="value">{% if org_uri %}<a href="{{org_uri}}">{% endif %}
                        {{ org_label }}
                        {% if org_uri %}</a>{% endif %}</div></div>
                {% endif %}

                <div class="metadata"><div class="key">Fonction</div>
                <div class="value">{{ item.role }}, {{ item.role_detail }} 
                </div></div>



            </div>

            <a href="{{item.person.get_absolute_url}}" class="btn btn-warning btn-small proj"><i class="icon-plus icon-small icon-white"></i> Formulaire de contact email</a>

            </div>
        </div>

    </div>

{% endfor%}

{% endblock article %}
