{% extends "page.html" %}
{% load coop_edition thumbnail %}
{% block meta_title %}{{org_category.label}}{% endblock %}



    {% block article %}
<div class="span9">

    {% cms_edit org_category %}

     <h2>{{ org_category.label }}</h2>

    <p class="description">{{ org_category.description|safe }}</p>

    {% end_cms_edit %}


    {% regroup org_list|dictsort:"statut" by get_statut_display as statuts_list %}

    {% for org_statut in statuts_list %}

    <p class="blue_divider">{{org_statut.grouper}}</p>

    <ul class="org_cat">
        {% for item in org_statut.list %}  
            <li><a class="title" href="{{item.get_absolute_url}}">{{ item.title }}</a></li>
        {% endfor %}
    </ul>

    {% endfor %}

    </div>


                    {% block column %}
                        {% include "column.html" %}
                    {% endblock column %}



    {% endblock %}



