{% extends "base.html" %}
{% load thumbnail tagger_extras coop_edition coop_navigation %}

{% block meta_title %}{{organization.title}}{% if_cms_edition %} [EDITION]{% endif %}
{% endblock %}

{% block jquery_declaration %}
{# You can add any additional JS libs here #}
{% if_cms_edition %}{% cms_form_media %}{% endif %}
{% endblock %}


{% block extra_head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tipsy.js"></script>
{% endblock %}



{% block document %}
<section id="main" role="main">
    <div class="row">
        <!-- block title -->
        {% block title %}{% endblock %}
        <!-- block content -->
        {% block article %}
        <div class="span9">

            {% cms_edit organization %}

                <h3>
                     {{ organization.title }}
                    <span class="meta subtitle">{{ organization.subtitle }}</span>
                </h3>
                <hr>
                <p class="description">{{ organization.description|safe }}</p>

            {% end_cms_edit %}

                 <dl class="attr_table">


                    {% if organization.pref_phone %}
                        <dt>Téléphone</dt>
                        <dd>{{organization.pref_phone.content}}</dd>
                    {% endif %}


                    {% if organization.get_statut_display %}
                        <dt>Statut</dt>
                        <dd>{{organization.get_statut_display}}</dd>
                    {% endif %}

                    {% if organization.get_dimension_display %}
                        <dt>Dimension</dt>
                        <dd>{{organization.get_dimension_display}}</dd>
                    {% endif %}

                    {% if organization.birth %}
                        <dt>Année de création</dt>
                        <dd>{{organization.birth|date:"Y"}}</dd>
                    {% endif %}

                    {% if organization.accueil %}
                        <dt>Horaires d'ouverture</dt>
                        <dd>{{ organization.accueil }}</dd>
                    {% endif %}

                    {% if organization.outils_peda %}
                        <dt>Outils pédagogiques</dt>
                        <dd>{{ organization.outils_peda }}</dd>
                    {% endif %}

                     {% if organization.tags.all %}
                        <dt>Mots-clés</dt>
                        <dd>{% for tag in organization.tags.all %}
                            <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                             {% endfor %}</dd>
                     {% endif %}

                    {% if organization.attachments.all %}
                    <dt>Fichiers attachés</dt>
                    <dd>{% for d in organization.attachments.all %}
                        {% if d.get_media_type_display %}{{ d.get_media_type_display }} : {% endif %}
                        <a href="{{ MEDIA_URL }}{{ d.file }}">{{ d.title }}</a>{% if not forloop.last %}<br/>{% endif %}
                        {% endfor %}</dd>
                {% endif %}

                 </dl>

            {% if engagements %}
                <h4>Contacts</h4>
                <ul class="membres">
                    {% for engagement in engagements %}
                    {% if engagement.engagement_display == 1 %}
                        <li><img src="{{STATIC_URL}}img/blank_avatar.png">
                            <p>
                            {% if engagement.person.user %}
                                <a href="{{engagement.person.get_absolute_url}}">{{ engagement.person }}</a>
                            {% else %}
                                {{ engagement.person }}
                            {% endif %}
                            ,<br>
                            {{engagement.role}}
                            </p>
                        </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <br>
            {% endif %}

            {% if organization.annonce_set.all %}
                <h4>Annonces</h4>
                    <ul class="annonces">
                    {% for annonce in organization.annonce_set.all %}
                        <li>
                            <a href="{{annonce.get_absolute_url}}">{{annonce}}</a>
                        </li>
                    {% endfor %}
                    </ul>
            {% endif %}


            {% if organization.articles.all %}
                <h4>Articles</h4>
                    <ul class="annonces">
                    {% for article in organization.articles.all %}
                        <li>
                            <a href="{{article.get_absolute_url}}">{{article}}</a>
                        </li>
                    {% endfor %}
                    </ul>
            {% endif %}


            {% if organization.grant_set.all %}
                <h4>Financements</h4>
                    <ul class="annonces">
                    {% for article in organization.grant_set.all %}
                        <li>
                            <a href="{{article.get_absolute_url}}">{{article}}</a>
                        </li>
                    {% endfor %}
                    </ul>
            {% endif %}

            </div>


            {% block column %}
            <div id="column" class="span3">

                {% if organization.logo %}
                    <div class="org_logo">
                    {% thumbnail organization.logo "200" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                    </div>
                {% endif %}

                <br>

                {% if organization.web %}
                    <div class="web">
                        <a class="weblink" target="_blank" href="{{organization.web}}">

                            <img class="webshot" src="http://img.bitpixels.com/getthumbnail?code=31394&size=200&url={{organization.web}}" />
                            <code class="url">{{organization.web}}</code>
                        </a>
                    </div>
                {% endif %}

                {% for c in organization.contacts.all %}
                    {% if c.contact_medium_id = 9 %}
                    <br>
                    <div class="web">
                        <a class="weblink" target="_blank" href="{{c.content}}">

                            <img class="webshot" src="http://img.bitpixels.com/getthumbnail?code=31394&size=200&url={{c.content}}" />
                            <code class="url">{{c.content}}</code>
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}

                <br>

                {% for a in adresses %}
                    <div class="adresse{% if a.main_location %} main_location{% endif %}">

                        {% if a.main_location %}<strong>Adresse principale:</strong><br>{% endif %}

                        <img src="http://maps.googleapis.com/maps/api/staticmap?markers=size:small%7Ccolor:0xd1453e|{% for a in adresses %}{{a.location.point.get_coords.1|stringformat:"f"}},{{a.location.point.get_coords.0|stringformat:"f"}}|{% endfor %}&maptype=hybrid&size=220x120&sensor=false&zoom=13">

                        {% if a.location_type %}<strong>{{a.location_type}}:</strong><br>{% endif %}
                        <div class="postal">
                            {% if a.location.label != a.location.adr1 %}{{a.location.label}}<br>{% endif %}
                            {{a.location.adr1}}<br>
                            {% if adresse.adr2 %}{{a.location.adr2}}<br>{% endif %}
                            {{a.location.zipcode}} {{a.location.city}}
                        </div>
                        <br>
                        <div class="pref_phone">Telephone : {{ organization.pref_phone.content }}</div>

                    </div>
                {% endfor %}


                {% if organization.get_relations %}
                    {% if 'IN_MEMBER' in organization.get_relations %}
                        <div class="rel_type">Initiatives adhérentes :</div>

                        <ul class="relations">{% for org in organization.get_relations.IN_MEMBER %}
                            <li>
                                <a href="{{org.get_absolute_url}}">{{org.label}}</a>
                            </li>
                        {% endfor %}</ul>
                    {% endif %}
                    {% if 'OUT_MEMBER' in organization.get_relations %}
                        <div class="rel_type">Organisme affilié à :</div>

                        <ul class="relations">{% for org in organization.get_relations.OUT_MEMBER %}
                            <li>
                                <a href="{{org.get_absolute_url}}">{{org.label}}</a>
                            </li>
                        {% endfor %}</ul>
                    {% endif %}

                {% endif %}

            </div>
            {% endblock column %}

        </div>

        {% endblock article %}
{% endblock document %}


{% block jquery_footer %}

  $("ul.relations li").tipsy({gravity:"sw"});

  $("div.org_icon").hover(function() {
        var fade = $('> div', this);
        if (fade.is(':hidden')) {
          fade.show();
            }
        }, function () {
        var fade = $('> div', this);
        if (fade.is(':visible')) {
            fade.hide();
            }
  });

{% endblock %}
