{% extends "page.html" %}
{% load i18n %}

{% block meta_title %}Projets liés à la discipline &lquote;{{ discipline }}&rquote; {% endblock %}


{% block article %}

        <h2 class="like-h1">Projets liés à la discipline &lquote;{{ discipline }}&rquote;</h2>


        <p>Vous trouverez ici tous les projets d'Education au développement portés par les membres du réseau liés à cette discipline scolaire.
        </p>
<ul>
{% for item in projets %}

	<li><a href="{{item.get_absolute_url}}">{{item}}</a><li>

{% endfor %}
</ul>

{% endblock article %}