{% extends "page.html" %}
{% load i18n thumbnail remote %}

{% block meta_title %}Fiche Projet : {{ item }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{STATIC_URL}}leaflet/leaflet.css"/>
    <!--[if lte IE 8]>
         <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
    <![endif]-->
    {{ block.super }}
{% endblock stylesheet %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{{STATIC_URL}}leaflet/leaflet.js"></script>

{% endblock javascript %}


{% block article %}

        <h2 class="like-h1">Fiche Projet : {{ item }}</h2>
        <h3>Porteur du projet</h3>
        <a href="{{ item.organization.get_absolute_url }}">
            {{ item.organization }}</a> ({{ item.organization.get_statut_display }})

            <br>
                <!--  -->
   <div id="map-projects" ></div>
   <div id="map" class="block" style="width: 300px; height: 300px; float:right;margin-left:20px;margin-bottom:10px"></div>


    <script>
        var map = new L.Map('map');
        var ailleurs = new L.LatLng(45.654827, 3.430401); // geographical point (longitude and latitude)

        var cloudmadeUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            cloudmadeAttribution = '&copy; OpenStreetMap',
            cloudmade = new L.tileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttribution});

        map.addLayer(cloudmade);

        $(function(){

            $.getJSON('/geojson/project/?id={{ item.id }}&geotype=zone', function(data) {

                var eadGeojsonLayer = new L.geoJson(data, {
                    onEachFeature: function (feature, layer) {
                        if (feature.properties && feature.properties.label) {
                                layer.bindPopup('<h4>' + feature.properties.label + '</h4>');
                            }
                        }


                }).addTo(map);

                map.fitBounds(eadGeojsonLayer.getBounds().pad(0.3));

             });

            $(".leaflet-control-attribution").hide();

        });


    </script>
<!-- -->



        {% if item.support.all %}
        <h3>Partenaires</h3>
        <ul>
            {% for p in item.project.all %}
            <li><u>{{ p.collaboration_type }}</u> : <a href="{{ p.partner.get_absolute_url }}">
                {{ p.partner.label }}</a> ({{ p.partner.get_statut_display }})</li>
            {% endfor %}
        </ul>
        {% endif %}


        <h3>Description</h3>
        {{ item.description|safe }}





        <h3>Objectifs pédagogiques</h3>
        {{ item.ead_objectifs|safe }}



        <h3>Renseignements complémentaires</h3>
            <div class="attr_table">


                {% if item.person or item.remote_person_label %}
                    <div class="metadata"><div class="key">Auteur</div>
                    {% local_or_remote uri item person as author_uri %}
                    {% local_or_remote label item person as author_label %}
                    <div class="value">{% if author_uri %}<a href="{{author_uri}}">{% endif %}
                        {{ author_label }}
                        {% if author_uri %}</a>{% endif %}</div></div>
                {% endif %}

                {% if item.organization or item.remote_organization_label %}
                    <div class="metadata"><div class="key">Structure</div>
                    {% local_or_remote uri item organization as org_uri %}
                    {% local_or_remote label item organization as org_label %}
                    <div class="value">{% if org_uri %}<a href="{{org_uri}}">{% endif %}
                        {{ org_label }}
                        {% if org_uri %}</a>{% endif %}</div></div>
                {% endif %}


                <div class="metadata"><div class="key">Déroulement</div>
                    <div class="value">Du {{ item.start|date:"d F o"}} au {{ item.end|date:"d F o"}}</div></div>

                {% if item.zone %}
                    <div class="metadata"><div class="key">Zone géographique</div>
                    <div class="value">{{ item.zone.label }}</div></div>
                {% endif %}

                {% if item.budget %}
                    <div class="metadata"><div class="key">Budget</div>
                    <div class="value">{{ item.budget }} €</div></div>
                {% endif %}

                {% if item.status %}
                    <div class="metadata"><div class="key">Statut</div>
                    <div class="value">{{ item.get_status_display }}</div></div>
                {% endif %}

                {% if item.ead_disciplines.all %}
                    <div class="metadata"><div class="key">Discipline associée</div>
                    <div class="value">{% for d in item.ead_disciplines.all %}
                        {{ d }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}</div></div>
                {% endif %}

                    <div class="metadata"><div class="key">Eleves</div>
                    <div class="value">{{item.ead_nb_eleves}} élèves en {% for d in item.ead_niveaux.all %}
                        {{ d }}{% if forloop.last %}.{% else %}, {% endif %}
                        {% endfor %}</div></div>

                <div class="metadata"><div class="key">Personnel enseignant</div>
                    <div class="value">{{item.ead_nb_profs}} personnes.</div></div>

                {% if item.tags.all %}
                    <div class="metadata"><div class="key">Mots-clés</div>
                    <div class="value">{% for tag in item.tags.all %}
                        <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}</div></div>
                {% endif %}

                {% if item.attachments.all %}
                    <div class="metadata"><div class="key">Fichiers attachés</div>
                    <div class="value">{% for d in item.attachments.all %}
                        {% if d.get_media_type_display %}{{ d.get_media_type_display }} : {% endif %}
                        <a href="{{ MEDIA_URL }}{{ d.file }}">{{ d.title }}</a>{% if not forloop.last %}<br/>{% endif %}
                        {% endfor %}</div></div>
                {% endif %}

            </div>






{% endblock article %}
