{% extends "page.html" %}
{% load i18n thumbnail remote coop_navigation %}

{% block meta_title %}Ressources documentaires{% endblock %}

{% block article %}

    {% if link %}
        <ul class="breadcrumb">
        <a href="/">Accueil</a> <span class="divider">/</span>
        {% navigation_breadcrumb link li_template="coop_cms/breadcrumb_li_template.html" tree="navigation_eadsi" %}
        </ul>
    {% endif %}

    <h2 class="like-h1">Ressources documentaires</h2>

{% for item in docresources %}

    <div class="list_item vcenter_container event_item">
        <div class="vcenter_wrapper item-desc-wrapper">
            <div class="vcenter_content item-desc-content">


                {% thumbnail item.logo "120x120" as im %}
                <a class="title" href="{{ item.get_absolute_url }}">
                <img class="event-article-icon" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        </a>
                {% endthumbnail %}

                <a class="title" href="{{ item.get_absolute_url }}">{{ item.label }}</a><br>

                <br>

                <span class="subtitle">{{ item.description|safe }}</span>


            <div class="attr_table">

                {% if item.organization or item.remote_organization_label %}
                    <div class="metadata"><div class="key">Structure référente</div>
                    {% local_or_remote uri item organization as org_uri %}
                    {% local_or_remote label item organization as org_label %}
                    <div class="value">{% if org_uri %}<a href="{{org_uri}}">{% endif %}
                        {{ org_label }}
                        {% if org_uri %}</a>{% endif %}</div></div>
                {% endif %}

            </div>



            <a href="{{item.get_absolute_url}}" class="btn btn-warning btn-small proj"><i class="icon-plus icon-small icon-white"></i>En savoir plus</a>


                </div>
            </div>
        </div>
{% endfor %}


{% endblock article %}


