{% extends "page.html" %}
{% load i18n thumbnail remote coop_navigation %}

{% block meta_title %}Document : {{ item.label }}{% endblock %}

{% block article %}

{% if link %}
    <ul class="breadcrumb">
    <a href="/">Accueil</a> <span class="divider">/</span>
    {% navigation_breadcrumb link li_template="coop_cms/breadcrumb_li_template.html" tree="navigation_eadsi" %}
    </ul>
{% endif %}


<h2>{{item.label}}</h2>
   
        {% if item.summary %}
            <div class="summary">{{ item.summary }}</div>
        {% endif %}
        
    <p>
    {% thumbnail item.logo "200x200" as im %}
    <img class="grant-icon" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
    {{ item.description|safe }}

    </p>


        {% for doc in item.attachments.all %}

        <div class="detail_block attachment">

            <img src="/static/teambox/24x32px/{{doc.extension}}.png" class="attachement_filetype">
            <span>Document : </span>
            <a href="{{ doc.file.url }}">
                {% if not doc.title %}{{ doc.name }}{% else %}{{ doc.title }}{% endif %}
            </a>
        </div>


        {% endfor %}

        {% for link in item.external_links.all %}

        <div class="detail_block external_link">

            <span>Lien Internet : </span>
            <a href="{{ link.object_uri }}">
                {% if not link.object_label %}{{ link.object_uri }}{% else %}{{ link.object_label }}{% endif %}
            </a>
        </div>


        {% endfor %}



            <div class="attr_table">

                {% if item.web %}
                    <div class="metadata"><div class="key">Site internet</div>
                    <div class="value"><a href="{{ item.web }}">{{ item.web|truncatechars:100 }}</a></div></div>
                {% endif %}

                {% if item.organization or item.remote_organization_label %}
                    <div class="metadata"><div class="key">Structure référente</div>
                    {% local_or_remote uri item organization as org_uri %}
                    {% local_or_remote label item organization as org_label %}
                    <div class="value">{% if org_uri %}<a href="{{org_uri}}">{% endif %}
                        {{ org_label }}
                        {% if org_uri %}</a>{% endif %}</div></div>
                {% endif %}

                {% if item.person or item.remote_person_label %}
                    <div class="metadata"><div class="key">Personne référente</div>
                    {% local_or_remote uri item person as author_uri %}
                    {% local_or_remote label item person as author_label %}
                    <div class="value">{% if author_uri %}<a href="{{author_uri}}">{% endif %}
                        {{ author_label }}
                        {% if author_uri %}</a>{% endif %}</div></div>
                {% endif %}

                <div class="metadata"><div class="key">Catégorie</div>
                <div class="value">{% for cat in item.category.all %}{{cat}}{% if not forloop.last %}, {% endif %}{% endfor %} 
                </div></div>


                {% if item.zone.all %}
                    <div class="metadata"><div class="key">Zone{{ item.zone.all|pluralize }} ciblée{{ item.zone.all|pluralize }}</div>
                    <div class="value">{% for zone in item.zone.all %}{{ zone.label }}{% if forloop.last %}.{% else %}, {% endif %}{% endfor %}</div></div>
                {% endif %}


                <div class="metadata"><div class="key">Date de publication</div>
                <div class="value">{{ item.created|date:"j F Y" }}</div></div>

                <div class="metadata"><div class="key">Dernière mise à jour</div>
                <div class="value">{{ item.modified|date:"j F Y" }}</div></div>


            </div>







{% endblock article %}
